**************************************
*                                    *
* DRILL TAPE SUMMARY REPORT          *
*                                    *
* F:\PT8619\PCB\PT8619_REMOTE-2.MAX  *
* Fri Mar 02 14:27:51 2007           *
*                                    *
**************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       310      15       200      100                                                                                 
T2       320      62       200      100                                                                                 
T3       340      14       200      100                                                                                 
T4       380      16       200      100                                                                                 
T5       390      34       200      100                                                                                 
T6       800      5        200      100                                                                                 
T7       1500     8        200      100                                                                                 
