//! **************************************************************************
// Written by: Map H.41 on Fri Nov 25 15:06:24 2005
//! **************************************************************************

SCHEMATIC START;
NET "clk_148_BUFGP/IBUFG" BEL "clk_148_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
