//! **************************************************************************
// Written by: Map H.42 on Mon Nov 28 09:11:19 2005
//! **************************************************************************

SCHEMATIC START;
COMP "pll1_S0_o" LOCATE = SITE "AK21" LEVEL 1;
COMP "pll1_S1_o" LOCATE = SITE "AJ21" LEVEL 1;
COMP "pll1_S2_o" LOCATE = SITE "AK23" LEVEL 1;
COMP "pll1_S3_o" LOCATE = SITE "AJ22" LEVEL 1;
COMP "pll2_S0_o" LOCATE = SITE "AH24" LEVEL 1;
COMP "TP1_o" LOCATE = SITE "AF29" LEVEL 1;
COMP "pll2_S1_o" LOCATE = SITE "AJ23" LEVEL 1;
COMP "zreset_i" LOCATE = SITE "AD23" LEVEL 1;
COMP "TP2_o" LOCATE = SITE "AF30" LEVEL 1;
COMP "pll2_S2_o" LOCATE = SITE "AA30" LEVEL 1;
COMP "clk_1485_n_i" LOCATE = SITE "B15" LEVEL 1;
COMP "TP3_o" LOCATE = SITE "AG28" LEVEL 1;
COMP "pll2_S3_o" LOCATE = SITE "AD30" LEVEL 1;
COMP "TP4_o" LOCATE = SITE "AD29" LEVEL 1;
COMP "clk_1485_p_i" LOCATE = SITE "C15" LEVEL 1;
COMP "rio_clk_1485_n_i" LOCATE = SITE "F15" LEVEL 1;
COMP "cs_1_i" LOCATE = SITE "Y27" LEVEL 1;
COMP "rio_clk_1485_p_i" LOCATE = SITE "G15" LEVEL 1;
NET "TP2_o_OBUF" BEL "make_user_clk.GCLKMUX" USELOCALCONNECT;
COMP "sdi_1_n_o" LOCATE = SITE "A14" LEVEL 1;
COMP "sdi_1_p_o" LOCATE = SITE "A13" LEVEL 1;
COMP "RIO1/GT_CUSTOM_INST" LOCATE = SITE "GT_X2Y1" LEVEL 1;
SCHEMATIC END;
