NET "TP1_o" LOC = "AF29";
NET "TP2_o" LOC = "AF30";
NET "TP3_o" LOC = "AG28";
NET "TP4_o" LOC = "AD29";

NET "pll1_S0_o" LOC = "AK21";
NET "pll1_S1_o" LOC = "AJ21";
NET "pll1_S2_o" LOC = "AK23";
NET "pll1_S3_o" LOC = "AJ22";

NET "pll2_S0_o" LOC = "AH24";
NET "pll2_S1_o" LOC = "AJ23";
NET "pll2_S2_o" LOC = "AA30";
NET "pll2_S3_o" LOC = "AD30";

NET "clk_1485_p_i" LOC = "C15";
NET "clk_1485_n_i" LOC = "B15";

NET "rio_clk_1485_p_i" LOC = "G15";
NET "rio_clk_1485_n_i" LOC = "F15";
#NET "rio_clk_1484_p_i" LOC = "F16";
#NET "rio_clk_1484_n_i" LOC = "G16";

NET "sdi_1_p_o" LOC = "A13"; #"A6";
NET "sdi_1_n_o" LOC = "A14"; #"A7";

NET "zreset_i" LOC = "AD23";
NET "cs_1_i" LOC = "Y27";

INST "RIO1/GT_CUSTOM_INST" LOC = GT_X2Y1;

     