


NET "TP1" LOC = "AD19";		 	#  TP1
NET "TP2" LOC = "AA18";	 		#	TP2
NET "TP3" LOC = "AA17";
NET "TP4" LOC = "Y18";



#NET "f27" LOC = "AF14";
#NET "f7417" LOC = "AF15";
#NET "f7425" LOC = "AF13";
NET "f1484" LOC = "AE15";
NET "f1485" LOC = "AE13";     #148.5 MHz

#NET "sd_hda" LOC = "AB20";    # LCDDEI
#NET "f8g_clean" LOC = "AD14";	# BLUE4
#NET "f4m_clean" LOC = "AB14"; # BLUE5

##NET "txda<7>" LOC = "W16";   # RED1
#NET "txda<1>" LOC = "Y15";    # RED2
#NET "txcta<0>" LOC = "AA13";   # RED3
#NET "txda<7>" LOC = "W13";    # RED4
#NET "txda<6>" LOC = "Y11";    # RED5
#NET "txda<5>" LOC = "AD18";   # GREEN0
#NET "txda<4>" LOC = "AC17";   # GREEN1
#NET "txda<3>" LOC = "AD16";   # GREEN2
#NET "txda<2>" LOC = "AB15";   # GREEN3
#NET "txda<1>" LOC = "AC14";  # GREEN4
#NET "txda<0>" LOC = "AD13";	# GREEN5



##############
NET "TXn_OUT_113a" 	LOC = "C1"; 
NET "TXp_OUT_113a"	LOC = "B1"; 

NET "TXn_OUT_113b" 	LOC = "E1"; 
NET "TXp_OUT_113b"	LOC = "D1";

NET "CS" LOC = "AD24";
NET "SCK" LOC = "AA23";
NET "MOSI" LOC = "AC24";


#NET "Debug9<9>" LOC = "W16";   # RED1
#NET "Debug9<8>" LOC = "Y15";    # RED2
#NET "Debug9<7>" LOC = "AA13";   # RED3
#NET "Debug9<6>" LOC = "W13";    # RED4
#NET "Debug9<5>" LOC = "Y11";    # RED5
NET "Debug9<4>" LOC = "AD18";   # GREEN0
NET "Debug9<3>" LOC = "AC17";   # GREEN1
NET "Debug9<2>" LOC = "AD16";   # GREEN2
NET "Debug9<1>" LOC = "AB15";   # GREEN3
NET "Debug9<0>" LOC = "AC14";  # GREEN4
NET "reset_n" LOC = "AA22";   # MReset


#NET "f1484" LOC = "AE15";


############
#NET "f4m_i" LOC = "AA12";
#NET "f8g_i" LOC = "AB12";
#NET "MReset" LOC = "AA22";


# Timing Constraints:
#NET f7417 PERIOD = 13.4ns;
#NET f7425 PERIOD = 13.4ns;
NET f1485 PERIOD = 6.7ns;
NET f1484 PERIOD = 6.7ns;
INST "mgt113b_GT11_CUSTOM_INST" LOC = GT11_X1Y2;  #using MGT113B
INST "mgt113a_GT11_CUSTOM_INST" LOC = GT11_X1Y3;  #using MGT113A