//! **************************************************************************
// Written by: Map H.42 on Tue Oct 25 09:33:29 2005
//! **************************************************************************

SCHEMATIC START;
COMP "TXn_OUT_113a" LOCATE = SITE "C1" LEVEL 1;
COMP "TXn_OUT_113b" LOCATE = SITE "E1" LEVEL 1;
COMP "TXp_OUT_113a" LOCATE = SITE "B1" LEVEL 1;
COMP "TXp_OUT_113b" LOCATE = SITE "D1" LEVEL 1;
COMP "MOSI" LOCATE = SITE "AC24" LEVEL 1;
COMP "CS" LOCATE = SITE "AD24" LEVEL 1;
COMP "f1484" LOCATE = SITE "AE15" LEVEL 1;
COMP "f1485" LOCATE = SITE "AE13" LEVEL 1;
COMP "Debug9<0>" LOCATE = SITE "AC14" LEVEL 1;
COMP "Debug9<1>" LOCATE = SITE "AB15" LEVEL 1;
COMP "Debug9<2>" LOCATE = SITE "AD16" LEVEL 1;
COMP "Debug9<3>" LOCATE = SITE "AC17" LEVEL 1;
COMP "Debug9<4>" LOCATE = SITE "AD18" LEVEL 1;
COMP "SCK" LOCATE = SITE "AA23" LEVEL 1;
COMP "TP1" LOCATE = SITE "AD19" LEVEL 1;
COMP "TP2" LOCATE = SITE "AA18" LEVEL 1;
COMP "TP3" LOCATE = SITE "AA17" LEVEL 1;
COMP "TP4" LOCATE = SITE "Y18" LEVEL 1;
COMP "reset_n" LOCATE = SITE "AA22" LEVEL 1;
COMP "mgt113b_GT11_CUSTOM_INST" LOCATE = SITE "GT11_X1Y2" LEVEL 1;
COMP "mgt113a_GT11_CUSTOM_INST" LOCATE = SITE "GT11_X1Y3" LEVEL 1;
NET "f1485_IBUFG" PERIOD = 6.7 ns HIGH 50%;
NET "f1484_IBUFG" PERIOD = 6.7 ns HIGH 50%;
SCHEMATIC END;
