//! **************************************************************************
// Written by: Map H.41 on Fri Oct 07 11:56:50 2005
//! **************************************************************************

SCHEMATIC START;
COMP "debug_o<0>" LOCATE = SITE "AC14" LEVEL 1;
COMP "debug_o<1>" LOCATE = SITE "AB15" LEVEL 1;
COMP "debug_o<2>" LOCATE = SITE "AD16" LEVEL 1;
COMP "debug_o<3>" LOCATE = SITE "AC17" LEVEL 1;
COMP "debug_o<4>" LOCATE = SITE "AD18" LEVEL 1;
COMP "debug_o<5>" LOCATE = SITE "Y11" LEVEL 1;
COMP "debug_o<6>" LOCATE = SITE "W13" LEVEL 1;
COMP "debug_o<7>" LOCATE = SITE "AA13" LEVEL 1;
COMP "debug_o<8>" LOCATE = SITE "Y15" LEVEL 1;
COMP "debug_o<9>" LOCATE = SITE "W16" LEVEL 1;
COMP "led1_o" LOCATE = SITE "AD19" LEVEL 1;
COMP "led2_o" LOCATE = SITE "AA18" LEVEL 1;
COMP "led3_o" LOCATE = SITE "AA17" LEVEL 1;
COMP "led4_o" LOCATE = SITE "Y18" LEVEL 1;
COMP "sck_i" LOCATE = SITE "AA23" LEVEL 1;
COMP "res1_o" LOCATE = SITE "AC13" LEVEL 1;
COMP "res2_o" LOCATE = SITE "Y13" LEVEL 1;
COMP "mreset_i" LOCATE = SITE "AA22" LEVEL 1;
COMP "f4m_i" LOCATE = SITE "AA12" LEVEL 1;
COMP "f8g_i" LOCATE = SITE "AB12" LEVEL 1;
COMP "f1484_i" LOCATE = SITE "AE15" LEVEL 1;
COMP "f1485_i" LOCATE = SITE "AE13" LEVEL 1;
COMP "mosi_i" LOCATE = SITE "AC24" LEVEL 1;
COMP "cs1_i" LOCATE = SITE "AD24" LEVEL 1;
NET "f1484_i_IBUFG" PERIOD = 6.7 ns HIGH 50%;
NET "f1485_i_IBUFG" PERIOD = 6.7 ns HIGH 50%;
SCHEMATIC END;
