//! **************************************************************************
// Written by: Map H.41 on Mon Mar 20 12:54:45 2006
//! **************************************************************************

SCHEMATIC START;
NET "videoclk_in_BUFGP/IBUFG" BEL "videoclk_in_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;
