//! **************************************************************************
// Written by: Map H.42 on Thu Apr 27 13:39:40 2006
//! **************************************************************************

SCHEMATIC START;
COMP "ok2_o" LOCATE = SITE "AH23" LEVEL 1;
COMP "brefclk2_n_i" LOCATE = SITE "F15" LEVEL 1;
COMP "mreset_i" LOCATE = SITE "AD23" LEVEL 1;
COMP "brefclk2_p_i" LOCATE = SITE "G15" LEVEL 1;
COMP "pll1_S0_o" LOCATE = SITE "AK21" LEVEL 1;
COMP "sck_i" LOCATE = SITE "AC29" LEVEL 1;
COMP "pll1_S1_o" LOCATE = SITE "AJ21" LEVEL 1;
COMP "pll1_S2_o" LOCATE = SITE "AK23" LEVEL 1;
COMP "mosi_i" LOCATE = SITE "W28" LEVEL 1;
COMP "pll1_S3_o" LOCATE = SITE "AJ22" LEVEL 1;
COMP "led2_o" LOCATE = SITE "AF29" LEVEL 1;
COMP "sd_zhd_1_o" LOCATE = SITE "C1" LEVEL 1;
COMP "sd_zhd_2_o" LOCATE = SITE "D1" LEVEL 1;
COMP "sd_zhd_3_o" LOCATE = SITE "E1" LEVEL 1;
COMP "sd_zhd_4_o" LOCATE = SITE "F1" LEVEL 1;
COMP "pll2_S0_o" LOCATE = SITE "AH24" LEVEL 1;
COMP "pll2_S1_o" LOCATE = SITE "AJ23" LEVEL 1;
COMP "pll2_S2_o" LOCATE = SITE "AA30" LEVEL 1;
COMP "led4_o" LOCATE = SITE "AD29" LEVEL 1;
COMP "cs1_i" LOCATE = SITE "Y27" LEVEL 1;
COMP "pll2_S3_o" LOCATE = SITE "AD30" LEVEL 1;
COMP "led1_o" LOCATE = SITE "AG28" LEVEL 1;
COMP "ok1_o" LOCATE = SITE "AE21" LEVEL 1;
COMP "led3_o" LOCATE = SITE "AF30" LEVEL 1;
NET "brefclk2" BEL "clk2_for_logic.GCLKMUX" USELOCALCONNECT;
PIN serial_interfacing/chan1_ram/B45.A_pins<53> = BEL
        "serial_interfacing/chan1_ram/B45.A" PINNAME CLKA;
PIN serial_interfacing/chan1_ram/B45.B_pins<53> = BEL
        "serial_interfacing/chan1_ram/B45.B" PINNAME CLKB;
TIMEGRP brefclk2_n_i = BEL "led3_o" BEL "led4_o" BEL "led1_o" BEL
        "glitch_removing_sck/delayed_signals_1" BEL
        "glitch_removing_mosi/delayed_signals_1" BEL
        "glitch_removing_cs1/delayed_signals_1" BEL
        "glitch_removing_mreset/delayed_signals_1" BEL "led2_o" BEL
        "serial_interfacing/spi_mosi" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_0" BEL
        "serial_interfacing/channel_ram_Adata_bus_7" BEL
        "serial_interfacing/channel_ram_Adata_bus_6" BEL
        "serial_interfacing/channel_ram_Adata_bus_5" BEL
        "serial_interfacing/channel_ram_Adata_bus_4" BEL
        "serial_interfacing/channel_ram_Adata_bus_3" BEL
        "serial_interfacing/channel_ram_Adata_bus_2" BEL
        "serial_interfacing/spi_cs" BEL "serial_interfacing/sck_tick" BEL
        "serial_interfacing/chan1_ram/BU5" BEL
        "serial_interfacing/chan1_ram/BU7" BEL
        "serial_interfacing/chan1_ram/BU9" BEL
        "serial_interfacing/chan1_ram/BU11" BEL
        "serial_interfacing/chan1_ram/BU13" BEL
        "serial_interfacing/chan1_ram/BU15" BEL
        "serial_interfacing/chan1_ram/BU17" BEL
        "serial_interfacing/chan1_ram/BU19" BEL
        "serial_interfacing/chan1_ram/BU22" BEL
        "serial_interfacing/chan1_ram/BU25" BEL
        "serial_interfacing/chan1_ram/BU27" BEL
        "serial_interfacing/chan1_ram/BU29" BEL
        "serial_interfacing/chan1_ram/BU31" BEL
        "serial_interfacing/chan1_ram/BU33" BEL
        "serial_interfacing/chan1_ram/BU35" BEL
        "serial_interfacing/chan1_ram/BU37" BEL
        "serial_interfacing/chan1_ram/BU39" BEL
        "serial_interfacing/chan1_ram/BU41" PIN
        "serial_interfacing/chan1_ram/B45.A_pins<53>" PIN
        "serial_interfacing/chan1_ram/B45.B_pins<53>" BEL
        "serial_interfacing/sck_delayed" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_1" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_2" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_3" BEL
        "serial_interfacing/channel_sel_0" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_4" BEL
        "serial_interfacing/bitptr_3" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_5" BEL
        "serial_interfacing/channel_ram_Adata_bus_1" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_6" BEL
        "serial_interfacing/tmp_selector_0" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_7" BEL
        "serial_interfacing/channel_ram_Adata_bus_0" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_8" BEL
        "serial_interfacing/permit_Bram1_read" BEL
        "serial_interfacing/permit_ram_write" BEL "serial_interfacing/spi_sck"
        BEL "serial_interfacing/bitptr_5" BEL "serial_interfacing/bitptr_4"
        BEL "serial_interfacing/bitptr_0" BEL "serial_interfacing/bitptr_1"
        BEL "serial_interfacing/bitptr_2" BEL
        "glitch_removing_mreset/delayed_signals_0" BEL
        "glitch_removing_mreset/delayed_signals_2" BEL
        "glitch_removing_mreset/delayed_signals_3" BEL
        "glitch_removing_cs1/delayed_signals_0" BEL
        "glitch_removing_cs1/delayed_signals_2" BEL
        "glitch_removing_cs1/delayed_signals_3" BEL
        "glitch_removing_mosi/delayed_signals_0" BEL
        "glitch_removing_mosi/delayed_signals_2" BEL
        "glitch_removing_mosi/delayed_signals_3" BEL
        "glitch_removing_sck/delayed_signals_0" BEL
        "glitch_removing_sck/delayed_signals_2" BEL
        "glitch_removing_sck/delayed_signals_3" BEL
        "settings_buffering/acounter_8" BEL "settings_buffering/del_o_0" BEL
        "settings_buffering/acounter_4" BEL "settings_buffering/acounter_3"
        BEL "settings_buffering/acounter_2" BEL
        "settings_buffering/acounter_1" BEL "settings_buffering/acounter_0"
        BEL "settings_buffering/acounter_6" BEL
        "settings_buffering/acounter_delayed_7" BEL
        "settings_buffering/acounter_delayed_6" BEL
        "settings_buffering/acounter_delayed_5" BEL
        "settings_buffering/acounter_delayed_4" BEL
        "settings_buffering/acounter_delayed_3" BEL
        "settings_buffering/acounter_delayed_2" BEL
        "settings_buffering/acounter_delayed_1" BEL
        "settings_buffering/acounter_delayed_0" BEL
        "settings_buffering/acounter_7" BEL "settings_buffering/del_o_2" BEL
        "settings_buffering/acounter_delayed_8" BEL
        "settings_buffering/acounter_5" BEL "settings_buffering/del_o_3" BEL
        "settings_buffering/del_o_1" BEL "serial_interfacing/bitptr_0_1" BEL
        "serial_interfacing/bitptr_1_1";
TIMEGRP brefclk2_p_i = BEL "led3_o" BEL "led4_o" BEL "led1_o" BEL
        "glitch_removing_sck/delayed_signals_1" BEL
        "glitch_removing_mosi/delayed_signals_1" BEL
        "glitch_removing_cs1/delayed_signals_1" BEL
        "glitch_removing_mreset/delayed_signals_1" BEL "led2_o" BEL
        "serial_interfacing/spi_mosi" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_0" BEL
        "serial_interfacing/channel_ram_Adata_bus_7" BEL
        "serial_interfacing/channel_ram_Adata_bus_6" BEL
        "serial_interfacing/channel_ram_Adata_bus_5" BEL
        "serial_interfacing/channel_ram_Adata_bus_4" BEL
        "serial_interfacing/channel_ram_Adata_bus_3" BEL
        "serial_interfacing/channel_ram_Adata_bus_2" BEL
        "serial_interfacing/spi_cs" BEL "serial_interfacing/sck_tick" BEL
        "serial_interfacing/chan1_ram/BU5" BEL
        "serial_interfacing/chan1_ram/BU7" BEL
        "serial_interfacing/chan1_ram/BU9" BEL
        "serial_interfacing/chan1_ram/BU11" BEL
        "serial_interfacing/chan1_ram/BU13" BEL
        "serial_interfacing/chan1_ram/BU15" BEL
        "serial_interfacing/chan1_ram/BU17" BEL
        "serial_interfacing/chan1_ram/BU19" BEL
        "serial_interfacing/chan1_ram/BU22" BEL
        "serial_interfacing/chan1_ram/BU25" BEL
        "serial_interfacing/chan1_ram/BU27" BEL
        "serial_interfacing/chan1_ram/BU29" BEL
        "serial_interfacing/chan1_ram/BU31" BEL
        "serial_interfacing/chan1_ram/BU33" BEL
        "serial_interfacing/chan1_ram/BU35" BEL
        "serial_interfacing/chan1_ram/BU37" BEL
        "serial_interfacing/chan1_ram/BU39" BEL
        "serial_interfacing/chan1_ram/BU41" PIN
        "serial_interfacing/chan1_ram/B45.A_pins<53>" PIN
        "serial_interfacing/chan1_ram/B45.B_pins<53>" BEL
        "serial_interfacing/sck_delayed" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_1" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_2" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_3" BEL
        "serial_interfacing/channel_sel_0" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_4" BEL
        "serial_interfacing/bitptr_3" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_5" BEL
        "serial_interfacing/channel_ram_Adata_bus_1" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_6" BEL
        "serial_interfacing/tmp_selector_0" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_7" BEL
        "serial_interfacing/channel_ram_Adata_bus_0" BEL
        "serial_interfacing/channel_ram_Aaddr_bus_8" BEL
        "serial_interfacing/permit_Bram1_read" BEL
        "serial_interfacing/permit_ram_write" BEL "serial_interfacing/spi_sck"
        BEL "serial_interfacing/bitptr_5" BEL "serial_interfacing/bitptr_4"
        BEL "serial_interfacing/bitptr_0" BEL "serial_interfacing/bitptr_1"
        BEL "serial_interfacing/bitptr_2" BEL
        "glitch_removing_mreset/delayed_signals_0" BEL
        "glitch_removing_mreset/delayed_signals_2" BEL
        "glitch_removing_mreset/delayed_signals_3" BEL
        "glitch_removing_cs1/delayed_signals_0" BEL
        "glitch_removing_cs1/delayed_signals_2" BEL
        "glitch_removing_cs1/delayed_signals_3" BEL
        "glitch_removing_mosi/delayed_signals_0" BEL
        "glitch_removing_mosi/delayed_signals_2" BEL
        "glitch_removing_mosi/delayed_signals_3" BEL
        "glitch_removing_sck/delayed_signals_0" BEL
        "glitch_removing_sck/delayed_signals_2" BEL
        "glitch_removing_sck/delayed_signals_3" BEL
        "settings_buffering/acounter_8" BEL "settings_buffering/del_o_0" BEL
        "settings_buffering/acounter_4" BEL "settings_buffering/acounter_3"
        BEL "settings_buffering/acounter_2" BEL
        "settings_buffering/acounter_1" BEL "settings_buffering/acounter_0"
        BEL "settings_buffering/acounter_6" BEL
        "settings_buffering/acounter_delayed_7" BEL
        "settings_buffering/acounter_delayed_6" BEL
        "settings_buffering/acounter_delayed_5" BEL
        "settings_buffering/acounter_delayed_4" BEL
        "settings_buffering/acounter_delayed_3" BEL
        "settings_buffering/acounter_delayed_2" BEL
        "settings_buffering/acounter_delayed_1" BEL
        "settings_buffering/acounter_delayed_0" BEL
        "settings_buffering/acounter_7" BEL "settings_buffering/del_o_2" BEL
        "settings_buffering/acounter_delayed_8" BEL
        "settings_buffering/acounter_5" BEL "settings_buffering/del_o_3" BEL
        "settings_buffering/del_o_1" BEL "serial_interfacing/bitptr_0_1" BEL
        "serial_interfacing/bitptr_1_1";
NET "clk2" PERIOD = 5.6 ns HIGH 50%;
TS_brefclk2_p_i = PERIOD TIMEGRP "brefclk2_p_i" 150 MHz HIGH 50% INPUT_JITTER
        1 ns;
TS_brefclk2_n_i = PERIOD TIMEGRP "brefclk2_n_i" 150 MHz HIGH 50% INPUT_JITTER
        1 ns;
SCHEMATIC END;
