#### Signals coming from PT5300
NET "mreset_i"       LOC = "AD23";
NET "f4m_i"          LOC = "AH21";	
NET "f8g_i"          LOC = "AF22";

#### Clock signals:
NET "brefclk_p_i"    LOC = "F16";    #brefclk
NET "brefclk_n_i"    LOC = "G16";    #brefclk
NET "brefclk2_p_i"   LOC = "G15";    #brefclk2
NET "brefclk2_n_i"   LOC = "F15";    #brefclk2

#NET "refclk_p_i" LOC = "B16";
#NET "refclk_n_i" LOC = "C16";
#NET "refclk2_p_i" LOC = "C15";
#NET "refclk2_n_i" LOC = "B15";


#### To controller:
NET "ok1_o"          LOC = "AE21";			  
NET "ok2_o"          LOC = "AH23";

#### Signals from micro-controller:
NET "sck_i"          LOC = "AC29";
NET "mosi_i"         LOC = "W28";
NET "cs1_i"          LOC = "Y27";   
NET "cs2_i"          LOC = "AD27";  
NET "cs3_i"          LOC = "AC27";  
NET "cs4_i"          LOC = "AD26";  

#### Led's: (OLD, incorrect)
#NET "led1_o"         LOC = "AF29";
#NET "led2_o"         LOC = "AF30";
#NET "led3_o"         LOC = "AG28";
#NET "led4_o"         LOC = "AD29";

#### Led's: (NEW)
NET "led1_o"         LOC = "AG28";  #D2
NET "led2_o"         LOC = "AF29";  #D3
NET "led3_o"         LOC = "AF30";  #D4
NET "led4_o"         LOC = "AD29";  #D5





#### PLL modes:
NET "pll1_S0_o" LOC = "AK21";    # clock to brefclk2
NET "pll1_S1_o" LOC = "AJ21";
NET "pll1_S2_o" LOC = "AK23";
NET "pll1_S3_o" LOC = "AJ22";

NET "pll2_S0_o" LOC = "AH24";    # clock to brefclk
NET "pll2_S1_o" LOC = "AJ23";
NET "pll2_S2_o" LOC = "AA30";
NET "pll2_S3_o" LOC = "AD30";

#### Cable driver modes:
NET "sd_zhd_1_o"           LOC = "C1";
NET "sd_zhd_2_o"           LOC = "D1";
NET "sd_zhd_3_o"           LOC = "E1";
NET "sd_zhd_4_o"           LOC = "F1";

#### Rocket IO:

NET "SDI_p_1_o"      LOC = "A26";
NET "SDI_n_1_o"      LOC = "A27";
INST "HD_Gen_Channel_1/video_generator_instance/rocket_io_inst/serial_data_output/GT_CUSTOM_INST" LOC = GT_X0Y1;

NET "SDI_p_2_o"      LOC = "A19";
NET "SDI_n_2_o"      LOC = "A20";
INST "HD_Gen_Channel_2/video_generator_instance/rocket_io_inst/serial_data_output/GT_CUSTOM_INST" LOC = GT_X1Y1;

NET "SDI_p_3_o"      LOC = "A13";
NET "SDI_n_3_o"      LOC = "A14";
INST "HD_Gen_Channel_3/video_generator_instance/rocket_io_inst/serial_data_output/GT_CUSTOM_INST" LOC = GT_X2Y1;

NET "SDI_p_4_o"      LOC = "A6";
NET "SDI_n_4_o"      LOC = "A7";
INST "HD_Gen_Channel_4/video_generator_instance/rocket_io_inst/serial_data_output/GT_CUSTOM_INST" LOC = GT_X3Y1;

                                                    
# Timing Constraints:
NET "brefclk_p_i" TNM_NET = "brefclk_p_i";
TIMESPEC "TS_brefclk_p_i" = PERIOD "brefclk_p_i" 150 MHz HIGH 50 % INPUT_JITTER 1000 ps;
NET "brefclk_n_i" TNM_NET = "brefclk_n_i";
TIMESPEC "TS_brefclk_n_i" = PERIOD "brefclk_n_i" 150 MHz HIGH 50 % INPUT_JITTER 1000 ps;
NET "brefclk2_p_i" TNM_NET = "brefclk2_p_i";
TIMESPEC "TS_brefclk2_p_i" = PERIOD "brefclk2_p_i" 150 MHz HIGH 50 % INPUT_JITTER 1000 ps;
NET "brefclk2_n_i" TNM_NET = "brefclk2_n_i";
TIMESPEC "TS_brefclk2_n_i" = PERIOD "brefclk2_n_i" 150 MHz HIGH 50 % INPUT_JITTER 1000 ps;


#NET clk1                      PERIOD = 5.6ns;
#NET clk2                      PERIOD = 5.6ns;
##NET refclk                   PERIOD = 5.6ns;
##NET refclk2                  PERIOD = 5.6ns;
#NET brefclk                   PERIOD = 5.6ns;
#NET brefclk2                  PERIOD = 5.6ns;
#
#NET HD_Gen_Channel_1/var_clk  PERIOD = 5.6ns;
#NET HD_Gen_Channel_2/var_clk  PERIOD = 5.6ns;
#NET HD_Gen_Channel_3/var_clk  PERIOD = 5.6ns;
#NET HD_Gen_Channel_4/var_clk  PERIOD = 5.6ns;



#NET "fhm_i"  LOC = "AH22";
#NET "fhg_i"  LOC = "AG23";

#### Signals coming from J3 test points
#NET "Red0_o" LOC = "AE26";
#NET "Red1_o" LOC = "AD25";
#NET "Red2_o" LOC = "AE24";
#NET "Red3_o" LOC = "AF23";
#NET "Red4_o" LOC = "AE22";
#NET "Red5_o" LOC = "AF21";
#
#NET "Blue0_o" LOC = "AH30";
#NET "Blue1_o" LOC = "AH29";
#NET "Blue2_o" LOC = "AK28";
#NET "Blue3_o" LOC = "AH27";
#NET "Blue4_o" LOC = "AH26";
#NET "Blue5_o" LOC = "AE23";
#
#NET "Green0_o" LOC = "AG29";
#NET "Green1_o" LOC = "AJ28";
#NET "Green2_o" LOC = "AF27";
#NET "Green3_o" LOC = "AG26";
#NET "Green4_o" LOC = "AF25";
#NET "Green5_o" LOC = "AF24";
#
#NET "hsync_o" LOC = "AG30";
#NET "vsync_o" LOC = "AF28";
#NET "dei_o" LOC = "AE29";
#NET "clki_o" LOC = "AE27";


#### Signals from micro-controller
#NET "sck_i" LOC = "AC29";
#NET "mosi_i" LOC = "W28";
#NET "miso_i" LOC = "V28";
#

#NET "nss4_i" LOC = "AD22";
#NET "nss5_i" LOC = "AE30";
#NET "nss6_i" LOC = "AE28";
#
#NET "p03" LOC = "AD28";
#NET "p04" LOC = "U27";
#NET "p05" LOC = "T27";
#NET "p06" LOC = "P27";
