//! **************************************************************************
// Written by: Map H.42 on Fri Mar 02 15:12:34 2007
//! **************************************************************************

SCHEMATIC START;
NET "clk_i_BUFGP/IBUFG" BEL "clk_i_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
