***********************************************
*                                             *
* DRILL TAPE SUMMARY REPORT                   *
*                                             *
* F:\PT0760\PCB\FRONT\GERBER2\PT0760_FRO.MAX  *
* Wed Sep 27 11:21:17 2006                    *
*                                             *
***********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       120      147      200      100                                                                                 
T2       300      24       200      100                                                                                 
T3       390      92       200      100                                                                                 
T4       394      5        200      100                                                                                 
T5       1023     2        200      100                                                                                 
T6       1260     10       200      100                                                                                 
