SCHEMATIC START ;
// created by map version G.38 on Fri Jul 15 15:49:16 2005 
NET "f1485_i_IBUFG" BEL "clock_selecting.GCLKMUX" USELOCALCONNECT ;
NET "f1484_i_IBUFG" BEL "clock_selecting.GCLKMUX" USELOCALCONNECT ;
NET "sck_i_BUFGP/IBUFG" BEL "sck_i_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT ;
SCHEMATIC END ;
