NET "cs2_i"      LOC = "AD23";
#NET "cs3_i"      LOC = "AC23";
#NET "cs4_i"      LOC = "AC22";

NET "cs1_i"  LOC = "AD24"  ; 
NET "debug_o<0>"  LOC = "AC14"  ; 
NET "debug_o<1>"  LOC = "AB15"  ; 
NET "debug_o<2>"  LOC = "AD16"  ; 
NET "debug_o<3>"  LOC = "AC17"  ; 
NET "debug_o<4>"  LOC = "AD18"  ; 
NET "debug_o<5>"  LOC = "Y11"  ; 
NET "debug_o<6>"  LOC = "W13"  ; 
NET "debug_o<7>"  LOC = "AA13"  ; 
NET "debug_o<8>"  LOC = "Y15"  ; 
NET "debug_o<9>"  LOC = "W16"  ; 
NET "f1484_i"  LOC = "AE15"  ; 
NET "f1485_i"  LOC = "AE13"  ; 
NET "f4m_i"  LOC = "AA12"  ; 
NET "f8g_i"  LOC = "AB12"  ; 
NET "led1_o"  LOC = "AD19"  ; 
NET "led2_o"  LOC = "AA18"  ; 
NET "led3_o"  LOC = "AA17"  ; 
NET "led4_o"  LOC = "Y18"  ; 
NET "mosi_i"  LOC = "AC24"  ; 
NET "mreset_i"  LOC = "AA22"  ; 
NET "res1_o"  LOC = "AC13"  ; 
NET "res2_o"  LOC = "Y13"  ; 
NET "sck_i"  LOC = "AA23"  ; 

NET "sd_zhd_1_o" 	LOC = "K12"; 
NET "SDI_n_1_o" 	LOC = "E1"; 
NET "SDI_p_1_o"	LOC = "D1";  
                               
#NET "sd_zhd_2_o" LOC = "H11"; 
#NET "SDI_n_2_o" 	LOC = "C1"; 
#NET "SDI_p_2_o"	LOC = "B1"; 


# Timing Constraints:
NET f1484_i PERIOD = 6.7ns;
NET f1485_i PERIOD = 6.7ns;
					 
# Location constrants:
INST "HD_Gen_Channel_1/video_generator_instance/serial_data_output/serial_data_output/GT11_CUSTOM_INST" LOC = GT11_X1Y2;  #using MGT113B
#INST "HD_Gen_Channel_2/video_generator_instance/serial_data_output/serial_data_output/GT11_CUSTOM_INST" LOC = GT11_X1Y3;  #using MGT113A

