**********************************************
*                                            *
* DRILL TAPE SUMMARY REPORT                  *
*                                            *
* F:\PT8616\PCB\REV5_PCB\GPS_GENLOCK-15.MAX  *
* Fri Aug 13 13:10:10 2010                   *
*                                            *
**********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       120      420      200      100                                                                                 
T2       300      14       200      100                                                                                 
T3       320      40       200      100                                                                                 
T4       340      4        200      100                                                                                 
T5       390      10       200      100                                                                                 
T6       394      12       200      100                                                                                 
T7       420      6        200      100                                                                                 
T8       512      10       200      100                                                                                 
T9       800      2        200      100                                                                                 
T10      1500     8        200      100                                                                                 
