Screen Mode = 1
Base        = 1
Hex Mode    = 98
File Format = 108
Ram Disk    = 67
Drive       = A:
Path        = \
Type        = *.BIN
Device Code = 694360
Swapping Page Size = 131071
File No.    = 9
Gang Mode   = 0
Pod Type    = 20
