Screen Mode = 1
Base        = 1
Pod Type    = 28
Drive       = T:
Path        = \VIDEO\NHA\PT5230\8633DR
Type        = *.POF
Device Code = 312702
File No.    = 5
Gang Mode   = 0
Beep        = 1
