#inputs
NET "clk_p_i" 			LOC = "p83";
NET "clk_n_i" 			LOC = "p84";
NET "scl_i"			LOC = "p40";
#NET "reset_i" 		LOC = "p22";
#NET "dip0_i"			LOC = "p53";
#NET "dip1_i"			LOC = "p54";
#NET "dip2_i"			LOC = "p57";
#NET "dip3_i"			LOC = "p58";
#NET "freq_i"			LOC = "p24";
#NET "led_red_i"		LOC = "p3";
#NET "led_green_i"	LOC = "p2";
NET "pps_i"			LOC = "p18";

#outputs
#NET "ns_d_o"			LOC = "p61";
#NET "h_d_o"			LOC = "p60";
#NET "f_d_o"			LOC = "p63";
NET "VCXO_ctrl_o"	LOC = "p62";
#NET "event_o"			LOC = "p27";
#NET "LTC_code_o"		LOC = "p26";
NET "led0_o"			LOC = "p12";
NET "led1_o"			LOC = "p11";

#in/outputs
NET "MCU_gpio0_io"	LOC = "p65";
NET "MCU_gpio1_io"	LOC = "p68";
NET "MCU_gpio2_io"	LOC = "p67";
NET "MCU_gpio3_io"	LOC = "p66";
NET "gpio0_io"		LOC = "p33";
#NET "gpio1_io"		LOC = "p32";
#NET "gpio2_io"		LOC = "p36";
#NET "gpio3_io"		LOC = "p35";
NET "sda_io"			LOC = "p41";