**********************************************
*                                            *
* DRILL TAPE SUMMARY REPORT                  *
*                                            *
* F:\PT0760\PCB\FLEXPRINTS\PT0760_FRONT.MAX  *
* Tue Aug 15 09:58:39 2006                   *
*                                            *
**********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
