INST "rocket_io_inst_1/serial_data_output/GT_CUSTOM_INST" LOC = GT_X0Y1;
INST "rocket_io_inst_2/serial_data_output/GT_CUSTOM_INST" LOC = GT_X1Y1;
INST "rocket_io_inst_3/serial_data_output/GT_CUSTOM_INST" LOC = GT_X2Y1;
INST "rocket_io_inst_4/serial_data_output/GT_CUSTOM_INST" LOC = GT_X3Y1;

# Timing Constraints:
NET "clk_27_i"    TNM_NET = "clk_27_i";
TIMESPEC "TS_clk_27_i" = PERIOD "clk_27_i" 27 MHz HIGH 50 % INPUT_JITTER 1 ns;
NET "brefclk_p_i" TNM_NET = "brefclk_p_i";
TIMESPEC "TS_brefclk_p_i" = PERIOD "brefclk_p_i" 150 MHz HIGH 50 % INPUT_JITTER 1 ns;
NET "brefclk_n_i" TNM_NET = "brefclk_n_i";
TIMESPEC "TS_brefclk_n_i" = PERIOD "brefclk_n_i" 150 MHz HIGH 50 % INPUT_JITTER 1 ns;
NET "brefclk2_p_i" TNM_NET = "brefclk2_p_i";
TIMESPEC "TS_brefclk2_p_i" = PERIOD "brefclk2_p_i" 150 MHz HIGH 50 % INPUT_JITTER 1 ns;
NET "brefclk2_n_i" TNM_NET = "brefclk2_n_i";
TIMESPEC "TS_brefclk2_n_i" = PERIOD "brefclk2_n_i" 150 MHz HIGH 50 % INPUT_JITTER 1 ns;

# Special timing constraints for inter clock domain transfers :
TIMEGRP pll_ffs_on_27_mhz  = FFS ("clock_and_genlock_control/f*_genlock/*");
TIMEGRP pll_ffs_on_148_mhz = FFS ("clock_and_genlock_control/digital_pll_f148*/*");
TIMEGRP genlock_ffs_on_148_mhz = FFS ("clock_and_genlock_control/sec*_transfer_to_148*/*");

#TIMESPEC "TS_pll_F2F" = FROM : pll_ffs_on_27_mhz : TO : pll_ffs_on_148_mhz : 2 ns;          #PLL     #comment if ics plls are used
#TIMESPEC "TS_genlock_F2F" = FROM : pll_ffs_on_27_mhz : TO : genlock_ffs_on_148_mhz : 2 ns;  #Genlock #comment if ics plls are used

# Ignore timing on some pathes:
NET "HD_Gen_Channel_*/serial_interfacing/system_o*"               TIG;
NET "HD_Gen_Channel_*/serial_interfacing/pattern_o*"              TIG;
NET "HD_Gen_Channel_*/serial_interfacing/timing_o*"               TIG;
NET "HD_Gen_Channel_*/serial_interfacing/click_timing*"           TIG;
NET "HD_Gen_Channel_*/serial_interfacing/audio_level_index_o*"    TIG;
NET "HD_Gen_Channel_*/serial_interfacing/audio_signal_index_o*"   TIG;
NET "HD_Gen_Channel_*/serial_interfacing/bmp_v_position_o*"       TIG;
NET "HD_Gen_Channel_*/serial_interfacing/bmp_h_position_o*"       TIG;
NET "HD_Gen_Channel_*/serial_interfacing/bmp_h_size_o*"           TIG;
NET "HD_Gen_Channel_*/serial_interfacing/bmp_v_size_o*"           TIG;
NET "HD_Gen_Channel_*/serial_interfacing/bmp_scale_o*"            TIG;
NET "HD_Gen_Channel_*/serial_interfacing/bmp_back_text_color_o*"  TIG;
NET "HD_Gen_Channel_*/serial_interfacing/bmp_movement_o*"         TIG;
NET "HD_Gen_Channel_*/serial_interfacing/bmp_on_zoff_o*"          TIG;

NET "HD_Gen_Channel_*/system_controller/actual_system*"           TIG;
NET "HD_Gen_Channel_*/system_controller/actual_pattern*"          TIG;

# Specify double-cycle pathes:
INST "HD_Gen_Channel_*/video_generator_instance/audio_generation/*"                          TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/audio_content_generation/*"                  TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/Checkfield_generation/*"                     TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/clapboard_index_generation/*"                TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/colorbar_index_generation/*"                 TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/active_video_filtering/*"                    TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/active_video_filtering/luma_filtering/*"     TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/active_video_filtering/chroma_filtering/*"   TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/luma_ramp_generation/*"                      TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/pluge_generation/*"                          TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/text_generation/*"                           TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/window_generation/*"                         TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/crosshatch_generation/*"                     TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/payload_insertion/*"                         TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/CRC_insertion_*/*"         TNM = "double_cycle";

#Selected output signals from system generator:
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/active_line_count*"        TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/last_av_sample*"           TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/av_sample*"                TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/line_count*"               TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/f_bit*"                    TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/v_bit*"                    TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/h_bit*"                    TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/cr_zcb*"                   TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/sav_tick_advanced*"        TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/eav_tick_advanced_o*"      TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/frame_end*"                TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/filter_force_black_o*"     TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/system_generation/anc_space_o*"              TNM = "double_cycle";

# Specify quad-cycle pathes:
#INST "clock_and_genlock_control/digital_pll_f148*/phase_detector/phase_diff*"                TNM = "quad_cycle";     #comment if ics plls are used
#INST "clock_and_genlock_control/digital_pll_f148*/loopfilter/lf_int_reg*"                    TNM = "quad_cycle";     #comment if ics plls are used
#INST "clock_and_genlock_control/digital_pll_f148*/serial_data_to_dac/shift_reg*"             TNM = "quad_cycle";     #comment if ics plls are used

TIMESPEC "TS_2cycle" = FROM "double_cycle" TO "double_cycle" "TS_brefclk_p_i" / 2;
#TIMESPEC "TS_4cycle" = FROM "quad_cycle" TO "quad_cycle" "TS_brefclk_p_i" / 4;                                        #comment if ics plls are used

# clock to output pin:
#NET "led_o*" OFFSET = OUT 5 AFTER "brefclk2_n_i";
#TIMESPEC TSF2P  = FROM : FFS   : TO : PADS  : 25 ns;


NET "brefclk2_n_i"   LOC = "F15";   #brefclk2
NET "brefclk2_p_i"   LOC = "G15";   #brefclk2
NET "brefclk_n_i"    LOC = "G16";   #brefclk
NET "brefclk_p_i"    LOC = "F16";   #brefclk
NET "clk_27_i"       LOC = "AH16";  #f27

NET "cs1_i"          LOC = "Y27";
NET "f4m_i"          LOC = "AH21";
NET "f8g_i"          LOC = "AF22";

NET "led_o<0>"       LOC = "AG28";  #D2
NET "led_o<1>"       LOC = "AF29";  #D3
NET "led_o<2>"       LOC = "AF30";  #D4
NET "led_o<3>"       LOC = "AD29";  #D5

NET "dac_sclk_1_o"   LOC = "E30";   # OBS: Opposite as on schematics!
NET "dac_dout_1_o"   LOC = "F30";
NET "dac_zsync_1_o"  LOC = "D30";

NET "dac_sclk_2_o"   LOC = "K1"; 
NET "dac_dout_2_o"   LOC = "G1"; 
NET "dac_zsync_2_o"  LOC = "M1"; 
    
NET "mosi_i"         LOC = "W28";
NET "miso_o"         LOC = "V28";
NET "mreset_i"       LOC = "AD23";
NET "ok1_o"          LOC = "AE21";
NET "ok2_o"          LOC = "AH23";

NET "pll1_s_o<0>"      LOC = "AK21";     # clock to brefclk2
NET "pll1_s_o<1>"      LOC = "AJ21";     
NET "pll1_s_o<2>"      LOC = "AK23";     
NET "pll1_s_o<3>"      LOC = "AJ22";     
NET "pll2_s_o<0>"      LOC = "AH24";     # clock to brefclk
NET "pll2_s_o<1>"      LOC = "AJ23";
NET "pll2_s_o<2>"      LOC = "AA30";
NET "pll2_s_o<3>"      LOC = "AD30";

NET "sck_i"          LOC = "AC29";
NET "sd_zhd_1_o"     LOC = "C1";
NET "sd_zhd_2_o"     LOC = "D1";
NET "sd_zhd_3_o"     LOC = "E1";
NET "sd_zhd_4_o"     LOC = "F1";

#NET "vcxo_control_1_o"  LOC = "D30"; # | DRIVE = 2 ; # VCXO_Ctrl2
#NET "vcxo_control_2_o"  LOC = "A3";  # | DRIVE = 2 ; # VCXO_Ctrl1

NET "red_o(0)"    LOC = "AE26";
NET "red_o(1)"    LOC = "AD25";
NET "red_o(2)"    LOC = "AE24";
NET "red_o(3)"    LOC = "AF23";
NET "red_o(4)"    LOC = "AE22";
NET "red_o(5)"    LOC = "AF21";

NET "green_o(0)"  LOC = "AG29";
NET "green_o(1)"  LOC = "AJ28";
NET "green_o(2)"  LOC = "AF27";
NET "green_o(3)"  LOC = "AG26";
NET "green_o(4)"  LOC = "AF25";
NET "green_o(5)"  LOC = "AF24";

NET "blue_o(0)"   LOC = "AH30";
NET "blue_o(1)"   LOC = "AH29";
NET "blue_o(2)"   LOC = "AK28";
NET "blue_o(3)"   LOC = "AH27";
NET "blue_o(4)"   LOC = "AH26";
NET "blue_o(5)"   LOC = "AE23";


#NET "pc_ibf_i"  LOC = "AE26"  ; #NET "Red0_o"  LOC = "AE26";
#NET "pc_zstb_o"  LOC = "AD25" | SLEW = SLOW ; #NET "Red1_o"  LOC = "AD25";

#NET "pc_data_o<0>"  LOC = "AE23" | SLEW = SLOW ; #NET "Blue5_o" LOC = "AE23";| #NET "Blue5_o" LOC = "AE23";
#NET "pc_data_o<1>"  LOC = "AH26" | SLEW = SLOW ; #NET "Blue4_o" LOC = "AH26";| #NET "Blue4_o" LOC = "AH26";
#NET "pc_data_o<2>"  LOC = "AH27" | SLEW = SLOW ; #NET "Blue3_o" LOC = "AH27";| #NET "Blue3_o" LOC = "AH27";
#NET "pc_data_o<3>"  LOC = "AK28" | SLEW = SLOW ; #NET "Blue2_o" LOC = "AK28";| #NET "Blue2_o" LOC = "AK28";
#NET "pc_data_o<4>"  LOC = "AH29" | SLEW = SLOW ; #NET "Blue1_o" LOC = "AH29";| #NET "Blue1_o" LOC = "AH29";
#NET "pc_data_o<5>"  LOC = "AH30" | SLEW = SLOW ; #NET "Blue0_o" LOC = "AH30";| #NET "Blue0_o" LOC = "AH30";
#NET "pc_data_o<6>"  LOC = "AF21" | SLEW = SLOW ; #NET "Red5_o"  LOC = "AF21";| #NET "Red5_o"  LOC = "AF21";
#NET "pc_data_o<7>"  LOC = "AE22" | SLEW = SLOW ; #NET "Red4_o"  LOC = "AE22";| #NET "Red4_o"  LOC = "AE22";
#NET "pc_data_o<8>"  LOC = "AF23" | SLEW = SLOW ; #NET "Red3_o"  LOC = "AF23";| #NET "Red3_o"  LOC = "AF23";
#NET "pc_data_o<9>"  LOC = "AE24" | SLEW = SLOW ; #NET "Red2_o"  LOC = "AE24";
#NET "Red2_o"  LOC = "AE24";

#NET "pc_ibf_i"  LOC = "AE26"  ; #NET "Red0_o"  LOC = "AE26";
#NET "pc_zstb_o"  LOC = "AD25" | SLEW = SLOW ; #NET "Red1_o"  LOC = "AD25";
#NET "Red1_o"  LOC = "AD25";

#INST "clock_and_genlock_control/digital_pll_f148*/sd_dac_input*"                             TNM = "quad_cycle";
#INST "clock_and_genlock_control/digital_pll_f148*/single_bit_dac/dac_int_reg*"               TNM = "quad_cycle";
