(edif SPG
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1999 04 20 14 32 42)
   (program "CAPTURE.EXE" (Version "7.20.170 - S"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "xxxx")
  (comment "Tuesday, April 20, 1999")
  (comment "C:\SNJ\PT5220\SBP\DIAGRAM\01\SPG07.DSN")
  (comment "a")
  (comment "ptv")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance)))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell SPG
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface)
    (contents))))
 (design SPG
  (cellRef SPG
   (libraryRef MAIN_LIB))))
