**************************************
*                                    *
* DRILL TAPE SUMMARY REPORT          *
*                                    *
* F:\PT8619\PCB\PT8619_REMOTE-5.MAX  *
* Wed Mar 07 14:16:57 2007           *
*                                    *
**************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       200      41       200      100                                                                                 
T2       310      15       200      100                                                                                 
T3       320      62       200      100                                                                                 
T4       340      14       200      100                                                                                 
T5       380      16       200      100                                                                                 
T6       390      34       200      100                                                                                 
T7       800      5        200      100                                                                                 
T8       1500     8        200      100                                                                                 
