SCHEMATIC START ;
// created by map version G.38 on Wed Aug 24 09:36:07 2005 
COMP "tsg1_lvl_i" LOCATE =  SITE "P155" LEVEL 1; 
COMP "tsg2_lvl_i" LOCATE =  SITE "P156" LEVEL 1; 
COMP "tsg3_lvl_i" LOCATE =  SITE "P150" LEVEL 1; 
COMP "tsg4_lvl_i" LOCATE =  SITE "P152" LEVEL 1; 
COMP "f4m_i" LOCATE =  SITE "P81" LEVEL 1; 
COMP "f8g_i" LOCATE =  SITE "P85" LEVEL 1; 
COMP "clmp1_o" LOCATE =  SITE "P149" LEVEL 1; 
COMP "clmp2_o" LOCATE =  SITE "P148" LEVEL 1; 
COMP "clmp3_o" LOCATE =  SITE "P147" LEVEL 1; 
COMP "clmp4_o" LOCATE =  SITE "P146" LEVEL 1; 
COMP "cs1_i" LOCATE =  SITE "P124" LEVEL 1; 
COMP "cs2_i" LOCATE =  SITE "P125" LEVEL 1; 
COMP "cs3_i" LOCATE =  SITE "P111" LEVEL 1; 
COMP "cs4_i" LOCATE =  SITE "P107" LEVEL 1; 
COMP "sck_i" LOCATE =  SITE "P115" LEVEL 1; 
COMP "tsg1_o<0>" LOCATE =  SITE "P180" LEVEL 1; 
COMP "tsg1_o<1>" LOCATE =  SITE "P181" LEVEL 1; 
COMP "tsg1_o<2>" LOCATE =  SITE "P182" LEVEL 1; 
COMP "tsg1_o<3>" LOCATE =  SITE "P183" LEVEL 1; 
COMP "tsg2_o<0>" LOCATE =  SITE "P172" LEVEL 1; 
COMP "tsg2_o<1>" LOCATE =  SITE "P175" LEVEL 1; 
COMP "tsg2_o<2>" LOCATE =  SITE "P176" LEVEL 1; 
COMP "tsg2_o<3>" LOCATE =  SITE "P178" LEVEL 1; 
COMP "tsg3_o<0>" LOCATE =  SITE "P167" LEVEL 1; 
COMP "tsg3_o<1>" LOCATE =  SITE "P168" LEVEL 1; 
COMP "tsg3_o<2>" LOCATE =  SITE "P169" LEVEL 1; 
COMP "tsg3_o<3>" LOCATE =  SITE "P171" LEVEL 1; 
COMP "tsg4_o<0>" LOCATE =  SITE "P161" LEVEL 1; 
COMP "tsg4_o<1>" LOCATE =  SITE "P162" LEVEL 1; 
COMP "tsg4_o<2>" LOCATE =  SITE "P165" LEVEL 1; 
COMP "tsg4_o<3>" LOCATE =  SITE "P166" LEVEL 1; 
COMP "led1_o" LOCATE =  SITE "P126" LEVEL 1; 
COMP "led2_o" LOCATE =  SITE "P97" LEVEL 1; 
COMP "led3_o" LOCATE =  SITE "P141" LEVEL 1; 
COMP "res1_o" LOCATE =  SITE "P93" LEVEL 1; 
COMP "res2_o" LOCATE =  SITE "P90" LEVEL 1; 
COMP "mosi_i" LOCATE =  SITE "P123" LEVEL 1; 
COMP "mreset_i" LOCATE =  SITE "P80" LEVEL 1; 
COMP "f1484_i" LOCATE =  SITE "P76" LEVEL 1; 
COMP "f1485_i" LOCATE =  SITE "P77" LEVEL 1; 
NET "f1485_i_IBUFG" BEL "f1485b_i_distribution.GCLKMUX" USELOCALCONNECT ;
NET "f1484_i_IBUFG" BEL "clock_select_ch_1.GCLKMUX" USELOCALCONNECT ;
NET "f1485_i_IBUFG" BEL "clock_select_ch_1.GCLKMUX" USELOCALCONNECT ;
NET "f1484_i_IBUFG" BEL "clock_select_ch_2.GCLKMUX" USELOCALCONNECT ;
NET "f1485_i_IBUFG" BEL "clock_select_ch_2.GCLKMUX" USELOCALCONNECT ;
NET "f1485_i_IBUFG" BEL "clock_select_ch_3.GCLKMUX" USELOCALCONNECT ;
NET "f1484_i_IBUFG" BEL "clock_select_ch_3.GCLKMUX" USELOCALCONNECT ;
NET "f1485_i_IBUFG" BEL "clock_select_ch_4.GCLKMUX" USELOCALCONNECT ;
NET "f1484_i_IBUFG" BEL "clock_select_ch_4.GCLKMUX" USELOCALCONNECT ;
NET "f1485_i_IBUFG" BEL "f1485c_i_distribution.GCLKMUX" USELOCALCONNECT ;
NET "f1485_i_IBUFG" BEL "f1485a_i_distribution.GCLKMUX" USELOCALCONNECT ;
NET "f1484_i_IBUFG" BEL "f1484_i_distribution.GCLKMUX" USELOCALCONNECT ;
NET "f1485a" PERIOD =  6.700 nS   HIGH 50.000000 % ;
NET "f1485_i_IBUFG" PERIOD =  6.700 nS   HIGH 50.000000 % ;
NET "f1484_i_IBUFG" PERIOD =  6.700 nS   HIGH 50.000000 % ;
NET "clk1" PERIOD =  6.700 nS   HIGH 50.000000 % ;
NET "clk2" PERIOD =  6.700 nS   HIGH 50.000000 % ;
NET "clk3" PERIOD =  6.700 nS   HIGH 50.000000 % ;
NET "clk4" PERIOD =  6.700 nS   HIGH 50.000000 % ;
NET "f1485c" PERIOD =  6.700 nS   HIGH 50.000000 % ;
NET "f1485b" PERIOD =  6.700 nS   HIGH 50.000000 % ;
NET "f1484" PERIOD =  6.700 nS   HIGH 50.000000 % ;
SCHEMATIC END ;
