(edif dcmx1y1_2vp20
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 12 4 11 32 31)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT4 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port I3 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port P (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell dcmx1y1_2vp20 (cellType GENERIC)
       (view structure (viewType NETLIST)
         (interface
           (port clock1_in (direction INPUT)
 )
           (port clock2_in (direction INPUT)
 )
           (port clock1_out (direction OUTPUT))
           (port clock2_out (direction OUTPUT))
         )
         (contents
          (instance VCC (viewRef PRIM (cellRef VCC (libraryRef UNILIB)))          )
          (instance INV1_1 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property lock_pins (string ""))
           (property bel (string "G"))
           (property loc (string "SLICE_X28Y110"))
           (property init (string "0f0f"))
          )
          (instance BUF1_1 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property lock_pins (string ""))
           (property bel (string "F"))
           (property loc (string "SLICE_X28Y110"))
           (property init (string "ff00"))
          )
          (instance INV2_1 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property lock_pins (string ""))
           (property bel (string "G"))
           (property loc (string "SLICE_X43Y111"))
           (property init (string "3333"))
          )
          (instance INV1_2 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property lock_pins (string ""))
           (property bel (string "G"))
           (property loc (string "SLICE_X29Y111"))
           (property init (string "00ff"))
          )
          (instance BUF1_2 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property lock_pins (string ""))
           (property bel (string "F"))
           (property loc (string "SLICE_X29Y111"))
           (property init (string "ff00"))
          )
          (instance INV2_2 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property lock_pins (string ""))
           (property bel (string "G"))
           (property loc (string "SLICE_X42Y110"))
           (property init (string "3333"))
          )
          (net clock1_in (joined
           (portRef clock1_in)
           (portRef I2 (instanceRef INV1_1))
          ))
          (net clock2_in (joined
           (portRef clock2_in)
           (portRef I3 (instanceRef INV1_2))
          ))
          (net clock1_out (joined
           (portRef clock1_out)
           (portRef O (instanceRef INV2_1))
           )
          )
          (net clock2_out (joined
           (portRef clock2_out)
           (portRef O (instanceRef INV2_2))
           )
          )
          (net clkd1inv_1 (joined
           (portRef I3 (instanceRef BUF1_1))
           (portRef O (instanceRef INV1_1))
           )
          )
          (net clkd1buf_1 (joined
           (portRef I1 (instanceRef INV2_1))
           (portRef O (instanceRef BUF1_1))
           )
           (property route (string "{2;1;-5!-1;-28904;93424;14;45;224;30;13!0;9304;1559;42!1;21656;0!2;7720;-86;2!3;-7832;0!4;-2447;-553;0!5;327;0;4;66;227;19!}"))
          )
          (net clkd1inv_2 (joined
           (portRef I3 (instanceRef BUF1_2))
           (portRef O (instanceRef INV1_2))
           )
          )
          (net clkd1buf_2 (joined
           (portRef I1 (instanceRef INV2_2))
           (portRef O (instanceRef BUF1_2))
           )
           (property route (string "{2;1;-5!-1;-28744;94456;14;45;227;30;13!0;9128;-1677;42!1;21656;0!2;7720;122;2!3;-7832;0!4;-2424;776;0!5;160;-365;4;66;224;19!}"))
          )
          (net (rename VCCZ0 "VCC") (joined
           (portRef P (instanceRef VCC))
           (portRef I3 (instanceRef INV2_2))
           (portRef I2 (instanceRef INV2_2))
           (portRef I0 (instanceRef INV2_2))
           (portRef I2 (instanceRef BUF1_2))
           (portRef I1 (instanceRef BUF1_2))
           (portRef I0 (instanceRef BUF1_2))
           (portRef I2 (instanceRef INV1_2))
           (portRef I1 (instanceRef INV1_2))
           (portRef I0 (instanceRef INV1_2))
           (portRef I3 (instanceRef INV2_1))
           (portRef I2 (instanceRef INV2_1))
           (portRef I0 (instanceRef INV2_1))
           (portRef I2 (instanceRef BUF1_1))
           (portRef I1 (instanceRef BUF1_1))
           (portRef I0 (instanceRef BUF1_1))
           (portRef I3 (instanceRef INV1_1))
           (portRef I1 (instanceRef INV1_1))
           (portRef I0 (instanceRef INV1_1))
          ))
         )
        (property KEEP_HIERARCHY (string "TRUE"))
       )
    )
  )
  (design dcmx1y1_2vp20 (cellRef dcmx1y1_2vp20 (libraryRef work))
	(property PART (string "xc2vp20ff1152-5") (owner "Xilinx")))
)
