//! **************************************************************************
// Written by: Map H.42 on Fri Aug 18 11:36:11 2006
//! **************************************************************************

SCHEMATIC START;
NET "clk_i_BUFGP/IBUFG" BEL "clk_i_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
