//! **************************************************************************
// Written by: Map H.42 on Wed Aug 30 16:01:51 2006
//! **************************************************************************

SCHEMATIC START;
NET "clk_i_BUFGP/IBUFG" BEL "clk_i_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
