#### Signals coming from PT5300
#### Clock signals:
#### Signals from micro-controller:
#### Led's: (NEW)
#### Cable driver modes:
#NET "sd_zhd_1_o" LOC = "C1";
#NET "sd_zhd_2_o" LOC = "D1";
#NET "sd_zhd_3_o" LOC = "E1";
#NET "sd_zhd_4_o" LOC = "F1";
#### Rocket IO:
#NET "SDI_p_1_o" LOC = "A26";
#NET "SDI_n_1_o" LOC = "A27";
#INST "HD_Gen_Channel_1/video_generator_instance/rocket_io_inst/serial_data_output/GT_CUSTOM_INST" LOC = GT_X0Y1;
#NET "SDI_p_2_o" LOC = "A19";
#NET "SDI_n_2_o" LOC = "A20";
#INST "HD_Gen_Channel_2/video_generator_instance/rocket_io_inst/serial_data_output/GT_CUSTOM_INST" LOC = GT_X1Y1;
#NET "SDI_p_3_o" LOC = "A13";
#NET "SDI_n_3_o" LOC = "A14";
#INST "HD_Gen_Channel_3/video_generator_instance/rocket_io_inst/serial_data_output/GT_CUSTOM_INST" LOC = GT_X2Y1;
#NET "SDI_p_4_o" LOC = "A6";
#NET "SDI_n_4_o" LOC = "A7";
#INST "HD_Gen_Channel_4/video_generator_instance/rocket_io_inst/serial_data_output/GT_CUSTOM_INST" LOC = GT_X3Y1;
# Timing Constraints:
NET "brefclk_p_i" TNM_NET = "brefclk_p_i";
TIMESPEC "TS_brefclk_p_i" = PERIOD "brefclk_p_i" 150 MHz HIGH 50 % INPUT_JITTER 1 ns;
NET "brefclk_n_i" TNM_NET = "brefclk_n_i";
TIMESPEC "TS_brefclk_n_i" = PERIOD "brefclk_n_i" 150 MHz HIGH 50 % INPUT_JITTER 1 ns;
NET "brefclk2_p_i" TNM_NET = "brefclk2_p_i";
TIMESPEC "TS_brefclk2_p_i" = PERIOD "brefclk2_p_i" 150 MHz HIGH 50 % INPUT_JITTER 1 ns;
NET "brefclk2_n_i" TNM_NET = "brefclk2_n_i";
TIMESPEC "TS_brefclk2_n_i" = PERIOD "brefclk2_n_i" 150 MHz HIGH 50 % INPUT_JITTER 1 ns;
# Ignore timing on some pathes:
NET "HD_Gen_Channel_1/system_controller/actual_system_var_clk*" TIG;
NET "HD_Gen_Channel_1/system_controller/pattern_o*" TIG;
#NET "HD_Gen_Channel_2/system_controller/actual_system_var_clk*" TIG;
#NET "HD_Gen_Channel_2/system_controller/pattern_o*" TIG;
#NET "HD_Gen_Channel_3/system_controller/actual_system_var_clk*" TIG;
#NET "HD_Gen_Channel_3/system_controller/pattern_o*" TIG;
#NET "HD_Gen_Channel_4/system_controller/actual_system_var_clk*" TIG;
#NET "HD_Gen_Channel_4/system_controller/pattern_o*" TIG;

INST "HD_Gen_Channel_*/video_generator_instance/audio_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/audio_content_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/Checkfield_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/clapboard_index_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/colorbar_index_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/active_video_filtering/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/active_video_filtering/luma_filtering/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/active_video_filtering/chroma_filtering/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/luma_ramp_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/pluge_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/text_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/window_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/crosshatch_generation/*" TNM = "double_cycle";
#INST "HD_Gen_Channel_*/video_generator_instance/system_generation/*" TNM = "double_cycle";

#INST "HD_Gen_Channel_*/video_generator_instance/system_generation/sync_reset*" TNM = "single_cycle";
#INST "HD_Gen_Channel_*/video_generator_instance/system_generation/frame_start*" TNM = "single_cycle";
#INST "HD_Gen_Channel_*/video_generator_instance/system_generation/look*" TNM = "single_cycle";

TIMESPEC "TS_2cycle" = FROM "double_cycle" TO "double_cycle" "TS_brefclk_p_i" / 2;
#TIMESPEC "TS_1cycle" = FROM "single_cycle" TO "FFS" "TS_brefclk_p_i";

#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "brefclk2_n_i"  LOC = "F15"  ; #brefclk2
#### To controller:
NET "brefclk2_p_i"  LOC = "G15"  ; #brefclk2
NET "brefclk_n_i"  LOC = "G16"  ; #brefclk
NET "brefclk_p_i"  LOC = "F16"  ; #brefclk
NET "cs1_i"  LOC = "Y27"  ; 
NET "debug_o<0>"  LOC = "AE23" | DRIVE = SLOW  | SLEW = SLOW ; #NET "Blue5_o" LOC = "AE23";

NET "debug_o<10>"  LOC = "AD25"  ; #NET "Red1_o"  LOC = "AD25";
NET "debug_o<11>"  LOC = "AE26"  ; #NET "Red0_o"  LOC = "AE26";
NET "debug_o<1>"  LOC = "AH26"  ; #NET "Blue4_o" LOC = "AH26";
NET "debug_o<2>"  LOC = "AH27"  ; #NET "Blue3_o" LOC = "AH27";
NET "debug_o<3>"  LOC = "AK28"  ; #NET "Blue2_o" LOC = "AK28";
NET "debug_o<4>"  LOC = "AH29"  ; #NET "Blue1_o" LOC = "AH29";
NET "debug_o<5>"  LOC = "AH30"  ; #NET "Blue0_o" LOC = "AH30";
NET "debug_o<6>"  LOC = "AF21"  ; #NET "Red5_o"  LOC = "AF21";
NET "debug_o<7>"  LOC = "AE22"  ; #NET "Red4_o"  LOC = "AE22";
NET "debug_o<8>"  LOC = "AF23"  ; #NET "Red3_o"  LOC = "AF23";
NET "debug_o<9>"  LOC = "AE24"  ; #NET "Red2_o"  LOC = "AE24";
NET "f4m_i"  LOC = "AH21"  ; 
NET "f8g_i"  LOC = "AF22"  ; 
NET "led1_o"  LOC = "AG28"  ; #D2
NET "led2_o"  LOC = "AF29"  ; #D3
NET "led3_o"  LOC = "AF30"  ; #D4
NET "led4_o"  LOC = "AD29"  ; #D5
#### PLL modes:
NET "mosi_i"  LOC = "W28"  ; 
NET "mreset_i"  LOC = "AD23"  ; 
NET "ok1_o"  LOC = "AE21"  ; 
NET "ok2_o"  LOC = "AH23"  ; 
NET "pll1_S0_o"  LOC = "AK21"  ; # clock to brefclk2
NET "pll1_S1_o"  LOC = "AJ21"  ; 
NET "pll1_S2_o"  LOC = "AK23"  ; 
NET "pll1_S3_o"  LOC = "AJ22"  ; 
NET "pll2_S0_o"  LOC = "AH24"  ; # clock to brefclk
NET "pll2_S1_o"  LOC = "AJ23"  ; 
NET "pll2_S2_o"  LOC = "AA30"  ; 
NET "pll2_S3_o"  LOC = "AD30"  ; 
NET "sck_i"  LOC = "AC29"  ; 

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
