BODY {background: #E9E9E9 url(/images/body_bg.jpg) repeat-y;
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    text: #000000;
    link: #0000EE;
    alink: #551A8B;
    vlink: #551A8B;
	margin-top:0;
	margin-left:0;
	margin-right:0;
	margin-bottom:0;
    behavior: url(/ssi/csshover.htc);} 
P,TD,UL,OL {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    }
.RF-LI
	{
	list-style-image:  url(/bvdocs/images/home_arrowV2005.gif); 
	}
.HP-LI
	{
	list-style-image:  url(/bvdocs/images/home_arrowV2005.gif); 
	}
.HP-UL
	{
	margin-bottom: 6px;
	margin-top:0px;
	}
.RF-UL
	{
	margin-bottom: 6px;
	margin-top:0px;
	}
PRE {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    color:#666666;
    }
TABLE {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    }
TABLE-HEADER { 
    background-color: #98C7B4;
    } 
TABLE-FOOTER { 
    background-color: #98C7B4;
    }
A:hover {
    color: #0000EE;
	text-decoration: underline;
    }
A.TERTIARY-NAVIGATION-TEXT,
A.TERTIARY-NAVIGATION-LINK,
A.TERTIARY-NAVIGATION-TEXT-RIGHT,
A.TERTIARY-NAVIGATION-TEXT-CENTER {
    display: block;
    padding: 2px 1px 2px 6px;
    }
A.TERTIARY-NAVIGATION-TEXT-HIGHLIGHT,
A.TERTIARY-NAVIGATION-LINK-HIGHLIGHT,
A.TERTIARY-NAVIGATION-TEXT-HIGHLIGHT-RIGHT,
A.TERTIARY-NAVIGATION-TEXT-HIGHLIGHT-CENTER {
    display: block;
    padding: 2px 1px 2px 6px;
    background-color : #FFFFFF;
    }
TD.TERTIARY-NAVIGATION-TEXT-HIGHLIGHT,
TD.TERTIARY-NAVIGATION-LINK-HIGHLIGHT,
TD.TERTIARY-NAVIGATION-TEXT-HIGHLIGHT-RIGHT,
TD.TERTIARY-NAVIGATION-TEXT-HIGHLIGHT-CENTER {
    background-color : #FFFFFF;
    }
.BREADCRUMB { 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-size: 11px; 
    font-weight: normal; 
    color: #000000;
    } 
.BREADCRUMB-LINK { 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-size: 11px; 
    font-weight: normal; 
    color: #000000;
    } 
.BREADCRUMBS-TEXT { 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-size: 11px; 
    font-weight: normal; 
    color: #000000;
    }
.BUTTON-TEXT {
    font-size: 14px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    }
.CONTEXTUAL-NAVIGATION {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    color: #000000;
    text-decoration: none;
    }
.COUNTRY-TEXT {
    font-size: 14px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    } 
.DOCUMENTATION-TEXT { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    text-decoration: none;
    list-style-type: disc ; 
    list-style: inside; 
    } 
.DOCUMENTATION-LINK { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    text-decoration: none;
    list-style-type: disc ; 
    list-style-position: inside; 
    } 
.DOCUMENTATION-CATEGORY { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: bold; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    text-decoration: none;
    list-style-type: disc ; 
    list-style-position: inside;
    } 
.DOCUMENTATION-SUBCATEGORY { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    text-decoration: none;
    list-style-type: disc ; 
    list-style-position: inside;
    }
.ERROR-MSG-TEXT {
    font-size: 14px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    } 
.FAQ-LINK { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    } 
.FAQ-QUESTION { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: bold; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    text-decoration: none;
    list-style-type: disc ; 
    list-style-position: inside 
    } 
.FAQ-ANSWER { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    text-decoration: none;
    list-style-type: disc ; 
    list-style-position: inside 
    } 
.FOOTER-TEXT { 
    font-size: 11px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    }
.FOOTER-BAR-LINKS
	{
    font-size: 11px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    color: #000000; 
    text-decoration: none; 
    font-weight: bold; 

	}
.GLOBAL-NAV-BG
	{
	background-color: #990033;
	background: url(/bvdocs/images/GlobalNavBGV2005.gif);
	}
.GLOBAL-NAV
	{
	font-size: 10pt;
	font-family: Arial, Geneva, Verdana, Helvetica;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: 0px;
	text-decoration: none;
	list-style-type: disc;
	list-style-position: inside;
	}
.GLOBAL-NAV-HIGHLIGHT-BG
	{
	background-color: #CCCCCC;	
	}
.GLOBAL-NAV-HIGHLIGHT
	{
	font-size: 10pt;
	font-family: Arial, Geneva, Verdana, Helvetica;
	font-weight: bold;
	color: #990033;
	margin-left: 0px;
	text-decoration: none;
	list-style-type: disc;
	list-style-position: inside;	
	}
A.GLOBAL-NAV:hover 
	{
    color: #cccccc;
    }
A.GLOBAL-NAV-HIGHLIGHT:hover 
	{
    color: #0000EE;
    }
.HomeTableHeaderBG
	{
	background-color: #990033;
	background: url(/bvdocs/images/HPHeaderBoxBG.gif);
	}
.HomeTableHeader
	{
	font-size: 11pt;
	font-family: Arial, Geneva, Verdana, Helvetica;
	color: #FFFFFF;
	link: #FFFFFF;
	alink: #CCCCCC;
	vlink: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	}
A.HomeTableHeader:hover 
	{
    color: #cccccc;
    }
.HomeTableCellBorder
{
	border: solid #990033 none;
	background-color: #CCCCCC;
}
.HomeTableCell
	{

	font-size: 10pt;
	font-family: Arial, Geneva, Verdana, Helvetica;
	color: #000000;
	link: #000000;
	alink: #ff0000;
	vlink: #222222;
	font-weight: normal;
	text-decoration: none;
	}
	
.HEADING 
	{
	font-size: 15px; 
	font-family: Arial, Geneva, Verdana, Helvetica; 
	font-weight: bold; 
	color: #990033; 
	text-decoration: none;
	}
A.HEADING:hover 
	{
    color: #0000EE;
	text-decoration: none;
    }
.LANGUAGE-TEXT {
    font-size: 14px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    }
.LOGOUT-TEXT { 
    font-size: 11px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; 
    text-align: right; 
    margin-left: 0px; 
    }
.MESSAGE-HEADING {
    font-size: 18px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-weight: bold;
    color: #000000;
    text-align: left;
    }
.MESSAGE-TEXT {
    font-size: 14px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    }
.NEWS-LINKS {
    font-size: 11px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    color: #000000;
    text-decoration: none;
    }
.PROD-GLOBAL-NAV { 
    font-size: x-small; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: bold; 
    color: #000000; 
    text-align: center; 
    margin-left: 0px; 
    } 
.PROFILE-PROGRAM-HEAD {
    background-color: #efefef;
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-weight: bold;
    color: #000000;
    text-align: normal;
    margin-left: 0px;
    }    
.QUESTION-TEXT {
    font-size: 14px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    text-align: left;
    }
.QUESTION-TEXT-REQUIRED {
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-weight: bold;
    color: #000000;
    text-align: left;
    }
.QUESTION-DEFAULT-TEXT {
    font-size: 14px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    }
.QUESTION-ADDITIONAL-TEXT {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    color: #666666;
    }
.QUOTE-TEXT {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    color: #333333;
    text-decoration: none;
    }
.QUOTE-CONTRIBUTOR-TEXT {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-style: italic;
    color: #333333;
    text-decoration: none;
    }
.REG-ACTION-TEXT {
    font-size: 16px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-weight: bold;
    color: #000000;
    text-align: left;
    } 
.RELATED-FEATURES { 
    font-size: 11px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    } 
.RELATED-FEATURES-LINK { 
    font-size: 11px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    text-decoration: none; 
    list-style-type: disc ; 
    list-style-position: inside;
    list-style-image:  url(/bvdocs/images/rev_arrow.gif); 
    } 
.RELATED-FEATURES-HEADER { 
    font-size: 11px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: bold; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    }
.RETURN-LINK-TEXT {
    font-size: 14px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    }
.SEARCH-ROW1 {
    background-color: #EFEFEF;
    }
.SEARCH-ROW2 {
    background-color: #FFFFFF;
    }
.SEARCH-TABLE-HEADER {
    font-size: 12pt;
    font-family: Arial, Helvetica, verdana;
    background-color: #000000;
    font-weight: bold;
    color:#ffffff;
    text-align: left;
    }
.SEARCH-SECTION-HEADER {
    font-size: 10pt;
    font-family: Arial, Helvetica, verdana;
    background-color: #9C9C9C;
    font-weight: bold;
    color:#ffffff;
    text-align: left;
    vertical-align: bottom;
    }
.SEARCH-SECTION-LEAD {
    font-size: 12pt;
    font-family: Arial, Helvetica, verdana;
    background-color: #990000;
    font-weight: bold;
    color:#FFFFFF;
    vertical-align: top;
    text-align: center;
    }
.topTaskBar
	{
	background-color: #000000;
	font-size: 10pt;
	font-family: Arial, Geneva, Verdana, Helvetica;
	color: #ffffff;
	link: #ffffff;
	alink: #ff0000;
	vlink: #dddddd;
	font-weight: bold;
	text-decoration: none;
	}
A.topTaskBar:hover
	{
	color:#cccccc;
	}
.SECONDARY-NAV-BG
	{
	background-color: #CCCCCC;
	}
.SECONDARY-NAV
	{
	font-size: 11px;
	font-family: Arial, Geneva, Verdana, Helvetica;
	font-weight: bold;
	color: #000000;
	margin-left: 0px;
	text-decoration: none;
	list-style-type: disc;
	list-style-position: inside;
	}
.SECONDARY-NAV-HIGHLIGHT-BG
	{
	background-color: #CCCCCC;
	}
.SECONDARY-NAV-HIGHLIGHT
	{
	font-size: 11px;
	font-family: Arial, Geneva, Verdana, Helvetica;
	font-weight: bold;
	color: #990033;
	margin-left: 0px;
	text-decoration: none;
	list-style-type: disc;
	list-style-position: inside;
	background-color: #CCCCCC;
	}
.SPOT-HEADING {
    font-size: 14px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    }
.SPOT-TEXT {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    color: #333333;
    text-decoration: none;
    }
.STEP-DESCRIPTION-TEXT {
    font-size: 16px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    }
.STEP-HEADING-TEXT {
    font-size: 18px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-weight: bold;
    color: #000000;
    text-align: left;
    } 
.SUBHEADING {
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: bold; 
    color: #000000; 
    text-align: normal; 
    margin-left: 0px; 
    } 
.SUBHEADING2 {
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: bold; 
    color: #000000; 
    text-align: normal; 
    margin-left: 0px; 
	text-indent: -1em;
    } 
.SUBHEADING-TEXT {
    font-size: 16px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-weight: bold;
    color: #990000;
    text-align: normal;
    margin-left: 0px;
    text-decoration: none;
    }
.SUPPORT-HEADING {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    }
.SUPPORT-TEXT {
    font-size: 10px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    color: #333333;
    text-decoration: none;
    }
.TERTIARY-NAVIGATION-BACKGROUND {
    background-color: #CCCCCC;
    }
.TERTIARY-NAVIGATION-TEXT { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    text-decoration: none; 
    } 
.TERTIARY-NAVIGATION-TEXT-HIGHLIGHT { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: bold; 
    color: #000000; 
    text-align: normal; 
    margin-left: 0px; 
    text-decoration: none; 
    } 
.TERTIARY-NAVIGATION-LINK { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    text-decoration: none; 
    } 
.TERTIARY-NAVIGATION-LINK-HIGHLIGHT { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: bold; 
    color: #810017; 
    text-align: normal; 
    margin-left: 0px; 
    text-decoration: none; 
    } 
.TERTIARY-NAVIGATION-TEXT-HIGHLIGHT-RIGHT { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: bold; 
    color: #000000; 
    text-align: right; 
    margin-left: 0px; 
    text-decoration: none; 
    } 
.TERTIARY-NAVIGATION-TEXT-RIGHT { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; 
    text-align: right; 
    margin-left: 0px; 
    text-decoration: none; 
    } 
.TERTIARY-NAVIGATION-TEXT-CENTER { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; 
    text-align: center; 
    margin-left: 0px; 
    text-decoration: none; 
    } 
.TERTIARY-NAVIGATION-TEXT-HIGHLIGHT-CENTER { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: bold; 
    color: #000000; 
    text-align: center; 
    margin-left: 0px; 
    }    
.TERTIARY-NAVIGATION {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    color: #000000;
    text-decoration : none;
    }
.TERTIARY-NAVIGATION-LINK {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-weight: normal;
    color: #000000;
    text-align: left;
    margin-left: 0px;
    text-decoration: none;
    }
.TERTIARY-NAVIGATION-LINK-HIGHLIGHT {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-weight: bold;
    color: #810017;
    text-align: normal;
    margin-left: 0px;
    text-decoration: none;
    }
.TERTIARY-NAVIGATION-TEXT-HIGHLIGHT {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-weight: bold;
    color: #000000;
    text-align: normal;
    margin-left: 0px;
    text-decoration: none;
    }
.TopicTableHeaderText
	{
	font-size: 10pt;
	font-family: Arial, Geneva, Verdana, Helvetica;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	}
A.TopicTableHeaderText:hover 
	{
    color: #0000EE;
	text-decoration: underline;
    }
.TopicTableHeader
	{
	background-color: #dddddd;
	font-size: 10pt;
	font-family: Arial, Geneva, Verdana, Helvetica;
	color: #000000;
	link: #FFFFFF;
	alink: #CCCCCC;
	vlink: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	background: url(/bvdocs/images/FooterBackgroundV2005.gif);
	}
A.TopicTableHeader
	{
	background-color: #dddddd;
	font-size: 10pt;
	font-family: Arial, Geneva, Verdana, Helvetica;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	}
A.TopicTableHeader:hover 
	{
    color: #0000EE;
	text-decoration: underline;
    }
.TopicTableCell
	{
	background-color: #ffffff;
	font-size: 10pt;
	font-family: Arial, Geneva, Verdana, Helvetica;
	color: #000000;
	link: #000000;
	alink: #ff0000;
	vlink: #222222;
	font-weight: normal;
	text-decoration: none;
	}
.TopicTableCellBorder
{
	border: solid #990033 none;
	background-color: #ffffff;
}
.VALIDATION-ERROR-TEXT {
    font-size: 14px;
    color: green;
    }
.VIEWSET-HEADING-TEXT {
    font-size: 18px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-weight: bold;
    }
.VIEWSET-TEXT {
    font-size: 16px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    }
.VIEWSET-DESCRIPTION-TEXT {
    font-size: 14px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    } 
.WHATSNEW-CATEGORY { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: bold; 
    color: #000000; 
    text-align: left; margin-left: 0px; 
    text-decoration: none;
    list-style-type: disc ; 
    list-style-position: inside 
    } 
.WHATSNEW-SUBCATEGORY { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: italic; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    text-decoration: none;
    list-style-type: disc ; 
    list-style-position: inside 
    } 
.WHATSNEW-TEXT { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    text-decoration: none;
    list-style-type: disc ; 
    list-style-position: inside 
    } 
.WHATSNEW-DATE { 
    font-size: 11px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; 
    text-align: left; 
    margin-left: 0px; 
    text-decoration: none;
    list-style-type: disc ; 
    list-style-position: inside 
    } 
.WHATSNEW-LINK { 
    font-size: 12px; 
    font-family: Arial, Geneva, Verdana, Helvetica; 
    font-weight: normal; 
    color: #000000; text-align: left; 
    margin-left: 0px; 
    text-decoration: none;
    list-style-type: disc ; 
    list-style-position: inside 
    }

/*Header / Footer code May 2006 051206 B*/

#home-header06, #header06 {width: 760px; margin: 0; padding: 0;}
#header06 {background: #FFF url(/images/header_brand.jpg) 160px 3px no-repeat;}
#home-header06 .headerimg-search {background: #FFF url(/images/xhome_homepage_header_bkgd_760b.gif) 0 -2px no-repeat; width: 760px; height: 79px; margin: 0; padding: 0;}
#header06 .headerimg-search {width: 760px; height: 79px; margin: 0; padding: 0;}
#home-header06 a:link, #home-header06 a:visited, #header06 a:link, #header06 a:visited {text-decoration: none;}
#home-header06 a:hover, #header06 a:hover {text-decoration: underline;}
#xlogo {margin: -10px 0 0 8px; padding: 0; position: relative; z-index: 1000; width:145px; height: 43px;}
#logolink-trnsp {position: relative; top: 25px; left: 8px; width: 150px; height: 50px; cursor: hand;} /*old code, for old header*/

/*Quick Links*/
#home-header06 #qlinks {width: 760px; padding: 0 0 0 0; margin: 0; display: inline-table; background: url(/images/header_qlinks_bkgd.gif) 200px 0px no-repeat; height: 25px; /*border: 1px solid red;*/}
#qlinks {width: 760px; padding: 0 0 0 0; margin: 0; display: inline-table; background: none; height: 25px; /*border: 1px solid red;*/}
#qlinks .link-wrapper {/*position: relative; top: 2px; left: 346px;*/ margin: 0 0 0 0; margin: 2px 0 0 0; padding: 0 0 0 0; float: right; /*border: 1px solid blue;*/}
#qlinks a.link {display: inline; background: url(/images/prinav-border.gif) right no-repeat; padding: 2px 12px 3px 10px; margin: 0;}
#qlinks #last {background: none;}
#lang {display: inline; float: left; width: 300px; padding-top: 6px; padding-left: 5px;} /*old code for old header*/
#lang #langID1 {float: left; border-right: 1px solid #69717A; padding-right: 12px;}
#lang #langID2 {float: left; border-right: 1px solid #69717A; padding-left: 12px;}
#lang #langID3 {float: left; padding-left: 12px;}

/*CSS Language selector*/
div#langnav {position: relative; left: 10px; top: -3px; background: none; margin: 0; padding: 0;}
div#langnav ul, div#myaccount ul {margin: 0; padding: 0; background: none;}
div#langnav li, div#myaccount li {position: relative; list-style: none; margin: 0; float: left; width: 7em;}
div#langnav li:hover, div#myaccount li:hover {background: none;}
div#langnav li.submenu {background: url(/images/prinav-border.gif) 76px 4px no-repeat; color: #94002E;}
div#langnav li.submenu a {color: #94002E;}
div#langnav li.submenu:hover {background: url(/images/prinav-border.gif) 76px 4px no-repeat; color: #94002E;}
div#langnav li a, div#myaccount li a {display: block; padding: 0.25em  0 0.25em 0.5em; width: 6.5em;}
div#langnav>ul a, div#myaccount>ul a {width: auto;}
div#langnav ul ul, div#myaccount ul ul {position: absolute; width: 7em; display: none; border: 1px solid #CCC;}
div#langnav ul ul li, div#myaccount ul ul li {border: none;}
div#langnav li.submenu:hover ul.level2, div#myaccount li.submenu:hover ul.level2 {display: block; background: #F4F4F4;}
div#langnav li.submenu:hover ul.level2 a, div#myaccount li.submenu:hover ul.level2 a {text-decoration: none; color: #0000FF;}
div#langnav li.submenu:hover ul.level2 a:hover {text-decoration: none; color: #94002E;}
div#langnav ul.level2 li img {margin: 0 0 0 10px; padding: 0;}
div#langnav ul.level2 li:hover {background: #F4F4F4 url(/images/rev_arrow.gif) 0 0 no-repeat; margin: 0 0 0 0px; padding: 0;}
div#langnav ul.level2 li:hover a {color: #94002E;}

div#myaccount {position: relative; left: 10px; top: -3px; background: none; margin: 0; padding: 0;}
.acct-loggedin {position: relative; left: 0; margin: 0; padding: 0;}
div#myaccount li.submenu {background: url(/images/prinav-border.gif) 73px 4px no-repeat; color: #94002E;}
div#myaccount li.submenu a {color: #0000FF;}
div#myaccount li.submenu:hover {background: url(/images/prinav-border.gif) 73px 4px no-repeat; color: #94002E;}
div#myaccount li.submenu:hover ul.level2 a:hover {text-decoration: underline; color: #0000FF;}
div#myaccount ul.level2 li a {margin: 0 0 0 17px; padding: 3px 0;}
div#myaccount ul.level2 li:hover {background: #F4F4F4 url(/images/rev_arrow.gif) 0 2px no-repeat; margin: 0; padding: 0;}

/*Search box*/
#main-search {padding: 0; margin: 1px 0 0 0; float: right; width: 231px; height: 75px;}
#main-search .row1 {padding: 7px 0 5px 10px; margin: 0;}
#main-search .row2a {padding: 0 0 2px 10px; margin: 0;}
#main-search .row2b {padding: 0 0 2px 0; margin: -23px 5px 0 0; float: right;}
#main-search .row3 {padding: 0 0 0 10px; margin: 0; width: 180px;}
#main-search a:link {font-size: 92%; margin: 0 0 0 48px; padding: 0;}
#main-search .dropdown {width: 136px;}

/*new Search box layout*/
#main-search-inline {padding: 0; margin: 20px 0 0 0; float: right; width: 375px; height: 55px;}
#main-search-inline .row1 {padding: 9px 0 5px 10px; margin: 0;}
#main-search-inline .row2a {padding: 0; margin: 0 0 0 0;}
#main-search-inline .row2b {padding: 0; margin: -27px 3px 0 0; float: right;}
/*#main-search-inline .row3 {padding: 0 0 0 10px; margin: 0;}*/
#main-search-inline .row3 {padding: 0 0 0 275px; margin: 0;}
#main-search-inline .row3 a {font-size: 92%; /*float: right;*/ margin: -2px 3px 0 0; padding: 0;}
#main-search-inline .dropdown {width: 136px; /*position: relative; left: 160px; top: -28px;*/ float: right; margin: -28px 85px 0 0; padding: 0;}

div#myProfile {/*position: relative; left: 600px; top: -29px;*/ float: right; margin: -75px 5px 0 0; padding: 2px; width: 165px; border: 1px solid #E4E4E4; text-align: center; font-size: 92%;} /* new reg header code 092106 */ 
div#myProfile a:link, div#myProfile a:visited {color: #990000;} /* new reg header code 092106 */ 

/*Home-Header 2006*/
#primary-home {margin: 0 0 0 0; padding: 0; background: #BEBEBE; color: #FFF; font-size: 1.1em; font-weight: bold; border-bottom: 1px solid #000;}
#primary-home #primary-links {margin: 0; padding: 0; line-height: 22px;}

/*Primary / Secondary navs 2006*/
#primary-nav {margin: 0; padding: 0; background: #BEBEBE; color: #FFF; font-size: 1.1em; font-weight: bold;}
#primary-nav #primary-links {margin: 0; padding: 0; line-height: 22px;}
#primary-links a:link, #primary-links a:visited {color: #FFF; text-decoration: none; padding: 2px 10px 3px 10px; margin: 0;}
#primary-links a:hover {text-decoration: none; color: #94002E;}
#primary-links a#active, #primary-links a.active {background: #E1E3E4; text-decoration: none; color: #94002E; line-height: 22px; padding: 3px 10px 3px 10px; margin: 0;} /*added a.active class 092706*/

/*#primary-links a:link, #primary-nav a:visited {color: #FFF; text-decoration: none; display: block; padding: 0 10px; margin: 0;} /*Hover bkgd style*/
/*#primary-links a:hover {background: #D9DBDE; text-decoration: none; color: #94002E; line-height: 22px;} /*Hover bkgd style*/

#secondary-nav06 {margin: 0 0 0 0; padding: 0; background: #E1E3E4; color: #69717A; font-size: .9em; font-weight: bold; border-bottom: 1px solid #000;}
#secondary-nav06 #secondary-links {margin: 0; padding: 0px 3px 0 7px; line-height: 22px;}
#secondary-nav06 a {/*border-right: 1px solid #69717A;*/ background: url(/images/prinav-border.gif) right no-repeat;}
#secondary-nav06 a.last {/*border: none;*/ background: none;}
#secondary-links a:link, #secondary-links a:visited {color: #69717A; text-decoration: none; padding: 0 7px 0 3px; margin: 0;} /*padding: 0 6px 0 3px;*/
#secondary-links a:hover, #secondary-links a#active, #secondary-links a.active {text-decoration: none; color: #94002E;} /*added a.active class 092706*/

/*Footer New 2006*/
#footer06 {width: 760px; height: 21px; border-top: 1px solid #ACACAC; background: #ECECEC; margin: 2px 0 0 0; padding: 4px 0 0 0px;}
#footer06-reg {float: left; width: 100%; height: 21px; border-top: 1px solid #ACACAC; background-color: #ECECEC; margin: 0 0 20px 0; padding: 4px 0 0 0px;} /*added width auto from 760px; made margin top 0px from 2px*/
#footer06 a, #footer06-reg a {display: inline; margin: 0; background: url(/images/prinav-border.gif) right no-repeat; padding: 2px 10px 3px 8px; margin: 0;}
#footer06 a:link, #footer06 a:visited, #footer06-reg a:link, #footer06-reg a:visited {text-decoration: none;}
#footer06 a:hover, #footer06-reg a:hover {text-decoration: underline;}
#footer06 a.last, #footer06-reg a.last {background: none;}
#footer06 .copyright, #footer06-reg .copyright {display: inline; padding-left: 15px; margin: 0;}

/*Liquid header - Sponsor ADMIN - INTERNAL USE ONLY!!!*/
#header-wrapper {width: auto; float: left; background: #FFF; margin:0; padding: 0;} /*url(/images/reg-header-bot-border.gif) 0 0 repeat*/
#header-wrapper #home-header06, #header-wrapper #header06 {width: 760px; margin: -61px 0 0 0; padding: 0; float: right;} /*added width: auto;  from 760px; changed to float: left;*/
#header-wrapper #header06 {background: #FFF url(/images/header_brand.jpg) 160px 3px no-repeat; float: right;}
#xlogo-liquid {margin: 15px 0 0 8px; padding: 0; position: relative; z-index: 1000; width:145px; height: 43px;}

#liquid-wrapper #footer06 {width: auto; height: 21px; border-top: 1px solid #ACACAC; background: #ECECEC; margin: 0 0 0 0; padding: 4px 0 0 0px;} /*added width auto from 760px; made margin top 0px from 2px*/