body {margin: 0; behavior: url(/ssi/csshover.htc);}
#main-body {vertical-align: top; width: 600px; margin: 0; padding: 0 0 20px 8px; background: #FFFFFF;}
#main-body p {margin: 3px 0px 1em 0px; padding: 0;}
#main-body p.top {margin: 1em 0px 1em 0px; padding: 0;}
#main-body p.top-strong {margin: 1em 0px 1em 0px; padding: 0; font-weight: bold;}
#logo-right-style {float: right; margin: 20px 0 20px 20px; padding: 0;}

/*breadcrumb styles*/
.breadcrumbs {font-family: Arial, Geneva, Verdana, Helvetica, sans-serif; font-size: 11px; margin: 1px 0 1em 0px;} 
.breadcrumbs a:link {color: #0000FF; text-decoration: underline; font-size: 11px;} 
.breadcrumbs a:visited {color: #551A8B; text-decoration: underline; font-size: 11px;}
.breadcrumbs a:hover {color: #0000FF; text-decoration: underline; font-size: 11px;}

/* Gray bar */ /* http://devlinx/support/gsd/ */
.TopicHeader {background-image: url(/bvdocs/images/FooterBackgroundV2005.gif); height: 23px; margin-bottom: 5px; padding: 0; width: 100%; clear: both;}
.TopicHeader-right {float: right; margin: -25px 0 0 0px; padding-right: 8px; font-weight: bold;}
.r-endcap {float: right; margin: 0 0 0 3px; padding: 0;}
.l-endcap {float: left; margin: 0 3px 0 0; padding: 0;}
.TopicHeader-nobknd {
	margin-bottom: 5px; 
	padding: 0; 
	width: 100%; 
	clear: both;
}
/*Headings*/
h1 {font: bold 15px Arial, Geneva, Verdana, Helvetica, sans-serif; color: #810017; margin: 0 0 1px 0px; padding: 0px; border-bottom: 1px solid #990033;}
h1.no-underline {border-bottom: none;}
h1 img {float: right; margin: -20px 0 0 0; padding-bottom: 15px;} /*for use when a banner is placed to the right of h1 */
h1.four-hundred {width: 400px;} /*DO NOT USE*/

h2 {float: left; margin: 0px; padding: 3px 0 0 0; font-weight: bold; font-size: 13px; color: #000;} /*only used within gray bar - http://devlinx/support/gsd */
h2 a:link, h3 a:link {color: #000000; text-decoration: none;}
h2 a:visited, h3 a:visited {color: #000000; text-decoration: none;}
h2 a:hover, h3 a:hover {color: #0000FF; text-decoration: underline;}

h3 {font: bold 12px Arial, Geneva, Verdana, Helvetica, sans-serif; color: #000000; margin: 10px 0 3px 0; padding: 0; border-bottom: 1px solid #810017;}
h3.no-underline {border-bottom: none;}
h3.dotted-img-bkgd {background: url(/images/dotted_div_1.gif) 0 14px repeat-x; border: none; padding: 0 0 2px 0; margin: 10px 0 3px 0;}
h3.dotted-img {border-bottom: none; margin: 0 0 3px 0; padding: 10px 0 0 0;} /* uses fixed img for underline DO NOT USE*/
h3.dotted-underline {border-bottom: 1px dotted #808080;} /*replaces <h2 class="with-underline">  uses css dotted underline DO NOT USE*/

h4 {font: bold 12px Arial, Geneva, Verdana, Helvetica, sans-serif; color: #990000; margin: 10px 0 3px 0; padding: 0;} /*092905*/
h4.dotted-img-bkgd {background: url(/images/dotted_div_1.gif) 0 14px repeat-x; border: none; padding: 0 0 2px 0; margin: 10px 0 3px 0;} /*mod 092905*/

/*List style*/
ul {list-style-image: url(/bvdocs/images/home_arrowV2005.gif); list-style-type: square; list-style-position: outside; margin: 0 0 0 0; padding: 0 0 8px 20px;} /* list styles must be in long format due to IE bug */
li.second-level {list-style-image: url(/images/bullet_level2.gif); list-style-type: square; list-style-position: inside; margin: 0 0 0 0; padding: 1px 0 1px 0px;}
.list-right {float: right; width: 44%;} /* http://devlinx/support/gsd */
.list-left {float: left; width: 44%;} /* http://devlinx/support/gsd */
.bold:first-line {font-weight: bold;}
ul.plain {margin: 0 0 0 -20px; list-style: none; list-style-image: none;} /*standardized with new DT pages - flushes left*/
li.plain {margin: 0 0 0 -20px; list-style: none; list-style-image: none;}

ul.anchor {margin: 0; padding: 10px 0 15px 20px;} /*DT Leadership page*/

.list-left a:link, .list-right a:link {color: #0000FF; text-decoration: underline;}
.list-left a:visited, .list-right a:visited {text-decoration: underline;}
.list-left a:hover, .list-right a:hover {color: #0000FF; text-decoration: underline;}

div.column1 {float: left; clear: left; background-color: #FFF; padding-top: 8px; margin: 0; width: 591px;} /*http://devlinx/support/gsd*/
div.column1-clear {margin: 0 0 0 0; padding: 0 0 0 0;} /*http://devlinx/support/gsd*/

/*Right nav - LATEST AND GREATEST - USE THIS ON ALL NEW PAGES AS OF 093005*/
#rt-nav-css-calltoaction {margin: 17px 0 15px 0; padding: 0 0 0 0; line-height: 1.5em; position: relative; border-top: 2px solid #990000; border-bottom: 1px solid #990000; background: url(/images/bkgd_featured.gif)}
#rt-nav-css-calltoaction .webcast {background: url(/images/i_webcast.gif) 8px 5px no-repeat; margin: 0; padding: 0;}
#rt-nav-css-calltoaction .cd {background: url(/images/i_cd.gif) 8px 5px no-repeat; margin: 0; padding: 0;}
#rt-nav-css-calltoaction .cart {background: url(/images/i_cart.gif) 8px 5px no-repeat; margin: 0; padding: 0;}
#rt-nav-css-calltoaction .pencil {background: url(/images/i_register.gif) 8px 5px no-repeat; margin: 0; padding: 0;}
#rt-nav-css-calltoaction .phone {background: url(/images/i_contact.gif) 8px 5px no-repeat; margin: 0; padding: 0;}
#rt-nav-css-calltoaction .downarrow {background: url(/images/i_download.gif) 8px 5px no-repeat; margin: 0; padding: 0;}
#rt-nav-css-calltoaction .reg-req-css {padding: 0 0 0 3px; color: #7F7F7F; font-size: 11px; font-style: italic;}
#rt-nav-css-calltoaction .action {margin: 0 0 0 31px; padding: 3px 0 3px 0;}
#rt-nav-css-calltoaction .action a:link, #rt-nav-css-calltoaction .action a:visited {text-decoration: none;}
#rt-nav-css-calltoaction .action a:hover {text-decoration: underline;}
.rt-nav-css-wrapper {margin: 0 0 0 2px; padding: 2px 0 0 0; width: 166px;}
.rt-nav-heading-css {margin: 0 0 4px 0; padding: 0; border-bottom: 2px solid #990000; font-weight: bold; font-size: 12px; color: #990033;}
.rt-nav-css {width: 158px; margin: 0; padding: 0;}
.rt-nav-css .icon {background: url(/bvdocs/images/home_arrowV2005.gif) no-repeat; margin: 0; padding: 0 0;}
.rt-nav-css .pdf {background: url(/images/pdfmid.gif) no-repeat; margin: 0; padding: 2px 0;}
.rt-nav-css .text {margin: 0 0 1px 20px; padding: 0;}


/*Right nav - NEW STYLE - please use this style on all new pages with a right nav*/ /*example:  http://testlinx/paq */
#left-column {float: left; width: 420px; margin: 0; padding: 0px;}
#right-column {float: right; margin: 1.5em 0 0 0; padding: 0px; width: 150px;}
#right-column .HEADING {margin-left: -40px; padding: 0px; border-bottom: 2px solid #990033; font-size: 12px;}
.right-column-product .HEADING {margin: 0; padding: 0px; border-bottom: 2px solid #990033; font-size: 12px;} /*when in a table*/

/* Right nav - OLD STYLE - DO NOT USE!!! USE NEW STYLE below when creating new two-column pages with right side nav*/
#support-rightnav {float: right; margin: 1em 0 20px 40px; padding: 0 0 0 40px; /*white-space: nowrap;*/ width: 140px;} 
#support-rightnav .HEADING {margin: 0 0 5px -20px; padding: 0px; border-bottom: 2px solid #990033; font-size: 12px; width: 140px;}

/*Table Style*/
#new-table, .new-table {border: 1px solid #C4C4C4; border-width: 0 0 1px 1px; margin: 10px 0 20px 0; padding: 0;}
#table-heading, .table-heading {background-color: #94002E; color: #FFFFFF; text-align: left; margin: 0; padding: 3px 0 3px 5px;}
tr.table-heading2 td {font-weight: bold; margin: 0; padding: 2px 0 2px 5px; background-color: #D1D1D1; border-right: 1px solid #C4C4C4;}
tr.table-content td {margin: 0; padding: 3px 0 3px 5px; vertical-align: top; border-right: 1px solid #C4C4C4;}
tr.odd {background-color:#F2F2F2;}/* unqiue style to this page */

/*Footer*/
div#footergray {width: 760px; background: url(/images/FooterBackground_shadowV2005.gif); height: 23px; margin: 0; padding-top: 5px; text-align: center;
font-size: 11px; font-family: Arial, Geneva, Verdana, Helvetica; font-weight: bold;}
div#footergray a:link {padding: 0 10px 0 10px; margin: 0;}
div.footer-text {width: 760px; font-size: 11px; font-family: Arial, Geneva, Verdana, Helvetica;
text-align: center; margin-top: 15px; padding: 0;}
div.footer-text-copyright {width: 760px; font-size: 11px; font-family: Arial, Geneva, Verdana, Helvetica;
text-align: center; margin: 15px; padding: 0;}

/*Header*/
#bannergray {
   width: 760px;
   height: 60px; 
   background: url(/bvdocs/images/HeaderBackgroundV2005.gif);
   margin: 0; 
   padding: 0;
   position: relative;
}

#xlogo {
   float: left;
   margin: 9px 0 0 6px;
   padding: 0;
   border: none;
}

#global-title {
   position: relative;
   top: 16px;
   left: 150px;
}
		
img#plc {
   float: left;
   margin: 17px 0 0 18px; 
   padding: 0;
}

#taskbar-wrapper {
   width: 760px;
   height: 24px;
   background-color: #000;
}

#actions {
   display: inline;
   float: right;
   margin: 4px 5px 0px 0px;
}

.topTaskBar #actions a {
   padding: 0 0px 0 22px;
   margin: 2px 15px 4px 0px;
   background: transparent url(/bvdocs/images/home_arrowV2005.gif) 5px 0px no-repeat;}
   
.topTaskBar a:link, .topTaskBar a:visited {
   color: #FFF; 
   font-weight: bold;
   text-decoration: none;
}

#taskbar-wrapper img {
   border: none;
   margin: 4px 0px 2px 6px;
   padding-left: 10px;
}
   
#global-nav {
   margin: 0;
   padding: 0;
   width: 760px;
   background-color: #903;
   border-top: 1px #000 solid;
   border-bottom: 1px #CCC solid;
}
   
#global-nav ul {
   margin: 0;
   padding: 0;
   background: transparent;
   list-style: none;
}   
   
#global-nav ul li {
   float: left;
   margin: 0;
   padding: 0;
   list-style: none;
}
   
#global-nav a {
   color: #FFF;
   float: left;
   text-decoration: none;
   background-color: transparent;
   text-align: left;
   padding: 2px 6px;
   border-left: 1px #CCC solid;
} 

#global-nav a {
   width: 139px;
}

/*Removes left border on HOME link and adds extra padding to bring CSS rendition in pixel-perfect alignment with the tables layout*/
#global-nav #global-nav-first {
   border-left: none;
   padding-right: 7px;
}

#global-nav a.global-selected {
   background-color: #CCC;
   color: #903;
}

#global-nav a:hover, .topTaskBar a:hover {
   color: #CCC;
   text-decoration: underline;
}

#global-nav a.global-selected:hover, #secondary-nav a:hover {color: blue; text-decoration: underline;}

#search-box {
   position: absolute;
   top: 6px;
   left: 525px
}

#secondary-nav {
   padding-left: 4px;
   height: 19px;
   width: 756px;
   text-align: center;
   background-color: #CCC;
   color: #000;
   border-top: 2px #CCC solid;
   border-bottom: 2px #CCC solid;
   }

#secondary-nav a {   
   padding: 3px 3px;
   border: none;
   font: bold 11px Arial, Geneva, Verdana, Helvetica, sans-serif;
   text-decoration: none;
   background-color: transparent;
   color: #000;}
   
a#secondary-nav-highlight {
   color: #903;
}
   
.topTaskBar1 {   width: 760px;
   height: 24px;
   background-color: #000;
   margin: 0;
   padding: 0;
}

/*Tertiary Nav Code*/
#tnav-col {
   padding: 20px 0 20px 0; margin: 0 0 0 0;
   }
.support-tnav {
   margin: 0px 0 0px 0;
   padding: 0 0 0 0; 
   background-color: #EAEAEA;
   width: 160px;
   }
.support-tnav li {
   list-style: none; 
   border-bottom: 1px #ccc solid;
   } 
.support-tnav li a {
   display: block;
   padding: 3px 6px;
   }
#stickies {
   border-top: 16px #CCC solid;
   }
.support-tnav a.TERTIARY-NAVIGATION-LINK-HIGHLIGHT {padding-left: 1em; margin-left: -5px; background-color: #FFF;}
.support-tnav a.TERTIARY-NAVIGATION-LINK-HIGHLIGHT-PARENT {background-color: #FFF;
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-weight: bold;
    color: #810017;
    text-align: normal;
    margin-left: 0px;
    text-decoration: none;
    }
.support-tnav li.child {
    font-size: 12px;
    font-family: Arial, Geneva, Verdana, Helvetica;
    color: #000000;
    text-decoration : none;
	padding-left: 7px;
    }

/*Indentation of selected subordinate tnav items*/
.invisible {display: none;}
ul.visible {list-style-image: none;
   margin: 0 0 0 -7px;
   padding: 3px 4px 3px 2em; /*added .50em*/
   background: #F4F4F4;
   }   
.visible li {
   display: block;
   border-bottom: none;
   padding: 0 0 0 0;
   }   
.visible li a {
   display: inline;
   text-decoration: none;
   color: black;
   padding: 0 0 0 0;
   }    
.visible li a:hover, a.TERTIARY-NAVIGATION-LINK-HIGHLIGHT-PARENT:hover {color:#0000FF; text-decoration: underline;}  

/****STYLES FROM OLD STYLESHEET - mainly used for Tech Tips****/
/*check backup stylesheet form 092905 stylesheet for h4 or h5 tt styles*/

/*ul styles*/
li.faq:first-line {font-weight: bold;}

/*Misc. Styles Tech Tips*/
p.img-center {text-align: center;} /* http://testlinx/support/gsd/techtips%20mockup/techtips_getting-startedv8.htm */
/*p#note {text-align: left; background-color: #F4F4F4; padding: 1em;} /* http://testlinx/support/gsd/techtips%20mockup/techtips_cpld_093004.htm */

/*ttmain Tech Tips*/
#leftcol1-sxc {float: left; width: 280px; margin:0; padding: 0;} /* 2 column style when there is a tertiary nav, otherwise use ul class="list-left" and "ul class="list-right"*/
#rightcol1-sxc {float: left; width: 280px; margin:0 0 0 20px; padding: 0;} 

/*ttglossary Tech Tips*/
#col1of4-sxc {float: left; left: 10px; width: 146px; margin:0; padding: 0;}
#col2of4-sxc {float: left; left: 135px; width: 146px; margin:0; padding: 0;}
#col3of4-sxc {float: left; left: 285px; width: 146px; margin:0; padding: 0;}
#col4of4-sxc {float: left; left: 435px; width: 146px; margin:0; padding: 0;}

/*Site Map*/
#col1of3-sxc {float: left; left: 10px; width: 185px; margin:0; padding: 0;}
#col2of3-sxc {float: left; left: 135px; width: 185px; margin-left: 15px; padding: 0;}
#col3of3-sxc {float: left; left: 285px; width: 185px; margin-left: 15px; padding: 0;}  

#education-feedback-form {margin: 0 0 0 0; padding: 0 0 0 0;}
#formfield {width: 275px;}

/*REL info pages*/
#rel-presenter-info {width: 600px;}
#rel-presenter-info img {width: 120px; float: right; margin: 10px 0 0 0; padding: 10px 15px 0 0px;}
#rel-presenter-text {width: 445px;}

/*Misc.*/
div#column-clear {clear: both; margin: 0; padding: 0;}

/*****MYSUPPORT ONLY STYLES below******/
.TopicHeader-SBP {background-image: url(/bvdocs/images/FooterBackgroundV2005.gif); height: 23px; margin: 0; padding: 0; width: 100%; clear: both;}

h3.mysupport {font: bold 12px Arial, Geneva, Verdana, Helvetica, sans-serif; color: #000000; margin: 10px 0 10px 0; padding: 0; border-bottom: 1px solid #810017;}
h2.mysupport {margin: 0; padding: 3px 0 0 0; font-weight: bold; font-size: 13px; color: #000;}
div#logged-in {float: right; text-align: right; font-size: 11px; margin: 0 0 5px 0; padding: 5px 2px 5px 0;} 
.navimg {float: right; margin: 4px 0 0 5px; padding: 0;} 
.TopicBody {margin: 0; padding: 10px 10px 20px 10px;}
.TopicBody img {float: right; margin: 0; padding: 0 0 20px 20px;}
div#body-leftcol {width: 49%; float: left;}
div#body-rightcol {width: 49%; float: right;}
div.body-leftcol {width: 49%; float: left;}
div.body-rightcol {width: 49%; float: right;}

/* main div wrapping tabs */ 

#sbp {
	margin: 15px 0 10px -5px; /*shifted entire tabbed area up and to the left - bern */
	padding: 10px 0 15px 8px; /*background: #EAECEA;*/ 
	text-align: left;
}
#sbp-mainbody {
	clear: both; 
	padding: 10px 0 0 0; 
	margin: 0 0 0 0; 
background-color:#E6EFF3;
	color: #000; 
	width: 731px;
} 
.sbp-wrapper {
	margin: 3px 0 0 12px; 
	padding: 0 0 5px 0; 
	width: 705px; 

}
.column1-clear {
clear:both;
margin:0;
padding:0;
}
.single-column-top {
	float: left; 
/*	background: url(/images/701px_000_center.gif) repeat; */
	margin: 0 0 10px 0; 
	padding: 0 0 7px 5px; 
	width: 701px;
border:1px solid #D2DCE1;
background:white;
} 
.single-column-top .left {
background:white;
	padding: 10px 0 0 0; 
	margin: 0 0 0 3px; 
	width: 340px;
}
.single-column-top .right {
background:white;
	padding: 10px 2px 0px 0; 
	margin: 0 0 0 0; 
	width: 340px; 
	float: right;
}
ul.top  {
	width: 310px; 
	list-style-image: none; 
	list-style-type: none; 
	margin: 5px 5px 5px 5px; 
	padding: 0 0 5px 0;
}
ul.top2 {
	list-style-image: none; 
	list-style-type: none; 
	margin: 5px 5px 5px 5px; 
	padding: 0 0 5px 0;} /* WebCase Query Help */
.single-column-top .left ul.second-level, .single-column-top .right ul.second-level, ul.second-level {
	list-style-image: url(/images/bullet_level2.gif); 
	list-style-type: square; 
	list-style-position: outside; 
	margin: -7px 0 0 0; 
	padding: 0 0 8px 30px;
}
.single-column {
	clear: both; 
	margin: 0 0 10px 0; 
	padding: 0 0 7px 4px; 
	width: 701px;
border:1px solid #D2DCE1;
background:white;
} 
.single-column ul {
	padding-right: 5px; 
	margin:0;
}
.minimize-sbp, .maximize-sbp {
	float: right; 
	margin: 0 0 0 0;
	padding: 0 4px 0 0;}
#tabs-list {
	margin: 0 0 0 0; 
	padding: 0; 
	width: 731px;
height:34px; /* put a height parameter to the height of the selected image - bern */
background: url(/bvdocs/images/tab-bknd.gif) top left repeat-x; /* background image for just the tab area - bern */

} 
#tabs-list a {
	color: white; 
	float: left; 
	text-decoration: none; 
	text-align: center;
	padding: 0; 
	margin: 0; 
	line-height: 34px; /* adjusted the height to be the same height of the selected image - bern */
	width: 113px; 
	font-weight: bold;
} 
#tabs-list a.selected {
	background: url(/images/tab_active_blue.gif) no-repeat;	/* new active tab image with down arrow - bern */
	color: white; 
line-height:34px; /* adjusted the height to be the same height of the selected image - bern */
	margin: 0 0 0 0;
}
#tabs-list a.not-selected {
	background: url(/images/tab_inactive_blue.gif) no-repeat;	/* new inactive tab image w/o down arrow - bern */
	color: white; 
	margin: 0 0 0 0;}
#tabs-list a:hover {
	color: white; 

	text-decoration: underline; 
	background: url(/images/tab_active_blue.gif) no-repeat;
}
#ans-db-searchbox {background: #EAECEA; border: 2px solid #CCC; margin-left: 10px; padding: 5px;}
div.tab1, div.tab2, div.tab3, div.tab4, div.tab5 {width: 113px; height: 34px;} /* fixed the height to match the selected image -bern */
div.tab1 {margin: 0; padding: 0;}
div.tab2 {margin: -34px 0 0 117px; padding: 0;} /* fixed the top margin to match the selected image height - bern */
div.tab3 {margin: -34px 0 0 234px; padding: 0;} /* fixed the top margin to match the selected image height - bern */
div.tab4 {margin: -34px 0 0 351px; padding: 0;} /* fixed the top margin to match the selected image height - bern */
div.tab5 {margin: -34px 0 0 468px; padding: 0;} /* fixed the top margin to match the selected image height - bern */
#product-dropdown {margin: -34px 0 0 590px; padding: 0;} /* fixed the top margin to match the selected image height - bern */

/*SBP-ALERTS section*/
.alerts {clear: both; background:none; margin: 0 0 10px 0; padding: 0 0 7px 4px; /*width: 701px;*/} 
.alerts p.doc-title-pdf {background: url(/bvdocs/images/pdfmid.gif) top left no-repeat; padding-bottom: 1px;}
.alerts p.doc-title-html {background: url(/bvdocs/images/htmlmid.gif) top left no-repeat; padding-bottom: 1px;}
.alerts p {margin: 1em 0 0 3px; padding: 0px 12px 0px 20px; font-size: 1em;}

/*****MYSUPPORT ONLY STYLES above ******/

/*Answers*/
table#ans-details {margin-bottom: 15px; padding:0;}
table#ans-details .gray-text, .gray-text {color: #7D7D7D; padding-left: 5px;}
table#ans-details td, #ans-email td {line-height: 1.5em; text-align: left; margin: 0px; padding: 2px 2px 2px 3px;}
th#rate-answerbox-title {background-color: #EAE0E2; height: 1.5em; font-weight: bold; margin: 17px 0 0 0; padding: 5px 0 3px 5px; color: #990000; text-align: left;}
#rate-answer {color: #000; font-weight: normal; margin: 0 0 1em 0; padding: 5px 0 0 5px;
background-color: #EAEAEA; height: 80px;}
#rate-answer img {float: right; margin: 2px 0 4px 0; padding: 2px 0 2px 0; border-left: 1px dotted #000;}
table#ans-email {border-left: 1px dotted #000;}
.info {background: #F4F4F4;}
#email-this-record td {text-align:left;}
.inputarea {padding-left: 5px; margin: 0;}

.single-column-print {background: #FFF; margin: 0; padding: 0 10px 0 0; width: 670px;} 

/*Download*/
h3.short {font: bold 12px Arial, Geneva, Verdana, Helvetica, sans-serif; color: #000000; margin: 0 0 3px 0; padding: 0; border-bottom: 1px solid #810017;}
table#dld-details {margin-bottom: 15px; padding:0;}
table#dld-details td.gray {color: #7D7D7D;}
table#dld-details td {line-height: 1.5em; text-align: left; margin: 0px; padding: 2px 2px 2px 3px;}
#right-column table {margin: .5em 0 0 0; padding: 0; float: right; width: 140px;}
.info-details {padding-left: 5px;}
.critical-info {background-color: #F4F4F4; padding: 8px; margin: 2em 0 0 0;} /*100505*/
.critical-info-noh3 {background-color: #F4F4F4; padding: 8px; margin: 0 0 1em 0;} /*100505*/
.leftcol1-dld {float: left; width: 340px; margin: 5px 0 0 0; padding: 0;} /*100505*/
.rightcol1-dld {float: right; width: 225px; margin: 5px 0 0 0; padding: 0;} /*100505*/

/*Xilinx Home Page styles*/
h3.home-rightnav {margin: 0 0 0 0; padding: 4px 0 0 23px; color: #990000; border: none;}
#home-rightnav {float: right; width: 225px; margin: 0; padding: 5px 0 10px 0; background: #F6F6F6;}
#home-columntop {float: left; margin: 10px 0 0 0; padding: 0 0 10px 8px; width: 515px;} 
#home-columnbottom {float: left; margin: 0; padding: 0 0 10px 8px; width: 515px;} 
#home-mktgbanner {float: left; margin: 15px 0 0 0; padding: 0 0 0 8px; width: 515px; height: 170px;} 
#home-columntop .left, #home-columnbottom .left {padding: 0 0 0 -3px; margin: 0; width: 249px;}
#home-columntop .right, #home-columnbottom .right {padding: 0 0 0 -3px; margin: 0; width: 249px; float: right;}
ul.home {list-style-image: url(/bvdocs/images/rev_arrow.gif); list-style-type: square; list-style-position: outside; margin: 0; padding: 0 0 8px 17px;
font-size: 12px; font-family: Arial, Geneva, Verdana, Helvetica; color: #000000; text-decoration: none;} /* used on Xilinx Home page only */
#home-rightnav ul {list-style-image: url(/bvdocs/images/b_home_gry.gif); list-style-type: square; list-style-position: outside; margin: 0 0 0 3px; padding: 0 3px 8px 20px;} /* list styles must be in long format due to IE bug */
ul.home a:link, ul.home a:visited {color: #000; text-decoration: none;}
ul.home a:hover {color: #0000FF; text-decoration: underline;}

/*DT Center, V4 Advantage*/
#ctr-wrapper {float: left; width: 591px; margin-top: 10px; padding: 0; background: url(/images/591x20_rt170.gif) 0 0 repeat;} /*new*/

/*Link styles for new DT and V4 pages*/
#leadership-wrapper a:link, #leadership-wrapper a:visited, ctr-wrapper a:link, #ctr-wrapper a:visited, .productinfo a:link, .productinfo a:visited, #ps-mainbody a:link, #ps-mainbody a:visited, #product-wrapper a:link, #product-wrapper a:visited {text-decoration: underline;} /* had to add right-column-ctr..underline displayed in FF*/
#leadership-wrapper a:hover, #ctr-wrapper a:hover, .productinfo a:hover, #ps-mainbody a:hover, #product-wrapper a:hover {text-decoration: underline;}

#product-rt-table a:link, #product-rt-table2 a:link, #ctr-rt-table a:link {text-decoration: none;} /*call to action tables*/
#product-rt-table a:visited, #product-rt-table2 a:visited, #ctr-rt-table a:visited {text-decoration: none;}
#product-rt-table a:hover, #product-rt-table2 a:hover, #ctr-rt-table a:hover {text-decoration: underline;}

#product-wrapper .rt-nav-css a:link, #leadership-wrapper .rt-nav-css a:link, #product-wrapper .rt-nav-css a:visited, #leadership-wrapper .rt-nav-css a:visited, #ctr-wrapper .rt-nav-css a:link, #ctr-wrapper .rt-nav-css a:visited {color: #000; text-decoration: none;}
#product-wrapper .rt-nav-css a:hover, #leadership-wrapper .rt-nav-css a:hover, #ctr-wrapper .rt-nav-css a:hover {color: #0000FF; text-decoration: underline;}

/*End*/

.left-column-ctr {float: left; width: 400px; margin: 0; padding: 0 10px 15px 0;}
.left-column-ctr table {margin: 0 0 5px 0; padding: 0;} 

.right-column-ctr {float: right; margin: 0 0 0 6px; padding: 0; width: 170px; /*background: #EFF2F4;*/}
.right-column-ctr h3.no-underline {padding-bottom: 8px;} /*new*/
.rt-column-ctr-table {background: #EFEBED; margin: 0; padding: 0 5px 10px 5px; border-bottom: 10px solid #FFF;} /*new*/
.rt-column-ctr-table2 {background: #EFF2F4; margin: 0; padding: 0 5px 0 5px;} /*new*/
#ctr-rt-table {margin: 20px 0 0 0; padding: 0; line-height: 1.5em; position: relative; background: url(/images/bkgd_featured.gif); border-bottom: 1px solid #990000;}

.productimg {float: left; margin: 8px 0 0 0; padding: 2px 2px 2px 2px; border: 1px solid #ABABAB;} /*100105*/
.productinfo {float: left; margin: 8px 0 11px 12px; padding: 2px 0 3px 5px; width: 312px;} /*100105*/ /*short-white*/
.productinfo-gray312 {float: left; margin: 8px 0 11px 12px; padding: 2px 0 3px 5px; width: 312px; background: #EFF2F4;} /*100105*/ /*short-gray*/
.productinfo85 {float: left; margin: 8px 0 11px 12px; padding: 2px 0 3px 5px; width: 85%;} /*100105*/ /*wide-white*/
.productinfo-gray85 {float: left; margin: 8px 0 11px 12px; padding: 2px 0 3px 5px; width: 85%; background: #EFF2F4;} /*100105*/ /*wide-gray*/
.trybuy-product {position: relative; margin: -15px 0 3px 230px; padding: 0; width: 70px; text-align: right;} /*100305 text-align: right;*/

.productinfo85-lx {float: left; margin: 8px 0 7px 12px; padding: 5px 0 7px 5px; width: 85%;} /*100105 V4 Cap. page*/ /*wide-white with toprt logos*/
.productinfo-gray85-lx {float: left; margin: 8px 0 7px 12px; padding: 5px 0 7px 5px; width: 85%; background: #EFF2F4;} /*100105 V4 Cap. page*/ /*wide-gray with toprt logos*/
.productinfo85-lx ul, .productinfo-gray85-lx ul, .productinfo85 ul, .productinfo-gray85 ul {list-style-image: url(/bvdocs/images/home_arrowV2005.gif); list-style-type: square; list-style-position: outside; margin: 0 0 0 0; padding: 0 0 0 20px;} 
.lxsxft-platform {float: right; width: 82px; text-align: right; margin: -17px 0 3px 0; padding: 0 8px 0 0;}
.bt10px {margin: 0 0 0 0; padding: 0 0 0 0;}

/*DT Product/Leadership strict 2col*/
#product-wrapper, .product-wrapper {float: left; background: none; width: 591px; margin: 0; padding: 0;} /*margin-top: 10px; */
.left-column-product {float: left; width: 400px; margin: 0; padding: 0 0 5px 0;} /*padding: 0 10px 5px 0; */
.left-column-product .left {width: 185px; margin: 0; padding: 0 10px 5px 0;}
.left-column-product .right {width: 185px; margin: 0; padding: 0 10px 5px 0; float: right;}
.right-column-product {float: right; margin: 0 0 0 6px; padding: 0px 0 0 0; width: 170px;}
#product-rt-table2 {margin: 17px 0 15px 0; line-height: 1.5em; position: relative; border-top: 2px solid #990000; border-bottom: 1px solid #990000; background: url(/images/bkgd_featured.gif)} /*old version with inline css - use the table right below instead*/

#dt-productimg {float: left; margin: 3px 8px 0 0; padding: 0; border: 1px solid #CCC;} /*Product pages*/
/*p.mktglimit {max-height: 67px; border: 1px solid red;} not yet supported :-( */

/*DT Leadership page 2col w/wrap under*/
div.column1-leadership {float: left; padding-top: 8px; margin: 0; width: 591px;} /*original mockup for leadership page*/

.goto-top {position: relative; margin: 20px 0 7px 89%;}
#leadership-wrapper {float: left; background: none; width: 591px; margin: 0; padding: 0;} /*new 091605*/
.leadership-list-wrapper {width: 380px;} /*mod 092705*/
#leadership-wrapper .left {width: 170px; margin: 0; padding: 0 10px 5px 0;} /*mod 092705*/
#leadership-wrapper .right {width: 170px; margin: 0; padding: 0 10px 5px 0; float: right;} /*mod 092705*/
#leadership-wrapper .right-column-product {float: right; margin: -58px 0 0 0; padding: 0; width: 170px; background: #FFF; border-width: 0px 0px 10px 20px; border-color: #FFF; border-style: solid;} /*mod 092705*/

/*DT tabbed page*/
#ps-mainbody {clear: both; padding: 10px 0 0 0; margin: 0 0 0 0; background: #FFF; color: #000; width: 591px;} 
#tabs-table {background: url(/images/ps_tabs_590.gif) 0px 47px no-repeat; padding-top: 20px; margin: 0;}
.taba a, .tabb a, .tabc a, .tabd a {color: #898989; float: left; text-decoration: none; text-align: center;
padding: 0; margin: 0; line-height: 28px; font-weight: bold;} 
.taba .selected, .tabb .selected, .tabc .selected, .tabd .selected {background: url(/images/tab_active_o140.gif) 0px 0px no-repeat; color: #000; margin: 0; width: 140px; border-bottom: #FFF;}
.taba .not-selected, .tabb .not-selected, .tabc .not-selected, .tabd .not-selected {background: url(/images/tab_inactive_o140.gif) 0px 0px no-repeat; color: #898989; margin: 0 0 -1px 0; width: 140px;}
.taba a:hover, .tabb a:hover, .tabc a:hover, .tabd a:hover {color: #0000FF; text-decoration: underline; background: url(/images/tab_active_o140.gif) no-repeat;}
.taba, .tabb, .tabc, .tabd {width: 140px; height: 28px;}

div.taba {margin: 0; padding: 0;}
div.tabb {margin: -28px 0 0 143px; padding: 0;}
div.tabc {margin: -28px 0 0 286px; padding: 0;}
div.tabd {margin: -28px 0 0 429px; padding: 0;}

/*V4 Landing*/
.prod-marketingbanner {margin: 10px 0;}
div.column1-v4 {float: left; padding: 0 0 10px 0; margin: 10px 0 0 0; width: 591px; background: url(/images/v4_591x20_c.gif) repeat;}
div.column1-v4 .col1 {float: left; width: 185px; margin: 0 17px 0 0; padding: 0 0 0 5px;} /*new*/
div.column1-v4 .col2 {float: left; width: 185px;  margin: 0 10px 0 0; padding: 0 0 0 0;}/*new*/
div.column1-v4 .col3-wrapper {float: left; margin: 0 0 0 0; padding: 0 0 0 0; width: 185px;}
div.column1-v4 .col3-top {background: #EFEBED; margin: 0 0 0 0; padding: 0 0 10px 4px; border: 1px solid #EFEBED; /*border-width: 1px 2px 1px 1px; border: solid #EFEBED;*/}
div.column1-v4 .col3-top-text {margin: 0 0 0 0; padding: 0 0 0 0; width: 175px;} 
div.column1-v4 .col3 {margin: 0 0 0 0; padding: 0 0 0 5px;} /*new*/
div.column1-v4 .col3-bot-text {margin: 0 0 0 0; padding: 0; width: 175px;}
.v4-topgrayborder {padding: 20px 0 0 0;}

/*V4 Overview*/
#v4-3row {width: 395px; margin: 10px 0 20px 0;}
#lx {background: #EFF2F4 url(/images/lx_50.jpg) 0px 7px no-repeat; margin-bottom: 5px;}
#sx {background: #EFF2F4 url(/images/sx_50.jpg) 0px 7px no-repeat; margin-bottom: 5px;}
#fx {background: #EFF2F4 url(/images/fx_50.jpg) 0px 7px no-repeat; margin-bottom: 5px;}
.text {margin: 0 0 5px 60px; padding: 5px 0px;}

#product-rt-table {margin: 17px 0 15px 0; line-height: 1.5em; position: relative; border-top: 2px solid #990000; border-bottom: 1px solid #990000; background: url(/images/bkgd_featured.gif)}  /*new version with no inline css - used on V4 pages*/
#product-rt-table td {padding: 3px 0px;}
#product-rt-table td.reg-req {padding: 0 0 0 3px; color: #7F7F7F; font-size: 11px; font-style: italic;}

.contextbanner1 {float: left; margin: 25px 0 0 0; padding: 0; border: 1px solid #ABABAB;}
.contextbanner2 {float: left; margin: 10px 0 0 0; padding: 0; border: 1px solid #ABABAB;}

/*Header / Footer code May 2006 051206 B*/

#home-header06, #header06 {width: 760px; margin: 0; padding: 0;}
#header06 {background: #FFF url(/images/header_brand.jpg) 160px 3px no-repeat;}
#home-header06 .headerimg-search {background: #FFF url(/images/xhome_homepage_header_bkgd_760b.gif) 0 -2px no-repeat; width: 760px; height: 79px; margin: 0; padding: 0;}
#header06 .headerimg-search {width: 760px; height: 79px; margin: 0; padding: 0;}
#home-header06 a:link, #home-header06 a:visited, #header06 a:link, #header06 a:visited {text-decoration: none;}
#home-header06 a:hover, #header06 a:hover {text-decoration: underline;}
#xlogo {margin: -10px 0 0 8px; padding: 0; position: relative; z-index: 1000; width:145px; height: 43px;}
#logolink-trnsp {position: relative; top: 25px; left: 8px; width: 150px; height: 50px; cursor: hand;} /*old code, for old header*/

/*Quick Links*/
#home-header06 #qlinks {width: 760px; padding: 0 0 0 0; margin: 0; display: inline-table; background: url(/images/header_qlinks_bkgd.gif) 200px 0px no-repeat; height: 25px; /*border: 1px solid red;*/}
#qlinks {width: 760px; padding: 0 0 0 0; margin: 0; display: inline-table; background: none; height: 25px; /*border: 1px solid red;*/}
#qlinks .link-wrapper {/*position: relative; top: 2px; left: 346px;*/ margin: 0 0 0 0; margin: 2px 0 0 0; padding: 0 0 0 0; float: right; /*border: 1px solid blue;*/}
#qlinks a.link {display: inline; background: url(/images/prinav-border.gif) right no-repeat; padding: 2px 12px 3px 10px; margin: 0;}
#qlinks #last {background: none;}
#lang {display: inline; float: left; width: 300px; padding-top: 6px; padding-left: 5px;} /*old code for old header*/
#lang #langID1 {float: left; border-right: 1px solid #69717A; padding-right: 12px;}
#lang #langID2 {float: left; border-right: 1px solid #69717A; padding-left: 12px;}
#lang #langID3 {float: left; padding-left: 12px;}

/*CSS Language selector*/
div#langnav {position: relative; left: 10px; top: -3px; background: none; margin: 0; padding: 0;}
div#langnav ul, div#myaccount ul {margin: 0; padding: 0; background: none;}
div#langnav li, div#myaccount li {position: relative; list-style: none; margin: 0; float: left; width: 7em;}
div#langnav li:hover, div#myaccount li:hover {background: none;}
div#langnav li.submenu {background: url(/images/prinav-border.gif) 76px 4px no-repeat; color: #94002E;}
div#langnav li.submenu a {color: #94002E;}
div#langnav li.submenu:hover {background: url(/images/prinav-border.gif) 76px 4px no-repeat; color: #94002E;}
div#langnav li a, div#myaccount li a {display: block; padding: 0.25em  0 0.25em 0.5em; width: 6.5em;}
div#langnav>ul a, div#myaccount>ul a {width: auto;}
div#langnav ul ul, div#myaccount ul ul {position: absolute; width: 7em; display: none; border: 1px solid #CCC;}
div#langnav ul ul li, div#myaccount ul ul li {border: none;}
div#langnav li.submenu:hover ul.level2, div#myaccount li.submenu:hover ul.level2 {display: block; background: #F4F4F4;}
div#langnav li.submenu:hover ul.level2 a, div#myaccount li.submenu:hover ul.level2 a {text-decoration: none; color: #0000FF;}
div#langnav li.submenu:hover ul.level2 a:hover {text-decoration: none; color: #94002E;}
div#langnav ul.level2 li img {margin: 0 0 0 10px; padding: 0;}
div#langnav ul.level2 li:hover {background: #F4F4F4 url(/images/rev_arrow.gif) 0 0 no-repeat; margin: 0 0 0 0px; padding: 0;}
div#langnav ul.level2 li:hover a {color: #94002E;}

div#myaccount {position: relative; left: 10px; top: -3px; background: none; margin: 0; padding: 0;}
.acct-loggedin {position: relative; left: 0; margin: 0; padding: 0;}
div#myaccount li.submenu {background: url(/images/prinav-border.gif) 73px 4px no-repeat; color: #94002E;}
div#myaccount li.submenu a {color: #0000FF;}
div#myaccount li.submenu:hover {background: url(/images/prinav-border.gif) 73px 4px no-repeat; color: #94002E;}
div#myaccount li.submenu:hover ul.level2 a:hover {text-decoration: underline; color: #0000FF;}
div#myaccount ul.level2 li a {margin: 0 0 0 17px; padding: 3px 0;}
div#myaccount ul.level2 li:hover {background: #F4F4F4 url(/images/rev_arrow.gif) 0 2px no-repeat; margin: 0; padding: 0;}

/*Search box*/
#main-search {padding: 0; margin: 1px 0 0 0; float: right; width: 231px; height: 75px;}
#main-search .row1 {padding: 7px 0 5px 10px; margin: 0;}
#main-search .row2a {padding: 0 0 2px 10px; margin: 0;}
#main-search .row2b {padding: 0 0 2px 0; margin: -23px 5px 0 0; float: right;}
#main-search .row3 {padding: 0 0 0 10px; margin: 0; width: 180px;}
#main-search a:link {font-size: 92%; margin: 0 0 0 48px; padding: 0;}
#main-search .dropdown {width: 136px;}

/*new Search box layout*/
#main-search-inline {padding: 0; margin: 20px 0 0 0; float: right; width: 375px; height: 55px;}
#main-search-inline .row1 {padding: 9px 0 5px 10px; margin: 0;}
#main-search-inline .row2a {padding: 0; margin: 0 0 0 0;}
#main-search-inline .row2b {padding: 0; margin: -27px 3px 0 0; float: right;}
/*#main-search-inline .row3 {padding: 0 0 0 10px; margin: 0;}*/
#main-search-inline .row3 {padding: 0 0 0 275px; margin: 0;}
#main-search-inline .row3 a {font-size: 92%; /*float: right;*/ margin: -2px 3px 0 0; padding: 0;}
#main-search-inline .dropdown {width: 136px; /*position: relative; left: 160px; top: -28px;*/ float: right; margin: -28px 85px 0 0; padding: 0;}

div#myProfile {/*position: relative; left: 600px; top: -29px;*/ float: right; margin: -75px 5px 0 0; padding: 2px; width: 165px; border: 1px solid #E4E4E4; text-align: center; font-size: 92%;} /* new reg header code 092106 */ 
div#myProfile a:link, div#myProfile a:visited {color: #990000;} /* new reg header code 092106 */ 

/*Home-Header 2006*/
#primary-home {margin: 0 0 0 0; padding: 0; background: #BEBEBE; color: #FFF; font-size: 1.1em; font-weight: bold; border-bottom: 1px solid #000;}
#primary-home #primary-links {margin: 0; padding: 0; line-height: 22px;}

/*Primary / Secondary navs 2006*/
#primary-nav {margin: 0; padding: 0; background: #BEBEBE; color: #FFF; font-size: 1.1em; font-weight: bold;}
#primary-nav #primary-links {margin: 0; padding: 0; line-height: 22px;}
#primary-links a:link, #primary-links a:visited {color: #FFF; text-decoration: none; padding: 2px 10px 3px 10px; margin: 0;}
#primary-links a:hover {text-decoration: none; color: #94002E;}
#primary-links a#active, #primary-links a.active {background: #E1E3E4; text-decoration: none; color: #94002E; line-height: 22px; padding: 3px 10px 3px 10px; margin: 0;} /*added a.active class 092706*/

/*#primary-links a:link, #primary-nav a:visited {color: #FFF; text-decoration: none; display: block; padding: 0 10px; margin: 0;} /*Hover bkgd style*/
/*#primary-links a:hover {background: #D9DBDE; text-decoration: none; color: #94002E; line-height: 22px;} /*Hover bkgd style*/

#secondary-nav06 {margin: 0 0 0 0; padding: 0; background: #E1E3E4; color: #69717A; font-size: .9em; font-weight: bold; border-bottom: 1px solid #000;}
#secondary-nav06 #secondary-links {margin: 0; padding: 0px 3px 0 7px; line-height: 22px;}
#secondary-nav06 a {/*border-right: 1px solid #69717A;*/ background: url(/images/prinav-border.gif) right no-repeat;}
#secondary-nav06 a.last {/*border: none;*/ background: none;}
#secondary-links a:link, #secondary-links a:visited {color: #69717A; text-decoration: none; padding: 0 7px 0 3px; margin: 0;} /*padding: 0 6px 0 3px;*/
#secondary-links a:hover, #secondary-links a#active, #secondary-links a.active {text-decoration: none; color: #94002E;} /*added a.active class 092706*/

/*Footer New 2006*/
#footer06 {width: 760px; height: 21px; border-top: 1px solid #ACACAC; background: #ECECEC; margin: 2px 0 0 0; padding: 4px 0 0 0px;}
#footer06 a {display: inline; margin: 0; background: url(/images/prinav-border.gif) right no-repeat; padding: 2px 10px 3px 8px; margin: 0;}
#footer06 a:link, #footer06 a:visited {text-decoration: none;}
#footer06 a:hover {text-decoration: underline;}
#footer06 a.last {background: none;}
#footer06 .copyright {display: inline; padding-left: 15px; margin: 0;}

/*Liquid header - Sponsor ADMIN - INTERNAL USE ONLY!!!*/
#header-wrapper {width: auto; float: left; background: #FFF; margin:0; padding: 0;} /*url(/images/reg-header-bot-border.gif) 0 0 repeat*/
#header-wrapper #home-header06, #header-wrapper #header06 {width: 760px; margin: -61px 0 0 0; padding: 0; float: right;} /*added width: auto;  from 760px; changed to float: left;*/
#header-wrapper #header06 {background: #FFF url(/images/header_brand.jpg) 160px 3px no-repeat; float: right;}
#xlogo-liquid {margin: 15px 0 0 8px; padding: 0; position: relative; z-index: 1000; width:145px; height: 43px;}

#liquid-wrapper #footer06 {width: auto; height: 21px; border-top: 1px solid #ACACAC; background: #ECECEC; margin: 0 0 0 0; padding: 4px 0 0 0px;} /*added width auto from 760px; made margin top 0px from 2px*/