SCHEMATIC START ;
// created by map version G.38 on Mon Feb 21 15:34:55 2005 
NET "clk_54M" BEL "BFG1.GCLKMUX" USELOCALCONNECT ;
NET "clk_74_17M" BEL "BFG1.GCLKMUX" USELOCALCONNECT ;
SCHEMATIC END ;
