Screen Mode = 1
Base        = 1
Pod Type    = 28
Drive       = U:
Path        = \PT5230\PT8632\TPD\PROMS.STD\NEW
Type        = *.POF
Device Code = 312702
File No.    = 4
Gang Mode   = 0
Beep        = 1
