******************************************
*                                        *
* DRILL TAPE SUMMARY REPORT              *
*                                        *
* F:\PT8616\PCB\REV3_PCB\GENLOCK-63.MAX  *
* Thu Feb 21 12:09:32 2008               *
*                                        *
******************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       120      469      200      100                                                                                 
T2       300      14       200      100                                                                                 
T3       320      20       200      100                                                                                 
T4       340      4        200      100                                                                                 
T5       380      6        200      100                                                                                 
T6       390      10       200      100                                                                                 
T7       394      14       200      100                                                                                 
T8       420      6        200      100                                                                                 
T9       512      10       200      100                                                                                 
T10      800      1        200      100                                                                                 
T11      1500     8        200      100                                                                                 
