//! **************************************************************************
// Written by: Map M.81d on Tue May 31 13:04:18 2011
//! **************************************************************************

SCHEMATIC START;
NET "clk_i_BUFGP/IBUFG" BEL "clk_i_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "ref_clk_i_BUFGP/IBUFG" BEL "ref_clk_i_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

