#### Signals coming from PT5300
#NET "f4m_i"  LOC = "AH21";	
#NET "f8g_i"  LOC = "AF22";
#NET "fhm_i"  LOC = "AH22";
#NET "fhg_i"  LOC = "AG23";
#NET "ok1_i"  LOC = "AE21";			  
#NET "ok2_i"  LOC = "AH23";
#NET "MReset_i" LOC = "AD23";


#### Signals coming from J3 test points
#NET "Red0_o" LOC = "AE26";
#NET "Red1_o" LOC = "AD25";
#NET "Red2_o" LOC = "AE24";
#NET "Red3_o" LOC = "AF23";
#NET "Red4_o" LOC = "AE22";
#NET "Red5_o" LOC = "AF21";
#
#NET "Blue0_o" LOC = "AH30";
#NET "Blue1_o" LOC = "AH29";
#NET "Blue2_o" LOC = "AK28";
#NET "Blue3_o" LOC = "AH27";
#NET "Blue4_o" LOC = "AH26";
#NET "Blue5_o" LOC = "AE23";
#
#NET "Green0_o" LOC = "AG29";
#NET "Green1_o" LOC = "AJ28";
#NET "Green2_o" LOC = "AF27";
#NET "Green3_o" LOC = "AG26";
#NET "Green4_o" LOC = "AF25";
#NET "Green5_o" LOC = "AF24";
#
#NET "hsync_o" LOC = "AG30";
#NET "vsync_o" LOC = "AF28";
#NET "dei_o" LOC = "AE29";
#NET "clki_o" LOC = "AE27";


#### Signals from micro-controller
#NET "sck_i" LOC = "AC29";
#NET "mosi_i" LOC = "W28";
#NET "miso_i" LOC = "V28";
#
#NET "nss0_i" LOC = "Y27";
#NET "nss1_i" LOC = "AD27";
#NET "nss2_i" LOC = "AC27";
#NET "nss3_i" LOC = "AD26";
#NET "nss4_i" LOC = "AD22";
#NET "nss5_i" LOC = "AE30";
#NET "nss6_i" LOC = "AE28";
#
#NET "p03" LOC = "AD28";
#NET "p04" LOC = "U27";
#NET "p05" LOC = "T27";
#NET "p06" LOC = "P27";
