
#### Led's: (OLD)
#NET "led1_o"         LOC = "AF29";  #D3
#NET "led2_o"         LOC = "AF30";  #D4
#NET "led3_o"         LOC = "AG28";  #D2
#NET "led4_o"         LOC = "AD29";  #D5

#### Led's: (NEW)
NET "led1_o"         LOC = "AG28";  #D2
NET "led2_o"         LOC = "AF29";  #D3
NET "led3_o"         LOC = "AF30";  #D4
NET "led4_o"         LOC = "AD29";  #D5

net "clk_i"          loc = "AH22";