//! **************************************************************************
// Written by: Map H.42 on Thu Mar 09 14:54:55 2006
//! **************************************************************************

SCHEMATIC START;
COMP "led1_o" LOCATE = SITE "AG28" LEVEL 1;
COMP "led2_o" LOCATE = SITE "AF29" LEVEL 1;
COMP "led3_o" LOCATE = SITE "AF30" LEVEL 1;
COMP "led4_o" LOCATE = SITE "AD29" LEVEL 1;
COMP "clk_i" LOCATE = SITE "AH22" LEVEL 1;
NET "clk_i_BUFGP/IBUFG" BEL "clk_i_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
