#### Signals coming from PT5300
NET "mreset_i" LOC = "AD23";
NET "f4m_i" LOC = "AH21";
NET "f8g_i" LOC = "AF22";
#### Clock signals:
NET "clk_27_i"       LOC = "AH16";  #f27
NET "brefclk_p_i"    LOC = "F16";   #brefclk
NET "brefclk_n_i"    LOC = "G16";   #brefclk
NET "brefclk2_p_i"   LOC = "G15";   #brefclk2
NET "brefclk2_n_i"   LOC = "F15";   #brefclk2
#### To controller:
NET "ok1_o" LOC = "AE21";
NET "ok2_o" LOC = "AH23";
#### Signals from micro-controller:
NET "sck_i" LOC = "AC29";
NET "mosi_i" LOC = "W28";
NET "cs1_i" LOC = "Y27";
#### Led's: (NEW)
NET "led1_o" LOC = "AG28"; #D2
NET "led2_o" LOC = "AF29"; #D3
NET "led3_o" LOC = "AF30"; #D4
NET "led4_o" LOC = "AD29"; #D5
#### PLL modes:
NET "pll1_S0_o" LOC = "AK21"; # clock to brefclk2
NET "pll1_S1_o" LOC = "AJ21";
NET "pll1_S2_o" LOC = "AK23";
NET "pll1_S3_o" LOC = "AJ22";
NET "pll2_S0_o" LOC = "AH24"; # clock to brefclk
NET "pll2_S1_o" LOC = "AJ23";
NET "pll2_S2_o" LOC = "AA30";
NET "pll2_S3_o" LOC = "AD30";
#### VCXO:                             
NET "vcxo_control_2_o"  LOC = "A3"  | SLEW = SLOW ; # VCXO_Ctrl1
NET "vcxo_control_1_o"  LOC = "D30" | SLEW = SLOW ; # VCXO_Ctrl2
#### Cable driver modes:
NET "sd_zhd_1_o" LOC = "C1";
NET "sd_zhd_2_o" LOC = "D1";
NET "sd_zhd_3_o" LOC = "E1";
NET "sd_zhd_4_o" LOC = "F1";
#### Rocket IO:
NET "SDI_p_1_o" LOC = "A26";
NET "SDI_n_1_o" LOC = "A27";
INST "HD_Gen_Channel_1/video_generator_instance/rocket_io_inst/serial_data_output/GT_CUSTOM_INST" LOC = GT_X0Y1;
NET "SDI_p_2_o" LOC = "A19";
NET "SDI_n_2_o" LOC = "A20";
INST "HD_Gen_Channel_2/video_generator_instance/rocket_io_inst/serial_data_output/GT_CUSTOM_INST" LOC = GT_X1Y1;
NET "SDI_p_3_o" LOC = "A13";
NET "SDI_n_3_o" LOC = "A14";
INST "HD_Gen_Channel_3/video_generator_instance/rocket_io_inst/serial_data_output/GT_CUSTOM_INST" LOC = GT_X2Y1;
NET "SDI_p_4_o" LOC = "A6";
NET "SDI_n_4_o" LOC = "A7";
INST "HD_Gen_Channel_4/video_generator_instance/rocket_io_inst/serial_data_output/GT_CUSTOM_INST" LOC = GT_X3Y1;
# Timing Constraints:
NET "clk_27_i"    TNM_NET = "clk_27_i";
TIMESPEC "TS_clk_27_i" = PERIOD "clk_27_i" 150 MHz HIGH 50 % INPUT_JITTER 1 ns;
NET "brefclk_p_i" TNM_NET = "brefclk_p_i";
TIMESPEC "TS_brefclk_p_i" = PERIOD "brefclk_p_i" 150 MHz HIGH 50 % INPUT_JITTER 1 ns;
NET "brefclk_n_i" TNM_NET = "brefclk_n_i";
TIMESPEC "TS_brefclk_n_i" = PERIOD "brefclk_n_i" 150 MHz HIGH 50 % INPUT_JITTER 1 ns;
NET "brefclk2_p_i" TNM_NET = "brefclk2_p_i";
TIMESPEC "TS_brefclk2_p_i" = PERIOD "brefclk2_p_i" 150 MHz HIGH 50 % INPUT_JITTER 1 ns;
NET "brefclk2_n_i" TNM_NET = "brefclk2_n_i";
TIMESPEC "TS_brefclk2_n_i" = PERIOD "brefclk2_n_i" 150 MHz HIGH 50 % INPUT_JITTER 1 ns;
# Ignore timing on some pathes:
NET "HD_Gen_Channel_1/system_controller/actual_system_var_clk*" TIG;
NET "HD_Gen_Channel_1/system_controller/pattern_o*" TIG;
NET "HD_Gen_Channel_2/system_controller/actual_system_var_clk*" TIG;
NET "HD_Gen_Channel_2/system_controller/pattern_o*" TIG;
NET "HD_Gen_Channel_3/system_controller/actual_system_var_clk*" TIG;
NET "HD_Gen_Channel_3/system_controller/pattern_o*" TIG;
NET "HD_Gen_Channel_4/system_controller/actual_system_var_clk*" TIG;
NET "HD_Gen_Channel_4/system_controller/pattern_o*" TIG;

INST "HD_Gen_Channel_*/video_generator_instance/audio_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/audio_content_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/Checkfield_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/clapboard_index_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/colorbar_index_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/active_video_filtering/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/active_video_filtering/luma_filtering/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/active_video_filtering/chroma_filtering/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/luma_ramp_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/pluge_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/text_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/window_generation/*" TNM = "double_cycle";
INST "HD_Gen_Channel_*/video_generator_instance/crosshatch_generation/*" TNM = "double_cycle";
#INST "HD_Gen_Channel_*/video_generator_instance/system_generation/*" TNM = "double_cycle";

#INST "HD_Gen_Channel_*/video_generator_instance/system_generation/sync_reset*" TNM = "single_cycle";
#INST "HD_Gen_Channel_*/video_generator_instance/system_generation/frame_start*" TNM = "single_cycle";
#INST "HD_Gen_Channel_*/video_generator_instance/system_generation/look*" TNM = "single_cycle";

TIMESPEC "TS_2cycle" = FROM "double_cycle" TO "double_cycle" "TS_brefclk_p_i" / 2;
#TIMESPEC "TS_1cycle" = FROM "single_cycle" TO "FFS" "TS_brefclk_p_i";

