//! **************************************************************************
// Written by: Map O.87xd on Thu Jun 21 13:27:34 2012
//! **************************************************************************

SCHEMATIC START;
COMP "sync_148mhz" LOCATE = SITE "P5" LEVEL 1;
COMP "NTP_PPS" LOCATE = SITE "P9" LEVEL 1;
COMP "LTC_a_out" LOCATE = SITE "P71" LEVEL 1;
COMP "LTC_b_out" LOCATE = SITE "P70" LEVEL 1;
COMP "clk_148_n" LOCATE = SITE "P95" LEVEL 1;
PIN clk_148_n_pin<0> = BEL "clk_148_n" PINNAME PAD;
PIN "clk_148_n_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "UBX_TX_i" LOCATE = SITE "P58" LEVEL 1;
COMP "clk_148_p" LOCATE = SITE "P94" LEVEL 1;
PIN clk_148_p_pin<0> = BEL "clk_148_p" PINNAME PAD;
PIN "clk_148_p_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "sync_10mhz_o" LOCATE = SITE "P33" LEVEL 1;
COMP "PPS_status_o" LOCATE = SITE "P11" LEVEL 1;
COMP "din_148mhz" LOCATE = SITE "P3" LEVEL 1;
COMP "SCL_i" LOCATE = SITE "P12" LEVEL 1;
COMP "PPS_i" LOCATE = SITE "P60" LEVEL 1;
COMP "f_d_o" LOCATE = SITE "P23" LEVEL 1;
COMP "h_d_o" LOCATE = SITE "P24" LEVEL 1;
COMP "tp1_o" LOCATE = SITE "P40" LEVEL 1;
COMP "tp2_o" LOCATE = SITE "P41" LEVEL 1;
COMP "tp3_o" LOCATE = SITE "P47" LEVEL 1;
COMP "rst_i" LOCATE = SITE "P2" LEVEL 1;
COMP "din_10mhz_o" LOCATE = SITE "P27" LEVEL 1;
COMP "MCU_RX" LOCATE = SITE "P49" LEVEL 1;
COMP "SDA_io" LOCATE = SITE "P15" LEVEL 1;
COMP "ext_int_o" LOCATE = SITE "P10" LEVEL 1;
COMP "NTP_RX" LOCATE = SITE "P48" LEVEL 1;
COMP "clk_10_i" LOCATE = SITE "P38" LEVEL 1;
COMP "led1_o" LOCATE = SITE "P36" LEVEL 1;
COMP "led2_o" LOCATE = SITE "P35" LEVEL 1;
COMP "sclk_148mhz" LOCATE = SITE "P4" LEVEL 1;
COMP "sclk_10mhz_o" LOCATE = SITE "P32" LEVEL 1;
NET "clk_1481" BEL "clk_148_BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_10_i_IBUFG1" BEL "clk_10_i_IBUFG_BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP clk_148_tm = BEL "ms_tick" BEL "SPG_sync_signal" BEL "NTSC_sync" BEL
        "PAL_sync" BEL "longer_tick" BEL "genlock_register_22_0" BEL
        "genlock_register_22_1" BEL "genlock_register_22_2" BEL
        "genlock_register_22_3" BEL "genlock_register_22_4" BEL
        "genlock_register_22_5" BEL "genlock_register_22_6" BEL
        "genlock_register_22_7" BEL "genlock_register_21_0" BEL
        "genlock_register_21_1" BEL "genlock_register_21_2" BEL
        "genlock_register_21_3" BEL "genlock_register_21_4" BEL
        "genlock_register_21_5" BEL "genlock_register_21_6" BEL
        "genlock_register_21_7" BEL "genlock_register_20_0" BEL
        "genlock_register_20_1" BEL "genlock_register_20_2" BEL
        "genlock_register_20_3" BEL "genlock_register_20_4" BEL
        "genlock_register_20_5" BEL "genlock_register_20_6" BEL
        "genlock_register_20_7" BEL "genlock_register_19_0" BEL
        "genlock_register_19_1" BEL "genlock_register_19_2" BEL
        "genlock_register_19_3" BEL "genlock_register_19_4" BEL
        "genlock_register_19_5" BEL "genlock_register_19_6" BEL
        "genlock_register_19_7" BEL "genlock_register_18_0" BEL
        "genlock_register_18_1" BEL "genlock_register_18_2" BEL
        "genlock_register_18_3" BEL "genlock_register_18_4" BEL
        "genlock_register_18_5" BEL "genlock_register_18_6" BEL
        "genlock_register_18_7" BEL "genlock_register_17_0" BEL
        "genlock_register_17_1" BEL "genlock_register_17_2" BEL
        "genlock_register_17_3" BEL "genlock_register_17_4" BEL
        "genlock_register_17_5" BEL "genlock_register_17_6" BEL
        "genlock_register_17_7" BEL "genlock_register_16_0" BEL
        "genlock_register_16_1" BEL "genlock_register_16_2" BEL
        "genlock_register_16_3" BEL "genlock_register_16_4" BEL
        "genlock_register_16_5" BEL "genlock_register_16_6" BEL
        "genlock_register_16_7" BEL "genlock_register_15_0" BEL
        "genlock_register_15_1" BEL "genlock_register_15_2" BEL
        "genlock_register_15_3" BEL "genlock_register_15_4" BEL
        "genlock_register_15_5" BEL "genlock_register_15_6" BEL
        "genlock_register_15_7" BEL "genlock_register_12_0" BEL
        "genlock_register_12_1" BEL "genlock_register_12_2" BEL
        "genlock_register_12_3" BEL "genlock_register_12_4" BEL
        "genlock_register_12_5" BEL "genlock_register_12_6" BEL
        "genlock_register_12_7" BEL "genlock_register_14_0" BEL
        "genlock_register_14_1" BEL "genlock_register_14_2" BEL
        "genlock_register_14_3" BEL "genlock_register_14_4" BEL
        "genlock_register_14_5" BEL "genlock_register_14_6" BEL
        "genlock_register_14_7" BEL "genlock_register_13_0" BEL
        "genlock_register_13_1" BEL "genlock_register_13_2" BEL
        "genlock_register_13_3" BEL "genlock_register_13_4" BEL
        "genlock_register_13_5" BEL "genlock_register_13_6" BEL
        "genlock_register_13_7" BEL "genlock_register_11_0" BEL
        "genlock_register_11_1" BEL "genlock_register_11_2" BEL
        "genlock_register_11_3" BEL "genlock_register_11_4" BEL
        "genlock_register_11_5" BEL "genlock_register_11_6" BEL
        "genlock_register_11_7" BEL "genlock_register_10_0" BEL
        "genlock_register_10_1" BEL "genlock_register_10_2" BEL
        "genlock_register_10_3" BEL "genlock_register_10_4" BEL
        "genlock_register_10_5" BEL "genlock_register_10_6" BEL
        "genlock_register_10_7" BEL "genlock_register_9_0" BEL
        "genlock_register_9_1" BEL "genlock_register_9_2" BEL
        "genlock_register_9_3" BEL "genlock_register_9_4" BEL
        "genlock_register_9_5" BEL "genlock_register_9_6" BEL
        "genlock_register_9_7" BEL "genlock_register_8_0" BEL
        "genlock_register_8_1" BEL "genlock_register_8_2" BEL
        "genlock_register_8_3" BEL "genlock_register_8_4" BEL
        "genlock_register_8_5" BEL "genlock_register_8_6" BEL
        "genlock_register_8_7" BEL "genlock_register_7_0" BEL
        "genlock_register_7_1" BEL "genlock_register_7_2" BEL
        "genlock_register_7_3" BEL "genlock_register_7_4" BEL
        "genlock_register_7_5" BEL "genlock_register_7_6" BEL
        "genlock_register_7_7" BEL "genlock_register_6_0" BEL
        "genlock_register_6_1" BEL "genlock_register_6_2" BEL
        "genlock_register_6_3" BEL "genlock_register_6_4" BEL
        "genlock_register_6_5" BEL "genlock_register_6_6" BEL
        "genlock_register_6_7" BEL "genlock_register_5_0" BEL
        "genlock_register_5_1" BEL "genlock_register_5_2" BEL
        "genlock_register_5_3" BEL "genlock_register_5_4" BEL
        "genlock_register_5_5" BEL "genlock_register_5_6" BEL
        "genlock_register_5_7" BEL "genlock_register_4_0" BEL
        "genlock_register_4_1" BEL "genlock_register_4_2" BEL
        "genlock_register_4_3" BEL "genlock_register_4_4" BEL
        "genlock_register_4_5" BEL "genlock_register_4_6" BEL
        "genlock_register_4_7" BEL "genlock_register_3_0" BEL
        "genlock_register_3_1" BEL "genlock_register_3_2" BEL
        "genlock_register_3_3" BEL "genlock_register_3_4" BEL
        "genlock_register_3_5" BEL "genlock_register_3_6" BEL
        "genlock_register_3_7" BEL "genlock_register_2_0" BEL
        "genlock_register_2_1" BEL "genlock_register_2_2" BEL
        "genlock_register_2_3" BEL "genlock_register_2_4" BEL
        "genlock_register_2_5" BEL "genlock_register_2_6" BEL
        "genlock_register_2_7" BEL "genlock_register_1_0" BEL
        "genlock_register_1_1" BEL "genlock_register_1_2" BEL
        "genlock_register_1_3" BEL "genlock_register_1_4" BEL
        "genlock_register_1_5" BEL "genlock_register_1_6" BEL
        "genlock_register_1_7" BEL "genlock_register_0_0" BEL
        "genlock_register_0_1" BEL "genlock_register_0_2" BEL
        "genlock_register_0_3" BEL "genlock_register_0_4" BEL
        "genlock_register_0_5" BEL "genlock_register_0_6" BEL
        "genlock_register_0_7" BEL "system_control_0" BEL "system_control_1"
        BEL "system_control_2" BEL "system_control_3" BEL "system_control_4"
        BEL "LTC_a_delay_10" BEL "LTC_a_delay_11" BEL "NTSC_offset_10" BEL
        "LTC_a_delay_12" BEL "LTC_a_mins_0" BEL "LTC_a_mins_1" BEL
        "LTC_a_mins_2" BEL "LTC_a_mins_3" BEL "LTC_a_mins_4" BEL
        "LTC_a_mins_5" BEL "LTC_a_mins_6" BEL "LTC_a_delay_13" BEL
        "LTC_b_delay_0" BEL "NTSC_offset_11" BEL "LTC_b_delay_10" BEL
        "LTC_b_hours_0" BEL "LTC_b_hours_1" BEL "LTC_b_hours_2" BEL
        "LTC_b_hours_3" BEL "LTC_b_hours_4" BEL "LTC_b_hours_5" BEL
        "LTC_a_delay_14" BEL "LTC_b_delay_1" BEL "NTSC_offset_12" BEL
        "LTC_b_delay_11" BEL "LTC_a_delay_15" BEL "LTC_a_delay_20" BEL
        "LTC_b_delay_2" BEL "LTC_a_secs_0" BEL "LTC_a_secs_1" BEL
        "LTC_a_secs_2" BEL "LTC_a_secs_3" BEL "LTC_a_secs_4" BEL
        "LTC_a_secs_5" BEL "LTC_a_secs_6" BEL "NTSC_offset_13" BEL
        "LTC_a_hours_0" BEL "LTC_a_hours_1" BEL "LTC_a_hours_2" BEL
        "LTC_a_hours_3" BEL "LTC_a_hours_4" BEL "LTC_a_hours_5" BEL
        "LTC_b_delay_12" BEL "LTC_a_delay_16" BEL "LTC_a_delay_21" BEL
        "LTC_b_delay_3" BEL "NTSC_offset_14" BEL "LTC_b_delay_13" BEL
        "LTC_b_delay_4" BEL "LTC_a_delay_22" BEL "LTC_a_delay_17" BEL
        "NTSC_offset_15" BEL "LTC_b_delay_14" BEL "LTC_a_delay_23" BEL
        "LTC_a_delay_18" BEL "LTC_b_delay_5" BEL "LTC_a_delay_19" BEL
        "LTC_b_delay_20" BEL "LTC_b_delay_15" BEL "LTC_a_delay_24" BEL
        "LTC_b_delay_6" BEL "LTC_b_mins_0" BEL "LTC_b_mins_1" BEL
        "LTC_b_mins_2" BEL "LTC_b_mins_3" BEL "LTC_b_mins_4" BEL
        "LTC_b_mins_5" BEL "LTC_b_mins_6" BEL "LTC_b_delay_16" BEL
        "LTC_b_delay_21" BEL "NTSC_offset_0" BEL "LTC_a_delay_25" BEL
        "LTC_a_delay_30" BEL "LTC_a_delay_0" BEL "LTC_b_delay_7" BEL
        "LTC_b_delay_22" BEL "LTC_b_delay_17" BEL "NTSC_offset_1" BEL
        "LTC_a_delay_26" BEL "LTC_a_delay_31" BEL "LTC_a_delay_1" BEL
        "LTC_b_delay_8" BEL "LTC_b_delay_23" BEL "LTC_b_delay_18" BEL
        "NTSC_offset_2" BEL "LTC_a_delay_27" BEL "LTC_b_delay_19" BEL
        "LTC_a_delay_2" BEL "LTC_b_delay_9" BEL "LTC_b_delay_24" BEL
        "LTC_b_secs_0" BEL "LTC_b_secs_1" BEL "LTC_b_secs_2" BEL
        "LTC_b_secs_3" BEL "LTC_b_secs_4" BEL "LTC_b_secs_5" BEL
        "LTC_b_secs_6" BEL "NTSC_offset_3" BEL "LTC_a_delay_28" BEL
        "LTC_a_delay_3" BEL "LTC_b_delay_30" BEL "LTC_a_delay_29" BEL
        "LTC_b_delay_25" BEL "NTSC_offset_4" BEL "LTC_a_delay_4" BEL
        "LTC_b_delay_26" BEL "LTC_b_delay_31" BEL "NTSC_offset_5" BEL
        "LTC_a_delay_5" BEL "LTC_b_delay_27" BEL "NTSC_offset_6" BEL
        "LTC_a_delay_6" BEL "LTC_b_delay_28" BEL "NTSC_offset_7" BEL
        "LTC_a_delay_7" BEL "LTC_b_delay_29" BEL "NTSC_offset_8" BEL
        "LTC_a_delay_8" BEL "LTC_setup_0" BEL "LTC_setup_1" BEL "LTC_setup_2"
        BEL "LTC_setup_4" BEL "LTC_setup_5" BEL "LTC_setup_6" BEL
        "NTSC_offset_9" BEL "LTC_a_delay_9" BEL "LTC_b_frames_0" BEL
        "LTC_b_frames_1" BEL "LTC_b_frames_2" BEL "LTC_b_frames_3" BEL
        "LTC_b_frames_4" BEL "LTC_b_frames_5" BEL "LTC_a_frames_0" BEL
        "LTC_a_frames_1" BEL "LTC_a_frames_2" BEL "LTC_a_frames_3" BEL
        "LTC_a_frames_4" BEL "LTC_a_frames_5" BEL "f_gen/pulse_state" BEL
        "f_gen/count_8" BEL "h_gen/pulse_state" BEL "h_gen/count_5" BEL
        "h_gen/count_0" BEL "ms_dec_count_0" BEL "ms_dec_count_1" BEL
        "ms_dec_count_2" BEL "ms_dec_count_3" BEL "ms_dec_count_4" BEL
        "ms_dec_count_5" BEL "ms_dec_count_6" BEL "ms_dec_count_7" BEL
        "ms_dec_count_8" BEL "ms_dec_count_9" BEL "ms_dec_count_10" BEL
        "ms_dec_count_11" BEL "ms_dec_count_12" BEL "ms_dec_count_13" BEL
        "ms_dec_count_14" BEL "ms_dec_count_15" BEL "ms_dec_count_16" BEL
        "ms_dec_count_17" BEL "count_0" BEL "count_3" BEL "count_1" BEL
        "count_2" BEL "count_6" BEL "count_4" BEL "count_5" BEL "count_9" BEL
        "count_7" BEL "count_8" BEL "count_10" BEL "count_11" BEL "count_14"
        BEL "count_12" BEL "count_13" BEL "count_17" BEL "count_15" BEL
        "count_16" BEL "count_20" BEL "count_18" BEL "count_19" BEL
        "ms_count_0" BEL "ms_count_1" BEL "ms_count_2" BEL "ms_count_3" BEL
        "ms_count_4" BEL "ms_count_5" BEL "ms_count_6" BEL "ms_count_7" BEL
        "ms_count_8" BEL "ms_count_9" BEL "serial_interface/state_FSM_FFd3"
        BEL "serial_interface/state_FSM_FFd2" BEL
        "serial_interface/state_FSM_FFd1" BEL "serial_interface/SDA_delay_1"
        BEL "serial_interface/SDA_delay_0" BEL
        "serial_interface/recieved_byte_o_7" BEL
        "serial_interface/recieved_byte_o_6" BEL
        "serial_interface/recieved_byte_o_5" BEL
        "serial_interface/recieved_byte_o_4" BEL
        "serial_interface/recieved_byte_o_3" BEL
        "serial_interface/recieved_byte_o_2" BEL
        "serial_interface/recieved_byte_o_1" BEL
        "serial_interface/recieved_byte_o_0" BEL "serial_interface/RW_dir" BEL
        "serial_interface/command_2" BEL "serial_interface/command_1" BEL
        "serial_interface/command_0" BEL "serial_interface/recieve_byte_7" BEL
        "serial_interface/SCL_delay_1" BEL "serial_interface/SCL_delay_0" BEL
        "serial_interface/recieve_byte_5" BEL
        "serial_interface/recieve_byte_4" BEL
        "serial_interface/recieve_byte_6" BEL
        "serial_interface/recieve_byte_2" BEL
        "serial_interface/recieve_byte_1" BEL
        "serial_interface/recieve_byte_3" BEL "serial_interface/bit_count_3"
        BEL "serial_interface/bit_count_2" BEL "serial_interface/bit_count_1"
        BEL "serial_interface/bit_count_0" BEL
        "serial_interface/recieve_byte_0" BEL "serial_interface/time_out_18"
        BEL "serial_interface/time_out_17" BEL "serial_interface/time_out_16"
        BEL "serial_interface/time_out_14" BEL "serial_interface/time_out_12"
        BEL "serial_interface/time_out_11" BEL "serial_interface/time_out_9"
        BEL "serial_interface/time_out_3" BEL "serial_interface/time_out_1"
        BEL "serial_interface/time_out_0" BEL "serial_interface/stop_o" BEL
        "Inst_ad5660_serial_DAC/state_FSM_FFd5" BEL
        "Inst_ad5660_serial_DAC/state_FSM_FFd4" BEL
        "Inst_ad5660_serial_DAC/state_FSM_FFd1" BEL
        "Inst_ad5660_serial_DAC/dec_clk_count_3" BEL
        "Inst_ad5660_serial_DAC/dec_clk_count_2" BEL
        "Inst_ad5660_serial_DAC/dec_clk_count_1" BEL
        "Inst_ad5660_serial_DAC/dec_clk_count_0" BEL
        "Inst_ad5660_serial_DAC/sync_o" BEL "Inst_ad5660_serial_DAC/sclk" BEL
        "Inst_ad5660_serial_DAC/shift_register_23" BEL
        "Inst_ad5660_serial_DAC/shift_register_22" BEL
        "Inst_ad5660_serial_DAC/shift_register_21" BEL
        "Inst_ad5660_serial_DAC/shift_register_20" BEL
        "Inst_ad5660_serial_DAC/shift_register_19" BEL
        "Inst_ad5660_serial_DAC/shift_register_18" BEL
        "Inst_ad5660_serial_DAC/shift_register_17" BEL
        "Inst_ad5660_serial_DAC/shift_register_16" BEL
        "Inst_ad5660_serial_DAC/shift_register_0" BEL
        "Inst_ad5660_serial_DAC/bit_count_4" BEL
        "Inst_ad5660_serial_DAC/bit_count_3" BEL
        "Inst_ad5660_serial_DAC/bit_count_2" BEL
        "Inst_ad5660_serial_DAC/bit_count_1" BEL
        "Inst_ad5660_serial_DAC/bit_count_0" BEL
        "communication/state_FSM_FFd2" BEL "communication/address_7" BEL
        "communication/address_6" BEL "communication/address_5" BEL
        "communication/address_4" BEL "communication/address_3" BEL
        "communication/address_2" BEL "communication/address_1" BEL
        "communication/address_0" BEL "communication/update_register_o" BEL
        "communication/address_o_7" BEL "communication/address_o_6" BEL
        "communication/address_o_5" BEL "communication/address_o_4" BEL
        "communication/address_o_3" BEL "communication/address_o_2" BEL
        "communication/address_o_1" BEL "communication/address_o_0" BEL
        "communication/update_line_1" BEL "communication/stop_line_1" BEL
        "communication/stop_line_0" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_2" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_0" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_1" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_10" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_3" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_4" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_6" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_5" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_11" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_13" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_12" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_7" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_9" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_8" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_14" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_16" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_20" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_15" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_19" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_17" BEL
        "VCXO_pll/VCXO_phase_loop/lf_int_reg_18" BEL
        "VCXO_pll/phase_detector/period_end_delayed_1" BEL
        "VCXO_pll/phase_detector/phase_count_2" BEL
        "VCXO_pll/phase_detector/phase_count_3" BEL
        "VCXO_pll/phase_detector/phase_count_4" BEL
        "VCXO_pll/phase_detector/phase_count_6" BEL
        "VCXO_pll/phase_detector/phase_count_8" BEL
        "VCXO_pll/phase_detector/phase_count_9" BEL
        "VCXO_pll/phase_detector/phase_count_11" BEL
        "VCXO_pll/phase_detector/clk_ref_dec_rising" BEL
        "VCXO_pll/phase_detector/period_end_delayed_2" BEL
        "VCXO_pll/phase_detector/clk_ref_dec_delayed_1" BEL
        "VCXO_pll/phase_detector/phase_diff_1" BEL
        "VCXO_pll/phase_detector/phase_diff_2" BEL
        "VCXO_pll/phase_detector/phase_diff_3" BEL
        "VCXO_pll/phase_detector/phase_diff_4" BEL
        "VCXO_pll/phase_detector/phase_diff_5" BEL
        "VCXO_pll/phase_detector/phase_diff_6" BEL
        "VCXO_pll/phase_detector/phase_diff_7" BEL
        "VCXO_pll/phase_detector/phase_diff_8" BEL
        "VCXO_pll/phase_detector/phase_diff_9" BEL
        "VCXO_pll/phase_detector/phase_diff_10" BEL
        "VCXO_pll/phase_detector/phase_diff_11" BEL
        "VCXO_pll/phase_detector/phase_diff_12" BEL
        "VCXO_pll/phase_detector/period_end_delayed_3" BEL
        "VCXO_pll/phase_detector/make_shorter" BEL
        "VCXO_pll/phase_detector/make_longer" BEL "VCXO_pll/tick_delay_27" BEL
        "VCXO_pll/tick_delay_26" BEL "VCXO_pll/tick_delay_25" BEL
        "VCXO_pll/tick_delay_24" BEL "VCXO_pll/tick_delay_23" BEL
        "VCXO_pll/tick_delay_22" BEL "VCXO_pll/tick_delay_21" BEL
        "VCXO_pll/tick_delay_20" BEL "VCXO_pll/tick_delay_19" BEL
        "VCXO_pll/tick_delay_18" BEL "VCXO_pll/tick_delay_17" BEL
        "VCXO_pll/tick_delay_16" BEL "VCXO_pll/tick_delay_15" BEL
        "VCXO_pll/tick_delay_14" BEL "VCXO_pll/tick_delay_13" BEL
        "VCXO_pll/tick_delay_12" BEL "VCXO_pll/tick_delay_11" BEL
        "VCXO_pll/tick_delay_10" BEL "VCXO_pll/tick_delay_9" BEL
        "VCXO_pll/tick_delay_8" BEL "VCXO_pll/tick_delay_7" BEL
        "VCXO_pll/tick_delay_6" BEL "VCXO_pll/tick_delay_5" BEL
        "VCXO_pll/tick_delay_4" BEL "VCXO_pll/tick_delay_3" BEL
        "VCXO_pll/tick_delay_2" BEL "VCXO_pll/tick_delay_1" BEL
        "VCXO_pll/tick_delay_0" BEL "VCXO_pll/pps_148_tick_o" BEL
        "VCXO_pll/trigger" BEL "LTC_B/LTC_biphase_generator/biphase_code" BEL
        "LTC_B/LTC_frame_count/frame_units_0" BEL
        "LTC_B/LTC_frame_count/frame_units_1" BEL
        "LTC_B/LTC_frame_count/frame_units_2" BEL
        "LTC_B/LTC_frame_count/frame_units_3" BEL
        "LTC_B/LTC_frame_count/frame_tens_0" BEL
        "LTC_B/LTC_frame_count/frame_tens_1" BEL
        "LTC_B/LTC_frame_count/hour_tens_0" BEL
        "LTC_B/LTC_frame_count/hour_tens_1" BEL
        "LTC_B/LTC_frame_count/count_sec" BEL
        "LTC_B/LTC_frame_count/hour_tens_o_0" BEL
        "LTC_B/LTC_frame_count/hour_tens_o_1" BEL
        "LTC_B/LTC_frame_count/min_tens_o_0" BEL
        "LTC_B/LTC_frame_count/min_tens_o_1" BEL
        "LTC_B/LTC_frame_count/min_tens_o_2" BEL
        "LTC_B/LTC_frame_count/frame_units_o_0" BEL
        "LTC_B/LTC_frame_count/frame_units_o_1" BEL
        "LTC_B/LTC_frame_count/frame_units_o_2" BEL
        "LTC_B/LTC_frame_count/frame_units_o_3" BEL
        "LTC_B/LTC_frame_count/sec_units_o_0" BEL
        "LTC_B/LTC_frame_count/sec_units_o_1" BEL
        "LTC_B/LTC_frame_count/sec_units_o_2" BEL
        "LTC_B/LTC_frame_count/sec_units_o_3" BEL
        "LTC_B/LTC_frame_count/sec_tens_o_0" BEL
        "LTC_B/LTC_frame_count/sec_tens_o_1" BEL
        "LTC_B/LTC_frame_count/sec_tens_o_2" BEL
        "LTC_B/LTC_frame_count/hour_units_o_0" BEL
        "LTC_B/LTC_frame_count/hour_units_o_1" BEL
        "LTC_B/LTC_frame_count/hour_units_o_2" BEL
        "LTC_B/LTC_frame_count/hour_units_o_3" BEL
        "LTC_B/LTC_frame_count/frame_tens_o_0" BEL
        "LTC_B/LTC_frame_count/frame_tens_o_1" BEL
        "LTC_B/LTC_frame_count/min_units_o_0" BEL
        "LTC_B/LTC_frame_count/min_units_o_1" BEL
        "LTC_B/LTC_frame_count/min_units_o_2" BEL
        "LTC_B/LTC_frame_count/min_units_o_3" BEL
        "LTC_B/LTC_frame_count/sec_tens_0" BEL
        "LTC_B/LTC_frame_count/sec_tens_1" BEL
        "LTC_B/LTC_frame_count/sec_tens_2" BEL
        "LTC_B/LTC_frame_count/min_units_0" BEL
        "LTC_B/LTC_frame_count/min_units_1" BEL
        "LTC_B/LTC_frame_count/min_units_2" BEL
        "LTC_B/LTC_frame_count/min_units_3" BEL
        "LTC_B/LTC_frame_count/sec_units_0" BEL
        "LTC_B/LTC_frame_count/sec_units_1" BEL
        "LTC_B/LTC_frame_count/sec_units_2" BEL
        "LTC_B/LTC_frame_count/sec_units_3" BEL
        "LTC_B/LTC_frame_count/min_tens_0" BEL
        "LTC_B/LTC_frame_count/min_tens_1" BEL
        "LTC_B/LTC_frame_count/min_tens_2" BEL
        "LTC_B/LTC_frame_count/hour_units_0" BEL
        "LTC_B/LTC_frame_count/hour_units_1" BEL
        "LTC_B/LTC_frame_count/hour_units_2" BEL
        "LTC_B/LTC_frame_count/hour_units_3" BEL
        "LTC_B/LTC_clockgenerator/ltc_clock_tick_o" BEL
        "LTC_B/LTC_clockgenerator/ltc_sync_o" BEL
        "LTC_B/LTC_clockgenerator/period_count_1" BEL
        "LTC_B/LTC_clockgenerator/period_count_2" BEL
        "LTC_B/LTC_clockgenerator/period_count_5" BEL
        "LTC_B/LTC_clockgenerator/period_count_6" BEL
        "LTC_B/LTC_clockgenerator/period_count_7" BEL
        "LTC_B/LTC_clockgenerator/period_count_8" BEL
        "LTC_B/LTC_clockgenerator/period_count_9" BEL
        "LTC_B/LTC_clockgenerator/period_count_10" BEL
        "LTC_B/LTC_clockgenerator/period_count_11" BEL
        "LTC_B/LTC_clockgenerator/period_count_13" BEL
        "LTC_B/LTC_clockgenerator/period_count_14" BEL
        "LTC_B/LTC_clockgenerator/period_count_15" BEL
        "LTC_B/LTC_clockgenerator/ltc_frame_tick_o" BEL
        "LTC_B/LTC_clockgenerator/ratio_count_0" BEL
        "LTC_B/LTC_clockgenerator/ratio_count_1" BEL
        "LTC_B/LTC_clockgenerator/ratio_count_2" BEL
        "LTC_B/LTC_clockgenerator/ratio_count_3" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_0" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_1" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_2" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_3" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_4" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_5" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_6" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_7" BEL
        "LTC_B/delay_count_high_3" BEL "LTC_B/delay_count_high_2" BEL
        "LTC_B/delay_count_high_1" BEL "LTC_B/delay_count_high_0" BEL
        "LTC_B/delay_count_low_23" BEL "LTC_B/delay_count_low_22" BEL
        "LTC_B/delay_count_low_21" BEL "LTC_B/delay_count_low_20" BEL
        "LTC_B/delay_count_low_19" BEL "LTC_B/delay_count_low_18" BEL
        "LTC_B/delay_count_low_17" BEL "LTC_B/delay_count_low_16" BEL
        "LTC_B/delay_count_low_15" BEL "LTC_B/delay_count_low_14" BEL
        "LTC_B/delay_count_low_13" BEL "LTC_B/delay_count_low_12" BEL
        "LTC_B/delay_count_low_11" BEL "LTC_B/delay_count_low_10" BEL
        "LTC_B/delay_count_low_9" BEL "LTC_B/delay_count_low_8" BEL
        "LTC_B/delay_count_low_7" BEL "LTC_B/delay_count_low_6" BEL
        "LTC_B/delay_count_low_5" BEL "LTC_B/delay_count_low_4" BEL
        "LTC_B/delay_count_low_3" BEL "LTC_B/delay_count_low_2" BEL
        "LTC_B/delay_count_low_1" BEL "LTC_B/delay_count_low_0" BEL
        "LTC_B/delay_sync" BEL "LTC_A/LTC_biphase_generator/biphase_code" BEL
        "LTC_A/LTC_frame_count/frame_units_0" BEL
        "LTC_A/LTC_frame_count/frame_units_1" BEL
        "LTC_A/LTC_frame_count/frame_units_2" BEL
        "LTC_A/LTC_frame_count/frame_units_3" BEL
        "LTC_A/LTC_frame_count/frame_tens_0" BEL
        "LTC_A/LTC_frame_count/frame_tens_1" BEL
        "LTC_A/LTC_frame_count/hour_tens_0" BEL
        "LTC_A/LTC_frame_count/hour_tens_1" BEL
        "LTC_A/LTC_frame_count/count_sec" BEL
        "LTC_A/LTC_frame_count/hour_tens_o_0" BEL
        "LTC_A/LTC_frame_count/hour_tens_o_1" BEL
        "LTC_A/LTC_frame_count/min_tens_o_0" BEL
        "LTC_A/LTC_frame_count/min_tens_o_1" BEL
        "LTC_A/LTC_frame_count/min_tens_o_2" BEL
        "LTC_A/LTC_frame_count/frame_units_o_0" BEL
        "LTC_A/LTC_frame_count/frame_units_o_1" BEL
        "LTC_A/LTC_frame_count/frame_units_o_2" BEL
        "LTC_A/LTC_frame_count/frame_units_o_3" BEL
        "LTC_A/LTC_frame_count/sec_units_o_0" BEL
        "LTC_A/LTC_frame_count/sec_units_o_1" BEL
        "LTC_A/LTC_frame_count/sec_units_o_2" BEL
        "LTC_A/LTC_frame_count/sec_units_o_3" BEL
        "LTC_A/LTC_frame_count/sec_tens_o_0" BEL
        "LTC_A/LTC_frame_count/sec_tens_o_1" BEL
        "LTC_A/LTC_frame_count/sec_tens_o_2" BEL
        "LTC_A/LTC_frame_count/hour_units_o_0" BEL
        "LTC_A/LTC_frame_count/hour_units_o_1" BEL
        "LTC_A/LTC_frame_count/hour_units_o_2" BEL
        "LTC_A/LTC_frame_count/hour_units_o_3" BEL
        "LTC_A/LTC_frame_count/frame_tens_o_0" BEL
        "LTC_A/LTC_frame_count/frame_tens_o_1" BEL
        "LTC_A/LTC_frame_count/min_units_o_0" BEL
        "LTC_A/LTC_frame_count/min_units_o_1" BEL
        "LTC_A/LTC_frame_count/min_units_o_2" BEL
        "LTC_A/LTC_frame_count/min_units_o_3" BEL
        "LTC_A/LTC_frame_count/sec_tens_0" BEL
        "LTC_A/LTC_frame_count/sec_tens_1" BEL
        "LTC_A/LTC_frame_count/sec_tens_2" BEL
        "LTC_A/LTC_frame_count/min_units_0" BEL
        "LTC_A/LTC_frame_count/min_units_1" BEL
        "LTC_A/LTC_frame_count/min_units_2" BEL
        "LTC_A/LTC_frame_count/min_units_3" BEL
        "LTC_A/LTC_frame_count/sec_units_0" BEL
        "LTC_A/LTC_frame_count/sec_units_1" BEL
        "LTC_A/LTC_frame_count/sec_units_2" BEL
        "LTC_A/LTC_frame_count/sec_units_3" BEL
        "LTC_A/LTC_frame_count/min_tens_0" BEL
        "LTC_A/LTC_frame_count/min_tens_1" BEL
        "LTC_A/LTC_frame_count/min_tens_2" BEL
        "LTC_A/LTC_frame_count/hour_units_0" BEL
        "LTC_A/LTC_frame_count/hour_units_1" BEL
        "LTC_A/LTC_frame_count/hour_units_2" BEL
        "LTC_A/LTC_frame_count/hour_units_3" BEL
        "LTC_A/LTC_clockgenerator/ltc_clock_tick_o" BEL
        "LTC_A/LTC_clockgenerator/ltc_sync_o" BEL
        "LTC_A/LTC_clockgenerator/period_count_1" BEL
        "LTC_A/LTC_clockgenerator/period_count_2" BEL
        "LTC_A/LTC_clockgenerator/period_count_5" BEL
        "LTC_A/LTC_clockgenerator/period_count_6" BEL
        "LTC_A/LTC_clockgenerator/period_count_7" BEL
        "LTC_A/LTC_clockgenerator/period_count_8" BEL
        "LTC_A/LTC_clockgenerator/period_count_9" BEL
        "LTC_A/LTC_clockgenerator/period_count_10" BEL
        "LTC_A/LTC_clockgenerator/period_count_11" BEL
        "LTC_A/LTC_clockgenerator/period_count_13" BEL
        "LTC_A/LTC_clockgenerator/period_count_14" BEL
        "LTC_A/LTC_clockgenerator/period_count_15" BEL
        "LTC_A/LTC_clockgenerator/ltc_frame_tick_o" BEL
        "LTC_A/LTC_clockgenerator/ratio_count_0" BEL
        "LTC_A/LTC_clockgenerator/ratio_count_1" BEL
        "LTC_A/LTC_clockgenerator/ratio_count_2" BEL
        "LTC_A/LTC_clockgenerator/ratio_count_3" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_0" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_1" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_2" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_3" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_4" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_5" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_6" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_7" BEL
        "LTC_A/delay_count_high_3" BEL "LTC_A/delay_count_high_2" BEL
        "LTC_A/delay_count_high_1" BEL "LTC_A/delay_count_high_0" BEL
        "LTC_A/delay_count_low_23" BEL "LTC_A/delay_count_low_22" BEL
        "LTC_A/delay_count_low_21" BEL "LTC_A/delay_count_low_20" BEL
        "LTC_A/delay_count_low_19" BEL "LTC_A/delay_count_low_18" BEL
        "LTC_A/delay_count_low_17" BEL "LTC_A/delay_count_low_16" BEL
        "LTC_A/delay_count_low_15" BEL "LTC_A/delay_count_low_14" BEL
        "LTC_A/delay_count_low_13" BEL "LTC_A/delay_count_low_12" BEL
        "LTC_A/delay_count_low_11" BEL "LTC_A/delay_count_low_10" BEL
        "LTC_A/delay_count_low_9" BEL "LTC_A/delay_count_low_8" BEL
        "LTC_A/delay_count_low_7" BEL "LTC_A/delay_count_low_6" BEL
        "LTC_A/delay_count_low_5" BEL "LTC_A/delay_count_low_4" BEL
        "LTC_A/delay_count_low_3" BEL "LTC_A/delay_count_low_2" BEL
        "LTC_A/delay_count_low_1" BEL "LTC_A/delay_count_low_0" BEL
        "LTC_A/delay_sync" BEL "f_gen/count_31" BEL "f_gen/count_30" BEL
        "f_gen/count_29" BEL "f_gen/count_28" BEL "f_gen/count_27" BEL
        "f_gen/count_26" BEL "f_gen/count_25" BEL "f_gen/count_24" BEL
        "f_gen/count_23" BEL "f_gen/count_22" BEL "f_gen/count_21" BEL
        "f_gen/count_20" BEL "f_gen/count_19" BEL "f_gen/count_18" BEL
        "f_gen/count_17" BEL "f_gen/count_16" BEL "f_gen/count_15" BEL
        "f_gen/count_14" BEL "f_gen/count_13" BEL "f_gen/count_12" BEL
        "f_gen/count_11" BEL "f_gen/count_10" BEL "f_gen/count_9" BEL
        "f_gen/count_7" BEL "f_gen/count_6" BEL "f_gen/count_5" BEL
        "f_gen/count_4" BEL "f_gen/count_3" BEL "f_gen/count_2" BEL
        "f_gen/count_1" BEL "f_gen/count_0" BEL "h_gen/count_31" BEL
        "h_gen/count_30" BEL "h_gen/count_29" BEL "h_gen/count_28" BEL
        "h_gen/count_27" BEL "h_gen/count_26" BEL "h_gen/count_25" BEL
        "h_gen/count_24" BEL "h_gen/count_23" BEL "h_gen/count_22" BEL
        "h_gen/count_21" BEL "h_gen/count_20" BEL "h_gen/count_19" BEL
        "h_gen/count_18" BEL "h_gen/count_17" BEL "h_gen/count_16" BEL
        "h_gen/count_15" BEL "h_gen/count_14" BEL "h_gen/count_13" BEL
        "h_gen/count_12" BEL "h_gen/count_11" BEL "h_gen/count_9" BEL
        "h_gen/count_8" BEL "h_gen/count_7" BEL "h_gen/count_6" BEL
        "h_gen/count_4" BEL "h_gen/count_3" BEL "h_gen/count_2" BEL
        "h_gen/count_1" BEL "serial_interface/state_FSM_FFd4" BEL
        "serial_interface/send_byte_7" BEL "serial_interface/send_byte_6" BEL
        "serial_interface/send_byte_5" BEL "serial_interface/send_byte_4" BEL
        "serial_interface/send_byte_3" BEL "serial_interface/send_byte_2" BEL
        "serial_interface/send_byte_1" BEL "serial_interface/send_byte_0" BEL
        "serial_interface/time_out_21" BEL "serial_interface/time_out_20" BEL
        "serial_interface/time_out_19" BEL "serial_interface/time_out_15" BEL
        "serial_interface/time_out_13" BEL "serial_interface/time_out_10" BEL
        "serial_interface/time_out_8" BEL "serial_interface/time_out_7" BEL
        "serial_interface/time_out_6" BEL "serial_interface/time_out_5" BEL
        "serial_interface/time_out_4" BEL "serial_interface/time_out_2" BEL
        "Inst_ad5660_serial_DAC/state_FSM_FFd3" BEL
        "Inst_ad5660_serial_DAC/shift_register_15" BEL
        "Inst_ad5660_serial_DAC/shift_register_14" BEL
        "Inst_ad5660_serial_DAC/shift_register_13" BEL
        "Inst_ad5660_serial_DAC/shift_register_12" BEL
        "Inst_ad5660_serial_DAC/shift_register_11" BEL
        "Inst_ad5660_serial_DAC/shift_register_10" BEL
        "Inst_ad5660_serial_DAC/shift_register_9" BEL
        "Inst_ad5660_serial_DAC/shift_register_8" BEL
        "Inst_ad5660_serial_DAC/shift_register_7" BEL
        "Inst_ad5660_serial_DAC/shift_register_6" BEL
        "Inst_ad5660_serial_DAC/shift_register_5" BEL
        "Inst_ad5660_serial_DAC/shift_register_4" BEL
        "Inst_ad5660_serial_DAC/shift_register_3" BEL
        "Inst_ad5660_serial_DAC/shift_register_2" BEL
        "Inst_ad5660_serial_DAC/shift_register_1" BEL
        "Inst_ad5660_serial_DAC/data_o" BEL
        "VCXO_pll/phase_detector/phase_count_0" BEL
        "VCXO_pll/phase_detector/phase_count_1" BEL
        "VCXO_pll/phase_detector/phase_count_5" BEL
        "VCXO_pll/phase_detector/phase_count_7" BEL
        "VCXO_pll/phase_detector/phase_count_10" BEL "VCXO_pll/cv_word_o_15"
        BEL "VCXO_pll/cv_word_o_14" BEL "VCXO_pll/cv_word_o_13" BEL
        "VCXO_pll/cv_word_o_12" BEL "VCXO_pll/cv_word_o_11" BEL
        "VCXO_pll/cv_word_o_10" BEL "VCXO_pll/cv_word_o_9" BEL
        "VCXO_pll/cv_word_o_8" BEL "VCXO_pll/cv_word_o_7" BEL
        "VCXO_pll/cv_word_o_6" BEL "VCXO_pll/cv_word_o_5" BEL
        "VCXO_pll/cv_word_o_4" BEL "VCXO_pll/cv_word_o_3" BEL
        "VCXO_pll/cv_word_o_2" BEL "VCXO_pll/cv_word_o_1" BEL
        "VCXO_pll/cv_word_o_0" BEL "LTC_B/LTC_clockgenerator/period_count_0"
        BEL "LTC_B/LTC_clockgenerator/period_count_3" BEL
        "LTC_B/LTC_clockgenerator/period_count_4" BEL
        "LTC_B/LTC_clockgenerator/period_count_12" BEL
        "LTC_A/LTC_clockgenerator/period_count_0" BEL
        "LTC_A/LTC_clockgenerator/period_count_3" BEL
        "LTC_A/LTC_clockgenerator/period_count_4" BEL
        "LTC_A/LTC_clockgenerator/period_count_12" BEL
        "communication/state_FSM_FFd1" BEL "h_gen/count_10" BEL
        "Inst_ad5660_serial_DAC/state_FSM_FFd2" BEL "serial_interface/SDA_out"
        BEL "communication/Mshreg_update_line_0/SRL16E" BEL
        "communication/update_line_0" BEL
        "VCXO_pll/phase_detector/Mshreg_clk_ref_dec_delayed_0/SRL16E" BEL
        "VCXO_pll/phase_detector/clk_ref_dec_delayed_0";
TIMEGRP PLL_clock_gen_CLKFX_BUF = BEL "pps_edge_0" BEL "pps_edge_1" BEL
        "kvant_pps" BEL "dac_OCXO/bit_count_7" BEL "dac_OCXO/bit_count_6" BEL
        "dac_OCXO/bit_count_5" BEL "dac_OCXO/bit_count_4" BEL
        "dac_OCXO/bit_count_3" BEL "dac_OCXO/bit_count_2" BEL
        "dac_OCXO/bit_count_0" BEL "dac_OCXO/bit_count_1" BEL "dac_OCXO/zsync"
        BEL "dac_OCXO/shift_reg_23" BEL "dac_OCXO/shift_reg_22" BEL
        "dac_OCXO/shift_reg_21" BEL "dac_OCXO/shift_reg_20" BEL
        "dac_OCXO/shift_reg_19" BEL "dac_OCXO/shift_reg_18" BEL
        "dac_OCXO/shift_reg_17" BEL "dac_OCXO/shift_reg_16" BEL
        "dac_OCXO/shift_reg_15" BEL "dac_OCXO/shift_reg_14" BEL
        "dac_OCXO/shift_reg_13" BEL "dac_OCXO/shift_reg_12" BEL
        "dac_OCXO/shift_reg_11" BEL "dac_OCXO/shift_reg_10" BEL
        "dac_OCXO/shift_reg_9" BEL "dac_OCXO/shift_reg_8" BEL
        "dac_OCXO/shift_reg_7" BEL "dac_OCXO/shift_reg_6" BEL
        "dac_OCXO/shift_reg_5" BEL "dac_OCXO/shift_reg_4" BEL
        "dac_OCXO/shift_reg_3" BEL "dac_OCXO/shift_reg_2" BEL
        "dac_OCXO/shift_reg_1" BEL "dac_OCXO/shift_reg_0" BEL
        "dac_OCXO/bit_tick" BEL "OCXO_pll/phase_detect/phase_counter_25" BEL
        "OCXO_pll/phase_detect/phase_counter_24" BEL
        "OCXO_pll/phase_detect/phase_counter_26" BEL
        "OCXO_pll/phase_detect/phase_counter_23" BEL
        "OCXO_pll/phase_detect/phase_counter_22" BEL
        "OCXO_pll/phase_detect/phase_counter_21" BEL
        "OCXO_pll/phase_detect/phase_counter_20" BEL
        "OCXO_pll/phase_detect/phase_counter_18" BEL
        "OCXO_pll/phase_detect/phase_counter_17" BEL
        "OCXO_pll/phase_detect/phase_counter_19" BEL
        "OCXO_pll/phase_detect/phase_counter_16" BEL
        "OCXO_pll/phase_detect/phase_counter_15" BEL
        "OCXO_pll/phase_detect/phase_counter_14" BEL
        "OCXO_pll/phase_detect/phase_counter_13" BEL
        "OCXO_pll/phase_detect/phase_counter_11" BEL
        "OCXO_pll/phase_detect/phase_counter_10" BEL
        "OCXO_pll/phase_detect/phase_counter_12" BEL
        "OCXO_pll/phase_detect/phase_counter_9" BEL
        "OCXO_pll/phase_detect/phase_counter_8" BEL
        "OCXO_pll/phase_detect/phase_counter_7" BEL
        "OCXO_pll/phase_detect/phase_counter_6" BEL
        "OCXO_pll/phase_detect/phase_counter_4" BEL
        "OCXO_pll/phase_detect/phase_counter_3" BEL
        "OCXO_pll/phase_detect/phase_counter_5" BEL
        "OCXO_pll/phase_detect/phase_counter_2" BEL
        "OCXO_pll/phase_detect/phase_counter_1" BEL
        "OCXO_pll/phase_detect/phase_counter_0" BEL
        "OCXO_pll/phase_detect/phase_diff_27" BEL
        "OCXO_pll/phase_detect/phase_diff_26" BEL
        "OCXO_pll/phase_detect/phase_diff_25" BEL
        "OCXO_pll/phase_detect/phase_diff_24" BEL
        "OCXO_pll/phase_detect/phase_diff_23" BEL
        "OCXO_pll/phase_detect/phase_diff_22" BEL
        "OCXO_pll/phase_detect/phase_diff_21" BEL
        "OCXO_pll/phase_detect/phase_diff_20" BEL
        "OCXO_pll/phase_detect/phase_diff_19" BEL
        "OCXO_pll/phase_detect/phase_diff_18" BEL
        "OCXO_pll/phase_detect/phase_diff_17" BEL
        "OCXO_pll/phase_detect/phase_diff_16" BEL
        "OCXO_pll/phase_detect/phase_diff_15" BEL
        "OCXO_pll/phase_detect/phase_diff_14" BEL
        "OCXO_pll/phase_detect/phase_diff_13" BEL
        "OCXO_pll/phase_detect/phase_diff_12" BEL
        "OCXO_pll/phase_detect/phase_diff_11" BEL
        "OCXO_pll/phase_detect/phase_diff_10" BEL
        "OCXO_pll/phase_detect/phase_diff_9" BEL
        "OCXO_pll/phase_detect/phase_diff_8" BEL
        "OCXO_pll/phase_detect/phase_diff_7" BEL
        "OCXO_pll/phase_detect/phase_diff_6" BEL
        "OCXO_pll/phase_detect/phase_diff_5" BEL
        "OCXO_pll/phase_detect/phase_diff_4" BEL
        "OCXO_pll/phase_detect/phase_diff_3" BEL
        "OCXO_pll/phase_detect/phase_diff_2" BEL
        "OCXO_pll/phase_detect/phase_diff_1" BEL
        "OCXO_pll/phase_detect/update_tick" BEL
        "OCXO_pll/phase_detect/int_pps_tick" BEL
        "OCXO_pll/phase_loop/integrator_35" BEL
        "OCXO_pll/phase_loop/integrator_34" BEL
        "OCXO_pll/phase_loop/integrator_33" BEL
        "OCXO_pll/phase_loop/integrator_32" BEL
        "OCXO_pll/phase_loop/integrator_31" BEL
        "OCXO_pll/phase_loop/integrator_30" BEL
        "OCXO_pll/phase_loop/integrator_29" BEL
        "OCXO_pll/phase_loop/integrator_28" BEL
        "OCXO_pll/phase_loop/integrator_27" BEL
        "OCXO_pll/phase_loop/integrator_26" BEL
        "OCXO_pll/phase_loop/integrator_25" BEL
        "OCXO_pll/phase_loop/integrator_24" BEL
        "OCXO_pll/phase_loop/integrator_23" BEL
        "OCXO_pll/phase_loop/integrator_22" BEL
        "OCXO_pll/phase_loop/integrator_21" BEL
        "OCXO_pll/phase_loop/integrator_20" BEL
        "OCXO_pll/phase_loop/integrator_19" BEL
        "OCXO_pll/phase_loop/integrator_18" BEL
        "OCXO_pll/phase_loop/integrator_17" BEL
        "OCXO_pll/phase_loop/integrator_16" BEL
        "OCXO_pll/phase_loop/integrator_15" BEL
        "OCXO_pll/phase_loop/integrator_14" BEL
        "OCXO_pll/phase_loop/integrator_13" BEL
        "OCXO_pll/phase_loop/integrator_12" BEL
        "OCXO_pll/phase_loop/integrator_11" BEL
        "OCXO_pll/phase_loop/integrator_10" BEL
        "OCXO_pll/phase_loop/integrator_9" BEL
        "OCXO_pll/phase_loop/integrator_8" BEL
        "OCXO_pll/phase_loop/integrator_7" BEL
        "OCXO_pll/phase_loop/integrator_6" BEL
        "OCXO_pll/phase_loop/integrator_5" BEL
        "OCXO_pll/phase_loop/integrator_4" BEL
        "OCXO_pll/phase_loop/integrator_3" BEL
        "OCXO_pll/phase_loop/integrator_2" BEL
        "OCXO_pll/phase_loop/integrator_1" BEL
        "OCXO_pll/phase_loop/integrator_0" BEL "VCXO_pll/ref_clk_edge_1" BEL
        "VCXO_pll/ref_clk_edge_0" BEL "VCXO_pll/ref_clk_count_10" BEL
        "VCXO_pll/ref_clk_count_8" BEL "VCXO_pll/ref_clk_count_7" BEL
        "VCXO_pll/ref_clk_count_6" BEL "VCXO_pll/ref_clk_count_4" BEL
        "VCXO_pll/ref_clk_count_3" BEL "VCXO_pll/ref_clk_count_2" BEL
        "VCXO_pll/ref_clk_count_1" BEL "VCXO_pll/ref_clk_count_0" BEL
        "VCXO_pll/ref_clk" BEL "VCXO_pll/ref_clk_count_9" BEL
        "VCXO_pll/ref_clk_count_5" BEL "PLL_clock_gen/CLKFX_BUFG_INST.GCLKMUX"
        BEL "PLL_clock_gen/CLKFX_BUFG_INST";
PIN PLL_clock_gen/DCM_SP_INST_pins<2> = BEL "PLL_clock_gen/DCM_SP_INST"
        PINNAME CLKIN;
TIMEGRP clk_10_tm = BEL "pps_status" BEL "pps_status_count_0" BEL
        "pps_status_count_1" BEL "pps_status_count_2" BEL "pps_status_count_3"
        BEL "pps_status_count_4" BEL "pps_status_count_5" BEL
        "pps_status_count_6" BEL "pps_status_count_7" BEL "pps_status_count_8"
        BEL "pps_status_count_9" BEL "pps_status_count_10" BEL
        "pps_status_count_11" BEL "pps_status_count_12" BEL
        "pps_status_count_13" BEL "pps_status_count_14" BEL
        "pps_status_count_15" BEL "pps_status_count_16" BEL
        "pps_status_count_17" BEL "pps_status_count_18" BEL
        "pps_status_count_19" BEL "pps_status_count_20" BEL
        "pps_status_count_21" BEL "pps_status_count_22" BEL
        "pps_status_count_23" BEL "clk_10_i_IBUFG_BUFG.GCLKMUX" BEL
        "clk_10_i_IBUFG_BUFG" PIN "PLL_clock_gen/DCM_SP_INST_pins<2>";
TIMEGRP multi_cycle_100 = BEL "dac_OCXO/shift_reg_23" BEL
        "dac_OCXO/shift_reg_22" BEL "dac_OCXO/shift_reg_21" BEL
        "dac_OCXO/shift_reg_20" BEL "dac_OCXO/shift_reg_19" BEL
        "dac_OCXO/shift_reg_18" BEL "dac_OCXO/shift_reg_17" BEL
        "dac_OCXO/shift_reg_16" BEL "dac_OCXO/shift_reg_15" BEL
        "dac_OCXO/shift_reg_14" BEL "dac_OCXO/shift_reg_13" BEL
        "dac_OCXO/shift_reg_12" BEL "dac_OCXO/shift_reg_11" BEL
        "dac_OCXO/shift_reg_10" BEL "dac_OCXO/shift_reg_9" BEL
        "dac_OCXO/shift_reg_8" BEL "dac_OCXO/shift_reg_7" BEL
        "dac_OCXO/shift_reg_6" BEL "dac_OCXO/shift_reg_5" BEL
        "dac_OCXO/shift_reg_4" BEL "dac_OCXO/shift_reg_3" BEL
        "dac_OCXO/shift_reg_2" BEL "dac_OCXO/shift_reg_1" BEL
        "dac_OCXO/shift_reg_0" BEL "OCXO_pll/phase_detect/phase_diff_27" BEL
        "OCXO_pll/phase_detect/phase_diff_26" BEL
        "OCXO_pll/phase_detect/phase_diff_25" BEL
        "OCXO_pll/phase_detect/phase_diff_24" BEL
        "OCXO_pll/phase_detect/phase_diff_23" BEL
        "OCXO_pll/phase_detect/phase_diff_22" BEL
        "OCXO_pll/phase_detect/phase_diff_21" BEL
        "OCXO_pll/phase_detect/phase_diff_20" BEL
        "OCXO_pll/phase_detect/phase_diff_19" BEL
        "OCXO_pll/phase_detect/phase_diff_18" BEL
        "OCXO_pll/phase_detect/phase_diff_17" BEL
        "OCXO_pll/phase_detect/phase_diff_16" BEL
        "OCXO_pll/phase_detect/phase_diff_15" BEL
        "OCXO_pll/phase_detect/phase_diff_14" BEL
        "OCXO_pll/phase_detect/phase_diff_13" BEL
        "OCXO_pll/phase_detect/phase_diff_12" BEL
        "OCXO_pll/phase_detect/phase_diff_11" BEL
        "OCXO_pll/phase_detect/phase_diff_10" BEL
        "OCXO_pll/phase_detect/phase_diff_9" BEL
        "OCXO_pll/phase_detect/phase_diff_8" BEL
        "OCXO_pll/phase_detect/phase_diff_7" BEL
        "OCXO_pll/phase_detect/phase_diff_6" BEL
        "OCXO_pll/phase_detect/phase_diff_5" BEL
        "OCXO_pll/phase_detect/phase_diff_4" BEL
        "OCXO_pll/phase_detect/phase_diff_3" BEL
        "OCXO_pll/phase_detect/phase_diff_2" BEL
        "OCXO_pll/phase_detect/phase_diff_1" BEL
        "OCXO_pll/phase_loop/integrator_35" BEL
        "OCXO_pll/phase_loop/integrator_34" BEL
        "OCXO_pll/phase_loop/integrator_33" BEL
        "OCXO_pll/phase_loop/integrator_32" BEL
        "OCXO_pll/phase_loop/integrator_31" BEL
        "OCXO_pll/phase_loop/integrator_30" BEL
        "OCXO_pll/phase_loop/integrator_29" BEL
        "OCXO_pll/phase_loop/integrator_28" BEL
        "OCXO_pll/phase_loop/integrator_27" BEL
        "OCXO_pll/phase_loop/integrator_26" BEL
        "OCXO_pll/phase_loop/integrator_25" BEL
        "OCXO_pll/phase_loop/integrator_24" BEL
        "OCXO_pll/phase_loop/integrator_23" BEL
        "OCXO_pll/phase_loop/integrator_22" BEL
        "OCXO_pll/phase_loop/integrator_21" BEL
        "OCXO_pll/phase_loop/integrator_20" BEL
        "OCXO_pll/phase_loop/integrator_19" BEL
        "OCXO_pll/phase_loop/integrator_18" BEL
        "OCXO_pll/phase_loop/integrator_17" BEL
        "OCXO_pll/phase_loop/integrator_16" BEL
        "OCXO_pll/phase_loop/integrator_15" BEL
        "OCXO_pll/phase_loop/integrator_14" BEL
        "OCXO_pll/phase_loop/integrator_13" BEL
        "OCXO_pll/phase_loop/integrator_12" BEL
        "OCXO_pll/phase_loop/integrator_11" BEL
        "OCXO_pll/phase_loop/integrator_10" BEL
        "OCXO_pll/phase_loop/integrator_9" BEL
        "OCXO_pll/phase_loop/integrator_8" BEL
        "OCXO_pll/phase_loop/integrator_7" BEL
        "OCXO_pll/phase_loop/integrator_6" BEL
        "OCXO_pll/phase_loop/integrator_5" BEL
        "OCXO_pll/phase_loop/integrator_4" BEL
        "OCXO_pll/phase_loop/integrator_3" BEL
        "OCXO_pll/phase_loop/integrator_2" BEL
        "OCXO_pll/phase_loop/integrator_1" BEL
        "OCXO_pll/phase_loop/integrator_0";
TIMEGRP multi_cycle_LTC = BEL "LTC_B/LTC_biphase_generator/biphase_code" BEL
        "LTC_B/LTC_frame_count/frame_units_0" BEL
        "LTC_B/LTC_frame_count/frame_units_1" BEL
        "LTC_B/LTC_frame_count/frame_units_2" BEL
        "LTC_B/LTC_frame_count/frame_units_3" BEL
        "LTC_B/LTC_frame_count/frame_tens_0" BEL
        "LTC_B/LTC_frame_count/frame_tens_1" BEL
        "LTC_B/LTC_frame_count/hour_tens_0" BEL
        "LTC_B/LTC_frame_count/hour_tens_1" BEL
        "LTC_B/LTC_frame_count/count_sec" BEL
        "LTC_B/LTC_frame_count/hour_tens_o_0" BEL
        "LTC_B/LTC_frame_count/hour_tens_o_1" BEL
        "LTC_B/LTC_frame_count/min_tens_o_0" BEL
        "LTC_B/LTC_frame_count/min_tens_o_1" BEL
        "LTC_B/LTC_frame_count/min_tens_o_2" BEL
        "LTC_B/LTC_frame_count/frame_units_o_0" BEL
        "LTC_B/LTC_frame_count/frame_units_o_1" BEL
        "LTC_B/LTC_frame_count/frame_units_o_2" BEL
        "LTC_B/LTC_frame_count/frame_units_o_3" BEL
        "LTC_B/LTC_frame_count/sec_units_o_0" BEL
        "LTC_B/LTC_frame_count/sec_units_o_1" BEL
        "LTC_B/LTC_frame_count/sec_units_o_2" BEL
        "LTC_B/LTC_frame_count/sec_units_o_3" BEL
        "LTC_B/LTC_frame_count/sec_tens_o_0" BEL
        "LTC_B/LTC_frame_count/sec_tens_o_1" BEL
        "LTC_B/LTC_frame_count/sec_tens_o_2" BEL
        "LTC_B/LTC_frame_count/hour_units_o_0" BEL
        "LTC_B/LTC_frame_count/hour_units_o_1" BEL
        "LTC_B/LTC_frame_count/hour_units_o_2" BEL
        "LTC_B/LTC_frame_count/hour_units_o_3" BEL
        "LTC_B/LTC_frame_count/frame_tens_o_0" BEL
        "LTC_B/LTC_frame_count/frame_tens_o_1" BEL
        "LTC_B/LTC_frame_count/min_units_o_0" BEL
        "LTC_B/LTC_frame_count/min_units_o_1" BEL
        "LTC_B/LTC_frame_count/min_units_o_2" BEL
        "LTC_B/LTC_frame_count/min_units_o_3" BEL
        "LTC_B/LTC_frame_count/sec_tens_0" BEL
        "LTC_B/LTC_frame_count/sec_tens_1" BEL
        "LTC_B/LTC_frame_count/sec_tens_2" BEL
        "LTC_B/LTC_frame_count/min_units_0" BEL
        "LTC_B/LTC_frame_count/min_units_1" BEL
        "LTC_B/LTC_frame_count/min_units_2" BEL
        "LTC_B/LTC_frame_count/min_units_3" BEL
        "LTC_B/LTC_frame_count/sec_units_0" BEL
        "LTC_B/LTC_frame_count/sec_units_1" BEL
        "LTC_B/LTC_frame_count/sec_units_2" BEL
        "LTC_B/LTC_frame_count/sec_units_3" BEL
        "LTC_B/LTC_frame_count/min_tens_0" BEL
        "LTC_B/LTC_frame_count/min_tens_1" BEL
        "LTC_B/LTC_frame_count/min_tens_2" BEL
        "LTC_B/LTC_frame_count/hour_units_0" BEL
        "LTC_B/LTC_frame_count/hour_units_1" BEL
        "LTC_B/LTC_frame_count/hour_units_2" BEL
        "LTC_B/LTC_frame_count/hour_units_3" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_0" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_1" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_2" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_3" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_4" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_5" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_6" BEL
        "LTC_B/LTC_clockgenerator/ltc_bitcount_7" BEL
        "LTC_B/delay_count_high_3" BEL "LTC_B/delay_count_high_2" BEL
        "LTC_B/delay_count_high_1" BEL "LTC_B/delay_count_high_0" BEL
        "LTC_A/LTC_biphase_generator/biphase_code" BEL
        "LTC_A/LTC_frame_count/frame_units_0" BEL
        "LTC_A/LTC_frame_count/frame_units_1" BEL
        "LTC_A/LTC_frame_count/frame_units_2" BEL
        "LTC_A/LTC_frame_count/frame_units_3" BEL
        "LTC_A/LTC_frame_count/frame_tens_0" BEL
        "LTC_A/LTC_frame_count/frame_tens_1" BEL
        "LTC_A/LTC_frame_count/hour_tens_0" BEL
        "LTC_A/LTC_frame_count/hour_tens_1" BEL
        "LTC_A/LTC_frame_count/count_sec" BEL
        "LTC_A/LTC_frame_count/hour_tens_o_0" BEL
        "LTC_A/LTC_frame_count/hour_tens_o_1" BEL
        "LTC_A/LTC_frame_count/min_tens_o_0" BEL
        "LTC_A/LTC_frame_count/min_tens_o_1" BEL
        "LTC_A/LTC_frame_count/min_tens_o_2" BEL
        "LTC_A/LTC_frame_count/frame_units_o_0" BEL
        "LTC_A/LTC_frame_count/frame_units_o_1" BEL
        "LTC_A/LTC_frame_count/frame_units_o_2" BEL
        "LTC_A/LTC_frame_count/frame_units_o_3" BEL
        "LTC_A/LTC_frame_count/sec_units_o_0" BEL
        "LTC_A/LTC_frame_count/sec_units_o_1" BEL
        "LTC_A/LTC_frame_count/sec_units_o_2" BEL
        "LTC_A/LTC_frame_count/sec_units_o_3" BEL
        "LTC_A/LTC_frame_count/sec_tens_o_0" BEL
        "LTC_A/LTC_frame_count/sec_tens_o_1" BEL
        "LTC_A/LTC_frame_count/sec_tens_o_2" BEL
        "LTC_A/LTC_frame_count/hour_units_o_0" BEL
        "LTC_A/LTC_frame_count/hour_units_o_1" BEL
        "LTC_A/LTC_frame_count/hour_units_o_2" BEL
        "LTC_A/LTC_frame_count/hour_units_o_3" BEL
        "LTC_A/LTC_frame_count/frame_tens_o_0" BEL
        "LTC_A/LTC_frame_count/frame_tens_o_1" BEL
        "LTC_A/LTC_frame_count/min_units_o_0" BEL
        "LTC_A/LTC_frame_count/min_units_o_1" BEL
        "LTC_A/LTC_frame_count/min_units_o_2" BEL
        "LTC_A/LTC_frame_count/min_units_o_3" BEL
        "LTC_A/LTC_frame_count/sec_tens_0" BEL
        "LTC_A/LTC_frame_count/sec_tens_1" BEL
        "LTC_A/LTC_frame_count/sec_tens_2" BEL
        "LTC_A/LTC_frame_count/min_units_0" BEL
        "LTC_A/LTC_frame_count/min_units_1" BEL
        "LTC_A/LTC_frame_count/min_units_2" BEL
        "LTC_A/LTC_frame_count/min_units_3" BEL
        "LTC_A/LTC_frame_count/sec_units_0" BEL
        "LTC_A/LTC_frame_count/sec_units_1" BEL
        "LTC_A/LTC_frame_count/sec_units_2" BEL
        "LTC_A/LTC_frame_count/sec_units_3" BEL
        "LTC_A/LTC_frame_count/min_tens_0" BEL
        "LTC_A/LTC_frame_count/min_tens_1" BEL
        "LTC_A/LTC_frame_count/min_tens_2" BEL
        "LTC_A/LTC_frame_count/hour_units_0" BEL
        "LTC_A/LTC_frame_count/hour_units_1" BEL
        "LTC_A/LTC_frame_count/hour_units_2" BEL
        "LTC_A/LTC_frame_count/hour_units_3" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_0" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_1" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_2" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_3" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_4" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_5" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_6" BEL
        "LTC_A/LTC_clockgenerator/ltc_bitcount_7" BEL
        "LTC_A/delay_count_high_3" BEL "LTC_A/delay_count_high_2" BEL
        "LTC_A/delay_count_high_1" BEL "LTC_A/delay_count_high_0";
TS_clk_10 = PERIOD TIMEGRP "clk_10_tm" 10 MHz HIGH 50% INPUT_JITTER 1 ns;
TS_clk_148 = PERIOD TIMEGRP "clk_148_tm" 149 MHz HIGH 50% INPUT_JITTER 1 ns;
TS_multi_cycle_100 = MAXDELAY FROM TIMEGRP "multi_cycle_100" TO TIMEGRP
        "multi_cycle_100" TS_clk_10 / 1000;
TS_multi_cycle_LTC = MAXDELAY FROM TIMEGRP "multi_cycle_LTC" TO TIMEGRP
        "multi_cycle_LTC" TS_clk_148 / 15;
TS_PLL_clock_gen_CLKFX_BUF = PERIOD TIMEGRP "PLL_clock_gen_CLKFX_BUF"
        TS_clk_10 * 10 HIGH 50% INPUT_JITTER 1 ns;
PIN system_control_0_pins<3> = BEL "system_control_0" PINNAME Q;
PIN system_control_1_pins<3> = BEL "system_control_1" PINNAME Q;
PIN system_control_2_pins<3> = BEL "system_control_2" PINNAME Q;
PIN system_control_3_pins<3> = BEL "system_control_3" PINNAME Q;
PIN system_control_4_pins<3> = BEL "system_control_4" PINNAME Q;
PIN LTC_setup_0_pins<3> = BEL "LTC_setup_0" PINNAME Q;
PIN LTC_setup_1_pins<3> = BEL "LTC_setup_1" PINNAME Q;
PIN LTC_setup_2_pins<3> = BEL "LTC_setup_2" PINNAME Q;
PIN LTC_setup_4_pins<3> = BEL "LTC_setup_4" PINNAME Q;
PIN LTC_setup_5_pins<3> = BEL "LTC_setup_5" PINNAME Q;
PIN LTC_setup_6_pins<3> = BEL "LTC_setup_6" PINNAME Q;
PIN serial_interface/send_byte_mux0001<0>5_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>5" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>10_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>10" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>22_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>22" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>27_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>27" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>37_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>37" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>50_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>50" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>55_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>55" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>67_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>67" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>72_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>72" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>82_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>82" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>106_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>106" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>1111_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>1111" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>123_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>123" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>128_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>128" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>138_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>138" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>5_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>5" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>10_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>10" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>22_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>22" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>27_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>27" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>37_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>37" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>50_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>50" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>55_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>55" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>67_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>67" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>72_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>72" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>82_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>82" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>106_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>106" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>111_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>111" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>122_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>122" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>133_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>133" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>138_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>138" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>139_pins<2> = BEL
        "serial_interface/send_byte_mux0001<6>139" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>159_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>159" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>183_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>183" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>13_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>13" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>18_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>18" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>30_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>30" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>45_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>45" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>71_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>71" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>76_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>76" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>88_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>88" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>93_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>93" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>103_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>103" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>116_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>116" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>121_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>121" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>133_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>133" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>138_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>138" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>148_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>148" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>170_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>170" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>13_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>13" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>18_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>18" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>30_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>30" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>45_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>45" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>71_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>71" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>76_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>76" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>88_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>88" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>93_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>93" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>103_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>103" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>116_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>116" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>121_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>121" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>133_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>133" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>138_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>138" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>148_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>148" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>170_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>170" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>13_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>13" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>18_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>18" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>30_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>30" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>45_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>45" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>71_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>71" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>76_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>76" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>88_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>88" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>93_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>93" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>103_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>103" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>116_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>116" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>121_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>121" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>133_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>133" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>138_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>138" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>148_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>148" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>170_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>170" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>5_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>5" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>10_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>10" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>22_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>22" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>27_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>27" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>37_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>37" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>50_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>50" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>55_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>55" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>67_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>67" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>72_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>72" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>82_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>82" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>106_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>106" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>111_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>111" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>123_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>123" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>132_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>132" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>148_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>148" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>151_pins<3> = BEL
        "serial_interface/send_byte_mux0001<4>151" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>169_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>169" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>193_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>193" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>5_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>5" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>10_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>10" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>22_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>22" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>27_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>27" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>37_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>37" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>50_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>50" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>55_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>55" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>67_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>67" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>72_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>72" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>82_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>82" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>106_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>106" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>111_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>111" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>123_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>123" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>132_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>132" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>148_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>148" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>151_pins<3> = BEL
        "serial_interface/send_byte_mux0001<2>151" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>169_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>169" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>193_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>193" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>13_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>13" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>18_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>18" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>30_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>30" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>45_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>45" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>71_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>71" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>76_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>76" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>88_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>88" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>93_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>93" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>103_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>103" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>116_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>116" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>121_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>121" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>133_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>133" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>138_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>138" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>148_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>148" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>170_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>170" PINNAME D;
PIN serial_interface/send_byte_7_pins<2> = BEL "serial_interface/send_byte_7"
        PINNAME Q;
PIN serial_interface/send_byte_6_pins<2> = BEL "serial_interface/send_byte_6"
        PINNAME Q;
PIN serial_interface/send_byte_5_pins<2> = BEL "serial_interface/send_byte_5"
        PINNAME Q;
PIN serial_interface/send_byte_4_pins<2> = BEL "serial_interface/send_byte_4"
        PINNAME Q;
PIN serial_interface/send_byte_3_pins<2> = BEL "serial_interface/send_byte_3"
        PINNAME Q;
PIN serial_interface/send_byte_2_pins<2> = BEL "serial_interface/send_byte_2"
        PINNAME Q;
PIN serial_interface/send_byte_1_pins<2> = BEL "serial_interface/send_byte_1"
        PINNAME Q;
PIN serial_interface/send_byte_0_pins<2> = BEL "serial_interface/send_byte_0"
        PINNAME Q;
PIN serial_interface/send_byte_mux0001<0>173_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>173" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>124_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>124" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>124_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>124" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>0_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>0" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>0_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>0" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>0_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>0" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>0_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>0" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>0_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>0" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>0_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>0" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>0_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>0" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>0_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>0" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>35_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>35" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>35_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>35" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>35_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>35" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>35_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>35" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>2051_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>2051" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>2151_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>2151" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>2151_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>2151" PINNAME D;
PIN serial_interface/send_byte_mux0001<0>1951_pins<4> = BEL
        "serial_interface/send_byte_mux0001<0>1951" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>1681_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>1681" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>168_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<6>168_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<7>72_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>72" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>73_pins<3> = BEL
        "serial_interface/send_byte_mux0001<7>73" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>7_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<7>7_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<7>1911_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>1911" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>191_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<7>191_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<5>72_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>72" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>73_pins<3> = BEL
        "serial_interface/send_byte_mux0001<5>73" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>7_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<5>7_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<5>1911_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>1911" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>191_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<5>191_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<3>72_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>72" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>73_pins<3> = BEL
        "serial_interface/send_byte_mux0001<3>73" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>7_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<3>7_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<3>1791_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>1791" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>179_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<3>179_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<4>1781_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>1781" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>178_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<4>178_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<2>1781_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>1781" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>178_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<2>178_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<1>72_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>72" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>73_pins<3> = BEL
        "serial_interface/send_byte_mux0001<1>73" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>7_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<1>7_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<1>1911_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>1911" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>1912_pins<3> = BEL
        "serial_interface/send_byte_mux0001<1>1912" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>191_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<1>191_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<7>21511_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>21511" PINNAME D;
PIN serial_interface/send_byte_mux0001<7>2151_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<7>2151_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<5>21511_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>21511" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>2151_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<5>2151_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<3>21511_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>21511" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>2151_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<3>2151_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<1>21511_pins<4> = BEL
        "serial_interface/send_byte_mux0001<1>21511" PINNAME D;
PIN serial_interface/send_byte_mux0001<1>2151_f5_pins<2> = BEL
        "serial_interface/send_byte_mux0001<1>2151_f5" PINNAME OUT;
PIN serial_interface/send_byte_mux0001<7>1912_pins<4> = BEL
        "serial_interface/send_byte_mux0001<7>1912" PINNAME D;
PIN serial_interface/send_byte_mux0001<6>1682_pins<4> = BEL
        "serial_interface/send_byte_mux0001<6>1682" PINNAME D;
PIN serial_interface/send_byte_mux0001<5>1912_pins<4> = BEL
        "serial_interface/send_byte_mux0001<5>1912" PINNAME D;
PIN serial_interface/send_byte_mux0001<4>1782_pins<4> = BEL
        "serial_interface/send_byte_mux0001<4>1782" PINNAME D;
PIN serial_interface/send_byte_mux0001<2>1782_pins<4> = BEL
        "serial_interface/send_byte_mux0001<2>1782" PINNAME D;
PIN serial_interface/send_byte_mux0001<3>1792_pins<4> = BEL
        "serial_interface/send_byte_mux0001<3>1792" PINNAME D;
PIN "system_control_0_pins<3>" TIG;
PIN "system_control_1_pins<3>" TIG;
PIN "system_control_2_pins<3>" TIG;
PIN "system_control_3_pins<3>" TIG;
PIN "system_control_4_pins<3>" TIG;
PIN "LTC_setup_0_pins<3>" TIG;
PIN "LTC_setup_1_pins<3>" TIG;
PIN "LTC_setup_2_pins<3>" TIG;
PIN "LTC_setup_4_pins<3>" TIG;
PIN "LTC_setup_5_pins<3>" TIG;
PIN "LTC_setup_6_pins<3>" TIG;
PIN "serial_interface/send_byte_mux0001<0>5_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>10_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>22_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>27_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>37_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>50_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>55_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>67_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>72_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>82_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>106_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>1111_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>123_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>128_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>138_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>5_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>10_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>22_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>27_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>37_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>50_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>55_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>67_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>72_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>82_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>106_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>111_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>122_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>133_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>138_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>139_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<6>159_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>183_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>13_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>18_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>30_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>45_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>71_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>76_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>88_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>93_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>103_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>116_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>121_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>133_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>138_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>148_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>170_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>13_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>18_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>30_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>45_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>71_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>76_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>88_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>93_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>103_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>116_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>121_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>133_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>138_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>148_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>170_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>13_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>18_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>30_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>45_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>71_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>76_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>88_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>93_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>103_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>116_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>121_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>133_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>138_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>148_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>170_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>5_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>10_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>22_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>27_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>37_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>50_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>55_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>67_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>72_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>82_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>106_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>111_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>123_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>132_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>148_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>151_pins<3>" TIG;
PIN "serial_interface/send_byte_mux0001<4>169_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>193_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>5_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>10_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>22_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>27_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>37_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>50_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>55_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>67_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>72_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>82_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>106_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>111_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>123_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>132_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>148_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>151_pins<3>" TIG;
PIN "serial_interface/send_byte_mux0001<2>169_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>193_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>13_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>18_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>30_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>45_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>71_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>76_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>88_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>93_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>103_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>116_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>121_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>133_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>138_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>148_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>170_pins<4>" TIG;
PIN "serial_interface/send_byte_7_pins<2>" TIG;
PIN "serial_interface/send_byte_6_pins<2>" TIG;
PIN "serial_interface/send_byte_5_pins<2>" TIG;
PIN "serial_interface/send_byte_4_pins<2>" TIG;
PIN "serial_interface/send_byte_3_pins<2>" TIG;
PIN "serial_interface/send_byte_2_pins<2>" TIG;
PIN "serial_interface/send_byte_1_pins<2>" TIG;
PIN "serial_interface/send_byte_0_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<0>173_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>124_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>124_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>0_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>0_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>0_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>0_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>0_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>0_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>0_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>0_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>35_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>35_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>35_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>35_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>2051_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>2151_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>2151_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<0>1951_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>1681_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>168_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<7>72_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>73_pins<3>" TIG;
PIN "serial_interface/send_byte_mux0001<7>7_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<7>1911_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>191_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<5>72_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>73_pins<3>" TIG;
PIN "serial_interface/send_byte_mux0001<5>7_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<5>1911_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>191_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<3>72_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>73_pins<3>" TIG;
PIN "serial_interface/send_byte_mux0001<3>7_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<3>1791_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>179_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<4>1781_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>178_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<2>1781_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>178_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<1>72_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>73_pins<3>" TIG;
PIN "serial_interface/send_byte_mux0001<1>7_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<1>1911_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>1912_pins<3>" TIG;
PIN "serial_interface/send_byte_mux0001<1>191_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<7>21511_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<7>2151_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<5>21511_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>2151_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<3>21511_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>2151_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<1>21511_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<1>2151_f5_pins<2>" TIG;
PIN "serial_interface/send_byte_mux0001<7>1912_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<6>1682_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<5>1912_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<4>1782_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<2>1782_pins<4>" TIG;
PIN "serial_interface/send_byte_mux0001<3>1792_pins<4>" TIG;
SCHEMATIC END;

