SCHEMATIC START ;
// created by map version G.38 on Thu May 26 10:16:34 2005 
COMP "clmp1" LOCATE =  SITE "P149" LEVEL 1; 
COMP "clmp2" LOCATE =  SITE "P148" LEVEL 1; 
COMP "clmp3" LOCATE =  SITE "P147" LEVEL 1; 
COMP "clmp4" LOCATE =  SITE "P146" LEVEL 1; 
COMP "tsg1_out<0>" LOCATE =  SITE "P180" LEVEL 1; 
COMP "tsg1_out<1>" LOCATE =  SITE "P181" LEVEL 1; 
COMP "tsg1_out<2>" LOCATE =  SITE "P182" LEVEL 1; 
COMP "tsg1_out<3>" LOCATE =  SITE "P183" LEVEL 1; 
COMP "tsg2_out<0>" LOCATE =  SITE "P172" LEVEL 1; 
COMP "tsg2_out<1>" LOCATE =  SITE "P175" LEVEL 1; 
COMP "tsg2_out<2>" LOCATE =  SITE "P176" LEVEL 1; 
COMP "tsg2_out<3>" LOCATE =  SITE "P178" LEVEL 1; 
COMP "f1484" LOCATE =  SITE "P76" LEVEL 1; 
COMP "f1485" LOCATE =  SITE "P79" LEVEL 1; 
COMP "tsg3_out<0>" LOCATE =  SITE "P167" LEVEL 1; 
COMP "tsg3_out<1>" LOCATE =  SITE "P168" LEVEL 1; 
COMP "tsg3_out<2>" LOCATE =  SITE "P169" LEVEL 1; 
COMP "tsg3_out<3>" LOCATE =  SITE "P171" LEVEL 1; 
COMP "led1" LOCATE =  SITE "P126" LEVEL 1; 
COMP "led2" LOCATE =  SITE "P97" LEVEL 1; 
COMP "led3" LOCATE =  SITE "P141" LEVEL 1; 
COMP "tsg4_out<0>" LOCATE =  SITE "P161" LEVEL 1; 
COMP "tsg4_out<1>" LOCATE =  SITE "P162" LEVEL 1; 
COMP "tsg4_out<2>" LOCATE =  SITE "P165" LEVEL 1; 
COMP "tsg4_out<3>" LOCATE =  SITE "P166" LEVEL 1; 
COMP "f27" LOCATE =  SITE "P184" LEVEL 1; 
COMP "tsg1_lvl" LOCATE =  SITE "P155" LEVEL 1; 
COMP "res1" LOCATE =  SITE "P93" LEVEL 1; 
COMP "res2" LOCATE =  SITE "P90" LEVEL 1; 
COMP "tsg2_lvl" LOCATE =  SITE "P156" LEVEL 1; 
COMP "tsg3_lvl" LOCATE =  SITE "P150" LEVEL 1; 
COMP "f4m" LOCATE =  SITE "P81" LEVEL 1; 
COMP "f8g" LOCATE =  SITE "P85" LEVEL 1; 
COMP "tsg4_lvl" LOCATE =  SITE "P152" LEVEL 1; 
COMP "mosi" LOCATE =  SITE "P123" LEVEL 1; 
COMP "cs1" LOCATE =  SITE "P124" LEVEL 1; 
COMP "cs2" LOCATE =  SITE "P125" LEVEL 1; 
COMP "cs3" LOCATE =  SITE "P111" LEVEL 1; 
COMP "cs4" LOCATE =  SITE "P107" LEVEL 1; 
COMP "ext1_out<0>" LOCATE =  SITE "P16" LEVEL 1; 
COMP "sck" LOCATE =  SITE "P115" LEVEL 1; 
COMP "ext1_out<1>" LOCATE =  SITE "P15" LEVEL 1; 
COMP "ext1_out<2>" LOCATE =  SITE "P13" LEVEL 1; 
COMP "ext1_out<3>" LOCATE =  SITE "P12" LEVEL 1; 
COMP "mreset" LOCATE =  SITE "P80" LEVEL 1; 
COMP "ext2_out<1>" LOCATE =  SITE "P20" LEVEL 1; 
COMP "ext2_out<2>" LOCATE =  SITE "P19" LEVEL 1; 
COMP "ext2_out<3>" LOCATE =  SITE "P18" LEVEL 1; 
NET "f8g_BUFGP/IBUFG" BEL "f8g_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT ;
NET "f1484_IBUFG" BEL "globalclock_tsg1.GCLKMUX" USELOCALCONNECT ;
NET "f1485_IBUFG" BEL "globalclock_tsg1.GCLKMUX" USELOCALCONNECT ;
NET "f1485_IBUFG" BEL "globalclock_tsg2.GCLKMUX" USELOCALCONNECT ;
NET "f1484_IBUFG" BEL "globalclock_tsg2.GCLKMUX" USELOCALCONNECT ;
NET "f1484_IBUFG" BEL "globalclock_tsg3.GCLKMUX" USELOCALCONNECT ;
NET "f1485_IBUFG" BEL "globalclock_tsg3.GCLKMUX" USELOCALCONNECT ;
NET "f1485_IBUFG" BEL "globalclock_tsg4.GCLKMUX" USELOCALCONNECT ;
NET "f1484_IBUFG" BEL "globalclock_tsg4.GCLKMUX" USELOCALCONNECT ;
NET "f27_BUFGP/IBUFG" BEL "f27_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT ;
NET "sck_BUFGP/IBUFG" BEL "sck_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT ;
TIMEGRP "f27" = BEL "freerunningformat_verticalsync_div32_2" BEL 
"freerunningformat_verticalsync_div32_3" BEL 
"freerunningformat_verticalsync_div32_4" BEL 
"freerunningformat_verticalsync_div32_0" BEL 
"freerunningformat_verticalsync_div32_1" BEL 
"trilevel_syncgenerator4_Genlock_temp_sync" BEL 
"trilevel_syncgenerator3_Genlock_temp_sync" BEL 
"trilevel_syncgenerator2_Genlock_temp_sync" BEL 
"trilevel_syncgenerator1_Genlock_temp_sync" ;
TIMEGRP "f1484" = BEL "trilevel_syncgenerator4_Genlock_state_FFd3" BEL 
"trilevel_syncgenerator4_Genlock_state_FFd2" BEL 
"trilevel_syncgenerator4_Genlock_intern_sync" BEL 
"trilevel_syncgenerator4_Genlock_start_counter" BEL 
"trilevel_syncgenerator4_Genlock_state_FFd1" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_2" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_0" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_1" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_sync_delayed" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_counter_active" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_23" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_22" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_21" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_20" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_19" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_18" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_17" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_16" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_15" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_14" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_13" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_12" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_11" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_10" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_9" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_8" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_7" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_6" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_5" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_4" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_3" BEL 
"trilevel_syncgenerator4_TLTimer_f148_div" BEL 
"trilevel_syncgenerator4_TLTimer_div_1" BEL 
"trilevel_syncgenerator4_TLTimer_div_0" BEL 
"trilevel_syncgenerator4_TLTimer_div_2" BEL 
"trilevel_syncgenerator4_TLTimer_div_3" BEL 
"trilevel_syncgenerator4_TLTimer_statemachine_dac_f74" BEL 
"trilevel_syncgenerator3_Genlock_state_FFd3" BEL 
"trilevel_syncgenerator3_Genlock_state_FFd2" BEL 
"trilevel_syncgenerator3_Genlock_intern_sync" BEL 
"trilevel_syncgenerator3_Genlock_start_counter" BEL 
"trilevel_syncgenerator3_Genlock_state_FFd1" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_2" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_0" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_1" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_sync_delayed" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_counter_active" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_23" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_22" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_21" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_20" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_19" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_18" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_17" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_16" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_15" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_14" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_13" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_12" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_11" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_10" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_9" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_8" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_7" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_6" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_5" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_4" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_3" BEL 
"trilevel_syncgenerator3_TLTimer_f148_div" BEL 
"trilevel_syncgenerator3_TLTimer_div_1" BEL 
"trilevel_syncgenerator3_TLTimer_div_0" BEL 
"trilevel_syncgenerator3_TLTimer_div_2" BEL 
"trilevel_syncgenerator3_TLTimer_div_3" BEL 
"trilevel_syncgenerator1_TLTimer_statemachine_dac_f74" BEL 
"trilevel_syncgenerator3_TLTimer_statemachine_dac_f74" BEL 
"trilevel_syncgenerator2_Genlock_state_FFd3" BEL 
"trilevel_syncgenerator2_Genlock_state_FFd2" BEL 
"trilevel_syncgenerator2_Genlock_intern_sync" BEL 
"trilevel_syncgenerator2_Genlock_start_counter" BEL 
"trilevel_syncgenerator2_Genlock_state_FFd1" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_2" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_0" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_1" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_sync_delayed" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_counter_active" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_23" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_22" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_21" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_20" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_19" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_18" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_17" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_16" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_15" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_14" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_13" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_12" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_11" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_10" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_9" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_8" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_7" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_6" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_5" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_4" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_3" BEL 
"trilevel_syncgenerator2_TLTimer_f148_div" BEL 
"trilevel_syncgenerator2_TLTimer_div_1" BEL 
"trilevel_syncgenerator2_TLTimer_div_0" BEL 
"trilevel_syncgenerator2_TLTimer_div_2" BEL 
"trilevel_syncgenerator2_TLTimer_div_3" BEL 
"trilevel_syncgenerator2_TLTimer_statemachine_dac_f74" BEL 
"trilevel_syncgenerator1_Genlock_state_FFd3" BEL 
"trilevel_syncgenerator1_Genlock_state_FFd2" BEL 
"trilevel_syncgenerator1_Genlock_intern_sync" BEL 
"trilevel_syncgenerator1_Genlock_start_counter" BEL 
"trilevel_syncgenerator1_Genlock_state_FFd1" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_2" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_0" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_1" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_sync_delayed" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_counter_active" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_23" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_22" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_21" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_20" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_19" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_18" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_17" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_16" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_15" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_14" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_13" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_12" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_11" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_10" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_9" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_8" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_7" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_6" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_5" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_4" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_3" BEL 
"trilevel_syncgenerator1_TLTimer_f148_div" BEL 
"trilevel_syncgenerator1_TLTimer_div_1" BEL 
"trilevel_syncgenerator1_TLTimer_div_0" BEL 
"trilevel_syncgenerator1_TLTimer_div_2" BEL 
"trilevel_syncgenerator1_TLTimer_div_3" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_sync_delayed_1" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_sync_delayed_1" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_sync_delayed_1" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_sync_delayed_1" ;
TIMEGRP "f1485" = BEL "trilevel_syncgenerator4_Genlock_state_FFd3" BEL 
"trilevel_syncgenerator4_Genlock_state_FFd2" BEL 
"trilevel_syncgenerator4_Genlock_intern_sync" BEL 
"trilevel_syncgenerator4_Genlock_start_counter" BEL 
"trilevel_syncgenerator4_Genlock_state_FFd1" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_2" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_0" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_1" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_sync_delayed" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_counter_active" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_23" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_22" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_21" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_20" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_19" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_18" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_17" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_16" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_15" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_14" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_13" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_12" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_11" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_10" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_9" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_8" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_7" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_6" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_5" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_4" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_delay_count_3" BEL 
"trilevel_syncgenerator4_TLTimer_f148_div" BEL 
"trilevel_syncgenerator4_TLTimer_div_1" BEL 
"trilevel_syncgenerator4_TLTimer_div_0" BEL 
"trilevel_syncgenerator4_TLTimer_div_2" BEL 
"trilevel_syncgenerator4_TLTimer_div_3" BEL 
"trilevel_syncgenerator4_TLTimer_statemachine_dac_f74" BEL 
"trilevel_syncgenerator3_Genlock_state_FFd3" BEL 
"trilevel_syncgenerator3_Genlock_state_FFd2" BEL 
"trilevel_syncgenerator3_Genlock_intern_sync" BEL 
"trilevel_syncgenerator3_Genlock_start_counter" BEL 
"trilevel_syncgenerator3_Genlock_state_FFd1" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_2" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_0" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_1" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_sync_delayed" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_counter_active" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_23" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_22" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_21" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_20" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_19" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_18" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_17" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_16" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_15" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_14" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_13" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_12" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_11" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_10" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_9" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_8" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_7" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_6" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_5" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_4" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_delay_count_3" BEL 
"trilevel_syncgenerator3_TLTimer_f148_div" BEL 
"trilevel_syncgenerator3_TLTimer_div_1" BEL 
"trilevel_syncgenerator3_TLTimer_div_0" BEL 
"trilevel_syncgenerator3_TLTimer_div_2" BEL 
"trilevel_syncgenerator3_TLTimer_div_3" BEL 
"trilevel_syncgenerator1_TLTimer_statemachine_dac_f74" BEL 
"trilevel_syncgenerator3_TLTimer_statemachine_dac_f74" BEL 
"trilevel_syncgenerator2_Genlock_state_FFd3" BEL 
"trilevel_syncgenerator2_Genlock_state_FFd2" BEL 
"trilevel_syncgenerator2_Genlock_intern_sync" BEL 
"trilevel_syncgenerator2_Genlock_start_counter" BEL 
"trilevel_syncgenerator2_Genlock_state_FFd1" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_2" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_0" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_1" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_sync_delayed" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_counter_active" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_23" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_22" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_21" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_20" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_19" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_18" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_17" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_16" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_15" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_14" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_13" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_12" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_11" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_10" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_9" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_8" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_7" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_6" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_5" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_4" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_delay_count_3" BEL 
"trilevel_syncgenerator2_TLTimer_f148_div" BEL 
"trilevel_syncgenerator2_TLTimer_div_1" BEL 
"trilevel_syncgenerator2_TLTimer_div_0" BEL 
"trilevel_syncgenerator2_TLTimer_div_2" BEL 
"trilevel_syncgenerator2_TLTimer_div_3" BEL 
"trilevel_syncgenerator2_TLTimer_statemachine_dac_f74" BEL 
"trilevel_syncgenerator1_Genlock_state_FFd3" BEL 
"trilevel_syncgenerator1_Genlock_state_FFd2" BEL 
"trilevel_syncgenerator1_Genlock_intern_sync" BEL 
"trilevel_syncgenerator1_Genlock_start_counter" BEL 
"trilevel_syncgenerator1_Genlock_state_FFd1" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_2" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_0" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_1" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_sync_delayed" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_counter_active" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_23" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_22" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_21" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_20" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_19" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_18" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_17" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_16" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_15" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_14" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_13" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_12" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_11" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_10" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_9" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_8" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_7" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_6" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_5" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_4" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_delay_count_3" BEL 
"trilevel_syncgenerator1_TLTimer_f148_div" BEL 
"trilevel_syncgenerator1_TLTimer_div_1" BEL 
"trilevel_syncgenerator1_TLTimer_div_0" BEL 
"trilevel_syncgenerator1_TLTimer_div_2" BEL 
"trilevel_syncgenerator1_TLTimer_div_3" BEL 
"trilevel_syncgenerator4_Genlock_delay_cnt_sync_delayed_1" BEL 
"trilevel_syncgenerator3_Genlock_delay_cnt_sync_delayed_1" BEL 
"trilevel_syncgenerator2_Genlock_delay_cnt_sync_delayed_1" BEL 
"trilevel_syncgenerator1_Genlock_delay_cnt_sync_delayed_1" ;
TS_f1485 = PERIOD TIMEGRP "f1485"  6.667 nS   HIGH 50.000000 % ;
TS_f1484 = PERIOD TIMEGRP "f1484"  6.667 nS   HIGH 50.000000 % ;
TS_f27 = PERIOD TIMEGRP "f27"  37.037 nS   HIGH 50.000000 % ;
SCHEMATIC END ;
