// Template UCF file created by the Project Navigator
NET ic5_s0 LOC=P6;
NET ic5_s3 LOC=P7;
NET ic5_s2 LOC=P9;
NET ic5_s1 LOC=P10;
NET ic6_s3 LOC=P33;
NET clk LOC=P38;
NET ic6_s2 LOC=P39;
NET ic6_s1 LOC=P43;
NET ic6_s0 LOC=P44;
NET line_freq LOC=P64;
NET frame LOC=P53;
NET clk_out LOC=P95;
NET sync_t LOC=P110;
NET sync LOC=P111;
NET blank LOC=P112;
NET reset LOC=P2;
