Screen Mode = 1
Base        = 1
Ram Disk    = 67
Drive       = U:
Path        = \PT5664\APD\TEST\SIGNALER
Type        = *.*
Device Code = 649172
Swapping Page Size = 131071
File No.    = 13
Gang Mode   = 0
Pod Type    = 20
