//! **************************************************************************
// Written by: Map H.42 on Thu Dec 01 16:31:56 2005
//! **************************************************************************

SCHEMATIC START;
NET "clk_i_BUFGP/IBUFG" BEL "clk_i_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
