SCHEMATIC START ;
// created by map version E.38 on Fri Nov 28 14:13:00 2003 
COMP "cs" LOCATE = SITE "P114" LEVEL 1; 
COMP "f4m" LOCATE = SITE "P125" LEVEL 1; 
COMP "f8g" LOCATE = SITE "P124" LEVEL 1; 
COMP "f27m" LOCATE = SITE "P55" LEVEL 1; 
COMP "mreset" LOCATE = SITE "P60" LEVEL 1; 
COMP "sync_t_tp" LOCATE = SITE "P132" LEVEL 1; 
COMP "mosi" LOCATE = SITE "P58" LEVEL 1; 
COMP "sync_in" LOCATE = SITE "P106" LEVEL 1; 
COMP "bcb_l<0>" LOCATE = SITE "P29" LEVEL 1; 
COMP "gpbus0" LOCATE = SITE "P133" LEVEL 1; 
COMP "gpbus1" LOCATE = SITE "P121" LEVEL 1; 
COMP "bcb_l<1>" LOCATE = SITE "P28" LEVEL 1; 
COMP "gpbus2" LOCATE = SITE "P7" LEVEL 1; 
COMP "gpbus3" LOCATE = SITE "P12" LEVEL 1; 
COMP "bcb_l<2>" LOCATE = SITE "P27" LEVEL 1; 
COMP "gpbus4" LOCATE = SITE "P20" LEVEL 1; 
COMP "sck" LOCATE = SITE "P52" LEVEL 1; 
COMP "gpbus5" LOCATE = SITE "P18" LEVEL 1; 
COMP "gpbus6" LOCATE = SITE "P5" LEVEL 1; 
COMP "bcb_l<3>" LOCATE = SITE "P26" LEVEL 1; 
COMP "gpbus7" LOCATE = SITE "P57" LEVEL 1; 
COMP "sync_tp" LOCATE = SITE "P6" LEVEL 1; 
COMP "f1485" LOCATE = SITE "P39" LEVEL 1; 
COMP "f14835" LOCATE = SITE "P40" LEVEL 1; 
SCHEMATIC END ;
