//! **************************************************************************
// Written by: Map H.42 on Fri Mar 23 10:32:44 2007
//! **************************************************************************

SCHEMATIC START;
NET "clk_148_i_BUFGP/IBUFG" BEL "clk_148_i_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;
