//! **************************************************************************
// Written by: Map H.42 on Tue Mar 27 08:29:33 2007
//! **************************************************************************

SCHEMATIC START;
NET "clk_i_BUFGP/IBUFG" BEL "clk_i_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
