Screen Mode = 1
Base        = 1
Hex Mode    = 98
File Format = 76
Ram Disk    = 67
Drive       = T:
Path        = \PT5210\PROMMER
Type        = *.BIN
Device Code = 649172
Swapping Page Size = 131071
File No.    = 6
Gang Mode   = 0
Pod Type    = 20
