*********************************************************************************
*                                                                               *
* DRILL TAPE SUMMARY REPORT                                                     *
*                                                                               *
* F:\PT8619\PCB 4008 117 08451\GERBER 4008 117 08452 230307\4008 117 08452.MAX  *
* Fri Mar 23 11:40:14 2007                                                      *
*                                                                               *
*********************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       120      84       200      100                                                                                 
T2       310      15       200      100                                                                                 
T3       320      64       200      100                                                                                 
T4       340      14       200      100                                                                                 
T5       380      16       200      100                                                                                 
T6       390      34       200      100                                                                                 
T7       800      5        200      100                                                                                 
T8       1500     8        200      100                                                                                 
