A.white:link {
	FONT-SIZE: 8pt; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.white:visited {
	FONT-SIZE: 8pt; COLOR: #ffffff
}
A.white:hover {
	FONT-SIZE: 8pt; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.white:active {
	FONT-SIZE: 8pt; COLOR: #ffffff
}
.body {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif, Courier
}
P {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif, Courier
}
B {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: none
}
B.bodywhite {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: none
}
I {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: none
}
.bodywhite {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: none
}
.head {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #770077; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: none
}
.subheader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif, Courier; TEXT-DECORATION: none
}
.subheader2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif, Courier; TEXT-DECORATION: none
}
.redsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: none
}
.introcopy {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif, Courier; TEXT-DECORATION: none
}
.indented {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-INDENT: 50px; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: none
}
.sidenavbody {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: none
}
.notes {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif, Courier; TEXT-DECORATION: none
}
B.intro {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif, Courier; TEXT-DECORATION: none
}
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 8pt; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
A.WHITE:link {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
A.WHITE:hover {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
A.WHITE:visited {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
A.WHITE:active {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: none
}
LI {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: none
}
BLOCKQUOTE {
	FONT-SIZE: 8pt; MARGIN-LEFT: 25px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif; TEXT-DECORATION: none
}
.bodybold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif, Courier
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
