Screen Mode = 1
Base        = 1
Ram Disk    = 67
Drive       = U:
Path        = \PT5230\PT8632\TPD\PROMS.STD
Type        = *.BIN
Device Code = 603089
Swapping Page Size = 131071
File No.    = 11
Gang Mode   = 0
Pod Type    = 20
