Screen Mode = 1
Base        = 1
Ram Disk    = 67
Drive       = U:
Path        = \PT5230\PT8633\TPD\PROMS.STD\NEW
Type        = *.DAT
Device Code = 694360
Swapping Page Size = 131071
File No.    = 5
Gang Mode   = 0
Pod Type    = 20
