SCHEMATIC START ;
// created by map version G.38 on Mon Jun 06 14:27:44 2005 
COMP "f1484" LOCATE =  SITE "P76" LEVEL 1; 
COMP "f1485" LOCATE =  SITE "P77" LEVEL 1; 
COMP "led1" LOCATE =  SITE "P126" LEVEL 1; 
COMP "f4m" LOCATE =  SITE "P81" LEVEL 1; 
COMP "f8g" LOCATE =  SITE "P85" LEVEL 1; 
COMP "mreset" LOCATE =  SITE "P80" LEVEL 1; 
COMP "ext30_o" LOCATE =  SITE "P37" LEVEL 1; 
COMP "ext31_o" LOCATE =  SITE "P36" LEVEL 1; 
COMP "led2" LOCATE =  SITE "P97" LEVEL 1; 
COMP "ext32_o" LOCATE =  SITE "P35" LEVEL 1; 
COMP "ext33_o" LOCATE =  SITE "P34" LEVEL 1; 
COMP "led3" LOCATE =  SITE "P141" LEVEL 1; 
NET "f1484_BUFGP/IBUFG" BEL "f1484_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT ;
NET "f1485_BUFGP/IBUFG" BEL "f1485_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT ;
NET "f1485_BUFGP/IBUFG" PERIOD =  6 nS   HIGH 50.000000 % ;
NET "f1484_BUFGP/IBUFG" PERIOD =  6 nS   HIGH 50.000000 % ;
SCHEMATIC END ;
