Screen Mode = 1
Base        = 1
Pod Type    = 28
Drive       = U:
Path        = \PT5210\PT8602\TPD\PROMS.STD
Type        = *.POF
Device Code = 312702
File No.    = 8
Gang Mode   = 0
Beep        = 1
