############################################################################
##
##  Xilinx, Inc. 2007            www.xilinx.com  
##  Thu March 22 16:10:17 2007
##
##  
############################################################################
##  File name :       ddr2_test.ucf
## 
##  Description :     Constraints file
##                    targetted to xc2vp20-6 ff896 
##
############################################################################

############################################################################
# Clock constraints                                                        #
############################################################################
#NET "sys_clk_ibuf" TNM_NET = FFS(*) "SYS_CLK";
#TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK"  5.952381  ns HIGH 50 %;

############################################################################
############################################################################

## I/O STANDARDS                 
############################################################################
#NET "SYS_CLK*"                        IOSTANDARD = LVPECL_25; 
#NET "reset_in"                        IOSTANDARD = LVCMOS25; 

############################################################################

############################################################################
# Banks 4
# Pin Location Constraints for System clock and system controls 
 ############################################################################
NET "brefclk_p_i" TNM_NET = "brefclk_p_i";
TIMESPEC "TS_brefclk_p_i" = PERIOD "brefclk_p_i" 150 MHz HIGH 50 % INPUT_JITTER 0 ns;
NET "brefclk_n_i" TNM_NET = "brefclk_n_i";
TIMESPEC "TS_brefclk_n_i" = PERIOD "brefclk_n_i" 150 MHz HIGH 50 % INPUT_JITTER 0 ns;
NET  "brefclk_n_i"               LOC = "G16"  ; 
NET  "brefclk_p_i"                LOC = "F16" ;

#NET  "SYS_CLKb"               LOC = "AF15";
#NET  "SYS_CLK"                LOC = "AG15";
NET "mem_interface_top_inst/infrastructure_top0/wait_200us*" TNM = "wait200us";
NET  "mem_interface_top_inst/infrastructure_top0/wait_clk90" TNM = "wait200us90";
NET  "mem_interface_top_inst/infrastructure_top0/sys_rst*" TNM = "sysrst";


TIMESPEC TS01 =  FROM  "wait200us"  TO  "sysrst"   TIG;

TIMESPEC TS02 =  FROM  "wait200us90"  TO  "sysrst"   TIG;

TIMESPEC TS05 =  FROM  "wait200us"  TO  "wait200us90"   TIG;

#NET "*/ddr2_top0/reset90_r" TIG;
NET "*/controller0/rst_calib*" TIG;
#INST "*/ddr2_top0/infrastructure0/delay_sel_val*" TIG;
#INST "*/ddr2_top0/infrastructure0/rst_calib*" TIG;
#INST "*/cal_top0/cal_ctl0/un1_tapForDqs*" TIG;
NET "mreset_i" TIG;
#NET "sys_rst*" TIG;
NET "*/controller0/rst0*" TIG;
NET "*/controller0/rst180*" TIG;
INST "*/data_path0/data_read_controller0/dqs_delay*_col*" TIG;
#INST "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delayed*" TIG;


#############################################################################
# Calibration Circuit Constraints                                                                              #  
#############################################################################

NET "mem_interface_top_inst/infrastructure_top0/cal_top0/seltap(4)" S;

NET "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/delay1" KEEP;
NET "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/delay2" KEEP;
NET "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/delay3" KEEP;
NET "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/delay4" KEEP;
NET "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/delay5" KEEP;




 




############################################################################
# Calibration Circuit Constraints
############################################################################

INST "mem_interface_top_inst/infrastructure_top0/cal_top0/cal_dcm" LOC="DCM_X2Y0";

INST "mem_interface_top_inst/infrastructure_top0/cal_top0" AREA_GROUP=gp1;
AREA_GROUP "gp1" RANGE = SLICE_X52Y0:SLICE_X75Y15;


INST "mem_interface_top_inst/infrastructure_top0/cal_top0/cal_clkd2" LOC = SLICE_X72Y0;
INST "mem_interface_top_inst/infrastructure_top0/cal_top0/cal_phClkd2" LOC = SLICE_X72Y3;

INST "mem_interface_top_inst/infrastructure_top0/cal_top0/hxSampReg0" LOC = SLICE_X74Y0;

INST "mem_interface_top_inst/infrastructure_top0/cal_top0/cal_suClkd2" LOC = SLICE_X72Y4;
INST "mem_interface_top_inst/infrastructure_top0/cal_top0/cal_suPhClkd2" LOC = SLICE_X74Y5;
INST "mem_interface_top_inst/infrastructure_top0/cal_top0/phSampReg0" LOC = SLICE_X74Y4;
#############################################################
# LUT Location Constraints for dqs_delay Circuit
#############################################################
 INST "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/one" LOC = SLICE_X74Y2; 
 INST "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/one" BEL = F; 
 INST "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/two" LOC = SLICE_X74Y3; 
 INST "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/two" BEL = F; 
 INST "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/three" LOC = SLICE_X74Y3; 
 INST "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/three" BEL = G; 
 INST "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/four" LOC = SLICE_X75Y2; 
 INST "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/four" BEL = F; 
 INST "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/five" LOC = SLICE_X75Y2; 
 INST "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/five" BEL = G; 
 INST "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/six" LOC = SLICE_X75Y3; 
 INST "mem_interface_top_inst/infrastructure_top0/cal_top0/ckt_to_cal/six" BEL = G; 

###no_dcm
############################################################################
# DCM, MACRO and BUFG  Constraints
############################################################################

INST "mem_interface_top_inst/infrastructure_top0/clk_dcm0/DCM_INST1" LOC="DCM_X3Y0";

INST "mem_interface_top_inst/infrastructure_top0/clk_dcm0/BUFG_CLK0" LOC="BUFGMUX6P";
INST "mem_interface_top_inst/infrastructure_top0/clk_dcm0/BUFG_CLK90" LOC="BUFGMUX7S";


NET "mem_interface_top_inst/infrastructure_top0/cal_top0/clkdiv2" MAXDELAY = 600 ps;
NET "mem_interface_top_inst/infrastructure_top0/cal_top0/phclkdiv2" MAXDELAY = 600 ps;

NET "mem_interface_top_inst/infrastructure_top0/cal_top0/suclkdiv2" MAXDELAY = 600ps;
NET "mem_interface_top_inst/infrastructure_top0/cal_top0/suphclkdiv2" MAXDELAY = 700ps;

##############################################################################
# MaxDelay constraints                                                                                                #
##############################################################################

NET "mem_interface_top_inst/infrastructure_top0/clk_dcm0/clk0dcm" MAXDELAY = 0.450ns;
NET "mem_interface_top_inst/infrastructure_top0/clk_dcm0/clk90dcm" MAXDELAY = 0.450ns;
NET "mem_interface_top_inst/infrastructure_top0/clk_dcm0/clk0d2inv" MAXDELAY = 0.755ns;
NET "mem_interface_top_inst/infrastructure_top0/clk_dcm0/clk90d2inv" MAXDELAY = 0.755ns;


#********************************************************************#
#                        CONTROLLER 0                               #
#********************************************************************#
############################################################################
# I/O STANDARDS                                                         #
############################################################################
# SSTL18_II for input or output signals 
#NET "ddr2_dq(*)"                      IOSTANDARD = SSTL18_II; 
#NET "cntrl0_ddr2_dm(*)"                         IOSTANDARD = SSTL18_II;
#NET "cntrl0_ddr2_clk*"                       IOSTANDARD = SSTL18_II; 
#NET "cntrl0_ddr2_clk*b"                      IOSTANDARD = SSTL18_II; 
#NET "cntrl0_ddr2_address(*)"                 IOSTANDARD = SSTL18_II; 
#NET "cntrl0_ddr2_ba(*)"                      IOSTANDARD = SSTL18_II; 
#NET "cntrl0_ddr2_rasb"                       IOSTANDARD = SSTL18_II; 
#NET "cntrl0_ddr2_casb"                       IOSTANDARD = SSTL18_II; 
#NET "cntrl0_ddr2_web"                        IOSTANDARD = SSTL18_II; 
#NET "cntrl0_ddr2_csb"                        IOSTANDARD = SSTL18_II; 
#NET "cntrl0_ddr2_cke"                        IOSTANDARD = SSTL18_II; 
#NET "cntrl0_rst_dqs_div_in"                        IOSTANDARD = SSTL18_II; 
#NET "cntrl0_rst_dqs_div_out"                        IOSTANDARD = SSTL18_II; 
#NET "cntrl0_led_error_output1"                 IOSTANDARD = LVCMOS25;
#NET "cntrl0_ddr2_ODT0"                    IOSTANDARD = SSTL18_II;
NET "*/ddr2_top0/controller0/cas_latency(*)" TIG;

############################################################################
# IO Signals Registering Constraints                                           #
############################################################################
INST "*/ddr2_top0/iobs0/data_path_iobs0/ddr_dqs_iob*"  IOB = TRUE;
INST "*/ddr2_top0/iobs0/data_path_iobs0/ddr_dq_iob*"  IOB = TRUE;
INST "*/ddr2_top0/controller0/rst_iob_out"            IOB = TRUE;
INST "*/ddr2_top0/iobs0/controller_iobs0/iob_addr*" IOB = TRUE;
INST "*/ddr2_top0/iobs0/controller_iobs0/iob_ba*" IOB = TRUE;
INST "*/ddr2_top0/iobs0/controller_iobs0/iob_rasb"      IOB = TRUE;
INST "*/ddr2_top0/iobs0/controller_iobs0/iob_casb"      IOB = TRUE;
INST "*/ddr2_top0/iobs0/controller_iobs0/iob_web"     IOB = TRUE;
INST "*/ddr2_top0/iobs0/controller_iobs0/iob_cke"     IOB = TRUE;

############################################################################
# Banks 3
# Pin Location Constraints for Clock,Masks, Address, and Controls 
 ############################################################################
NET  "ddr2_clk0"              LOC = "V8" ;
NET  "ddr2_clk0b"             LOC = "V7" ;
NET  "ddr2_dm(0)"             LOC = "W4" ;
NET  "ddr2_dm(1)"             LOC = "W3" ;
NET  "ddr2_cke"               LOC = "W6" ;
NET  "ddr2_csb"               LOC = "W5" ;
NET  "ddr2_rasb"              LOC = "Y5" ;
NET  "ddr2_casb"              LOC = "Y4" ;
NET  "ddr2_web"               LOC = "AA4" ;
NET  "ddr2_ba(0)"             LOC = "AA3" ;
NET  "ddr2_ba(1)"             LOC = "W8" ;
NET  "ddr2_address(0)"       LOC = "W7" ;
NET  "ddr2_address(1)"       LOC = "AB4" ;
NET  "ddr2_address(2)"       LOC = "AB3" ;
NET  "ddr2_address(3)"       LOC = "AA6" ;
NET  "ddr2_address(4)"       LOC = "AA5" ;
NET  "ddr2_address(5)"       LOC = "AC4" ;
NET  "ddr2_address(6)"       LOC = "AC3" ;
NET  "ddr2_address(7)"       LOC = "AD2" ;
NET  "ddr2_address(8)"       LOC = "AD1" ;
NET  "ddr2_address(9)"       LOC = "Y8" ;
NET  "ddr2_address(10)"       LOC = "Y7" ;
NET  "ddr2_address(11)"       LOC = "AB6" ;
NET  "ddr2_address(12)"       LOC = "AB5" ;
NET  "ddr2_ODT0"              LOC = "AA8" ;
#NET  "cntrl0_led_error_output1"      LOC = "AC9" ;
NET  "mreset_i"               LOC = "AD23" ;

#########################################################################
# MAXDELAY constraints                                                                        #
#########################################################################
NET  "*/ddr2_top0/data_path0/data_read0/fbit_0(*)"                            MAXDELAY = 1500ps;
NET  "*/ddr2_top0/data_path0/data_read0/fbit_1(*)"                            MAXDELAY = 1500ps;
NET  "*/ddr2_top0/data_path0/data_read0/fbit_2(*)"                            MAXDELAY = 1500ps;
NET  "*/ddr2_top0/data_path0/data_read0/fbit_3(*)"                            MAXDELAY = 1500ps;
NET  "*/ddr2_top0/controller0/rst_dqs_div_int"                                    MAXDELAY = 700ps ;
NET  "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delayed"            MAXDELAY = 2000ps;
NET  "*/ddr2_top0/data_path0/data_read_controller0/fifo_*_wr_addr*"                 MAXDELAY = 4000ps;
NET  "*/ddr2_top0/data_path0/data_read0/fifo_*_rd_addr*"                            MAXDELAY = 4000ps;
NET  "*/ddr2_top0/data_path0/data_read_controller0/transfer_done_*"                 MAXDELAY = 2000ps;
#########################################################################

########################################################################
NET  "ddr_rst_dqs_div_i"    LOC = "Y2";
NET  "ddr_rst_dqs_div_o"    LOC = "AA2";

INST "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delay0/one" LOC = SLICE_X90Y38;
INST "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delay0/one" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delay0/two" LOC = SLICE_X90Y39;
INST "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delay0/two" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delay0/three" LOC = SLICE_X90Y39;
INST "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delay0/three" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delay0/four" LOC = SLICE_X91Y38;
INST "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delay0/four" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delay0/five" LOC = SLICE_X91Y38;
INST "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delay0/five" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delay0/six" LOC = SLICE_X91Y39;
INST "*/ddr2_top0/data_path0/data_read_controller0/rst_dqs_div_delay0/six" BEL = G;

#############################################################
##  constraints for bit ddr2_dqs_n, 0
NET  "ddr2_dqs_n(0)" LOC = U1;
#############################################################
##  constraints for bit ddr2_dqs, 0
NET  "ddr2_dqs(0)" LOC = V1;
NET "*/ddr2_top0/dqs_int_delay_in0"
 ROUTE="{2;1;-7!-1;104456;80400;22;141;210;16;8!0;-159;0;38!1;-4441;-1263;"
"2!2;-2416;724;0!2;-31;723!2;3456;0!2;31;-723!2;-56;320!2;-40;80!2;65;-77!"
"2;0;80!2;-3481;-83!2;-40;80!2;65;-77!2;0;80!3;167;-768;4;135;208;13;13!4;"
"160;1088;4;135;211;18!5;3456;0;4;138!6;-160;-1088;4;138;208;13!7;0;320;4;"
"138;209;10!8;0;80;4;138;209;18!9;160;288;4;138;210;13!10;0;80;4;138;210;"
"21!11;-3616;-448;4;135;209;10!12;0;80;4;135;209;18!13;160;288;4;135;210;"
"13!14;0;80;4;135;210;21!}";
## LUT location constraints for col 0
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col0/one" LOC = SLICE_X90Y54;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col0/one" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col0/two" LOC = SLICE_X90Y55;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col0/two" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col0/three" LOC = SLICE_X90Y55;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col0/three" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col0/four" LOC = SLICE_X91Y54;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col0/four" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col0/five" LOC = SLICE_X91Y54;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col0/five" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col0/six" LOC = SLICE_X91Y55;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col0/six" BEL = G;

## LUT location constraints for col 1
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col1/one" LOC = SLICE_X88Y54;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col1/one" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col1/two" LOC = SLICE_X88Y55;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col1/two" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col1/three" LOC = SLICE_X88Y55;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col1/three" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col1/four" LOC = SLICE_X89Y54;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col1/four" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col1/five" LOC = SLICE_X89Y54;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col1/five" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col1/six" LOC = SLICE_X89Y55;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay0_col1/six" BEL = G;
#############################################################
##  constraints for bit ddr2_dq, 0
NET  "ddr2_dq(0)" LOC = T5;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/fbit0" RLOC_ORIGIN = X88Y52;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/fbit0" RLOC = X0Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/fbit0" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/fbit2" RLOC = X1Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/fbit2" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/fbit1" RLOC = X3Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/fbit1" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/fbit3" RLOC = X2Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/fbit3" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
#############################################################
##  constraints for bit ddr2_dq, 1
NET  "ddr2_dq(1)" LOC = T6;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit1/fbit0" RLOC = X0Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit1/fbit0" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit1/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit1/fbit2" RLOC = X1Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit1/fbit2" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit1/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit1/fbit1" RLOC = X3Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit1/fbit1" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit1/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit1/fbit3" RLOC = X2Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit1/fbit3" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit1/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
#############################################################
##  constraints for bit ddr2_dq, 2
NET  "ddr2_dq(2)" LOC = T3;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit2/fbit0" RLOC = X0Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit2/fbit0" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit2/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit2/fbit2" RLOC = X1Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit2/fbit2" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit2/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit2/fbit1" RLOC = X3Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit2/fbit1" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit2/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit2/fbit3" RLOC = X2Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit2/fbit3" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit2/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
#############################################################
##  constraints for bit ddr2_dq, 3
NET  "ddr2_dq(3)" LOC = T4;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit3/fbit0" RLOC = X0Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit3/fbit0" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit3/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit3/fbit2" RLOC = X1Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit3/fbit2" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit3/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit3/fbit1" RLOC = X3Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit3/fbit1" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit3/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit3/fbit3" RLOC = X2Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit3/fbit3" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit3/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit0/dq";

#############################################################
##  constraints for bit no_dpin, 0
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_dqs_div0/col0" LOC = SLICE_X91Y51;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_dqs_div0/col1" LOC = SLICE_X89Y51;
NET "*/ddr2_top0/data_path0/data_read_controller0/ddr2_dqs_div0/dqs_divn" MAXDELAY = 1200ps;
NET "*/ddr2_top0/data_path0/data_read_controller0/ddr2_dqs_div0/dqs_divp" MAXDELAY = 1200ps;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0_clk0" LOC = SLICE_X89Y50;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0_clk0" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0_clk90" LOC = SLICE_X91Y50;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0_clk90" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0_rst90" LOC = SLICE_X91Y50;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0_rst90" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0_clk180" LOC = SLICE_X88Y51;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0_clk180" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0_clk270" LOC = SLICE_X90Y51;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0_clk270" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0_rst270" LOC = SLICE_X90Y51;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0_rst270" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0" LOC = SLICE_X90Y51;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone0" BEL = F;

INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone1_clk270" LOC = SLICE_X87Y51;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone1_clk270" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone2_clk270" LOC = SLICE_X87Y51;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone2_clk270" BEL = FFY;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone1_clk90" LOC = SLICE_X87Y50;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone1_clk90" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone2_clk90" LOC = SLICE_X87Y50;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone2_clk90" BEL = FFY;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone1" LOC = SLICE_X87Y50;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone1" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone2" LOC = SLICE_X87Y50;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone2" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone3_clk90" LOC = SLICE_X86Y51;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone3_clk90" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone3_clk270" LOC = SLICE_X86Y50;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone3_clk270" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone3" LOC = SLICE_X86Y50;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done0/xdone3" BEL = F;
#############################################################
##  constraints for bit ddr2_dq, 4
NET  "ddr2_dq(4)" LOC = T7;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/fbit0" RLOC_ORIGIN = X88Y48;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/fbit0" RLOC = X0Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/fbit0" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/fbit2" RLOC = X1Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/fbit2" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/fbit1" RLOC = X3Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/fbit1" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/fbit3" RLOC = X2Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/fbit3" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
#############################################################
##  constraints for bit ddr2_dq, 5
NET  "ddr2_dq(5)" LOC = T8;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit5/fbit0" RLOC = X0Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit5/fbit0" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit5/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit5/fbit2" RLOC = X1Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit5/fbit2" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit5/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit5/fbit1" RLOC = X3Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit5/fbit1" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit5/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit5/fbit3" RLOC = X2Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit5/fbit3" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit5/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
#############################################################
##  constraints for bit ddr2_dq, 6
NET  "ddr2_dq(6)" LOC = U4;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit6/fbit0" RLOC = X0Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit6/fbit0" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit6/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit6/fbit2" RLOC = X1Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit6/fbit2" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit6/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit6/fbit1" RLOC = X3Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit6/fbit1" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit6/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit6/fbit3" RLOC = X2Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit6/fbit3" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit6/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
#############################################################
##  constraints for bit ddr2_dq, 7
NET  "ddr2_dq(7)" LOC = U5;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit7/fbit0" RLOC = X0Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit7/fbit0" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit7/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit7/fbit2" RLOC = X1Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit7/fbit2" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit7/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit7/fbit1" RLOC = X3Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit7/fbit1" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit7/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit7/fbit3" RLOC = X2Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit7/fbit3" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit7/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit4/dq";

#############################################################
##  constraints for bit ddr2_dqs_n, 1
NET  "ddr2_dqs_n(1)" LOC = V2;
#############################################################
##  constraints for bit ddr2_dqs, 1
NET  "ddr2_dqs(1)" LOC = W2;
NET "*/ddr2_top0/dqs_int_delay_in1"
 ROUTE="{2;1;-7!-1;104456;80400;22;141;210;16;8!0;-159;0;38!1;-4441;-1263;"
"2!2;-2416;724;0!2;-31;723!2;3456;0!2;31;-723!2;-56;320!2;-40;80!2;65;-77!"
"2;0;80!2;-3481;-83!2;-40;80!2;65;-77!2;0;80!3;167;-768;4;135;208;13;13!4;"
"160;1088;4;135;211;18!5;3456;0;4;138!6;-160;-1088;4;138;208;13!7;0;320;4;"
"138;209;10!8;0;80;4;138;209;18!9;160;288;4;138;210;13!10;0;80;4;138;210;"
"21!11;-3616;-448;4;135;209;10!12;0;80;4;135;209;18!13;160;288;4;135;210;"
"13!14;0;80;4;135;210;21!}";
## LUT location constraints for col 0
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col0/one" LOC = SLICE_X90Y46;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col0/one" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col0/two" LOC = SLICE_X90Y47;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col0/two" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col0/three" LOC = SLICE_X90Y47;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col0/three" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col0/four" LOC = SLICE_X91Y46;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col0/four" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col0/five" LOC = SLICE_X91Y46;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col0/five" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col0/six" LOC = SLICE_X91Y47;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col0/six" BEL = G;

## LUT location constraints for col 1
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col1/one" LOC = SLICE_X88Y46;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col1/one" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col1/two" LOC = SLICE_X88Y47;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col1/two" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col1/three" LOC = SLICE_X88Y47;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col1/three" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col1/four" LOC = SLICE_X89Y46;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col1/four" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col1/five" LOC = SLICE_X89Y46;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col1/five" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col1/six" LOC = SLICE_X89Y47;
INST "*/ddr2_top0/data_path0/data_read_controller0/dqs_delay1_col1/six" BEL = G;
#############################################################
##  constraints for bit ddr2_dq, 8
NET  "ddr2_dq(8)" LOC = T9;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/fbit0" RLOC_ORIGIN = X88Y44;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/fbit0" RLOC = X0Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/fbit0" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/fbit2" RLOC = X1Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/fbit2" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/fbit1" RLOC = X3Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/fbit1" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/fbit3" RLOC = X2Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/fbit3" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
#############################################################
##  constraints for bit ddr2_dq, 9
NET  "ddr2_dq(9)" LOC = U9;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit9/fbit0" RLOC = X0Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit9/fbit0" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit9/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit9/fbit2" RLOC = X1Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit9/fbit2" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit9/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit9/fbit1" RLOC = X3Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit9/fbit1" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit9/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit9/fbit3" RLOC = X2Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit9/fbit3" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit9/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
#############################################################
##  constraints for bit ddr2_dq, 10
NET  "ddr2_dq(10)" LOC = V3;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit10/fbit0" RLOC = X0Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit10/fbit0" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit10/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit10/fbit2" RLOC = X1Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit10/fbit2" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit10/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit10/fbit1" RLOC = X3Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit10/fbit1" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit10/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit10/fbit3" RLOC = X2Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit10/fbit3" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit10/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
#############################################################
##  constraints for bit ddr2_dq, 11
NET  "ddr2_dq(11)" LOC = V4;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit11/fbit0" RLOC = X0Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit11/fbit0" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit11/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit11/fbit2" RLOC = X1Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit11/fbit2" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit11/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit11/fbit1" RLOC = X3Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit11/fbit1" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit11/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit11/fbit3" RLOC = X2Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit11/fbit3" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit11/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit8/dq";

#############################################################
##  constraints for bit no_dpin, 1
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_dqs_div1/col0" LOC = SLICE_X91Y43;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_dqs_div1/col1" LOC = SLICE_X89Y43;
NET "*/ddr2_top0/data_path0/data_read_controller0/ddr2_dqs_div1/dqs_divn" MAXDELAY = 1200ps;
NET "*/ddr2_top0/data_path0/data_read_controller0/ddr2_dqs_div1/dqs_divp" MAXDELAY = 1200ps;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0_clk0" LOC = SLICE_X89Y42;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0_clk0" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0_clk90" LOC = SLICE_X91Y42;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0_clk90" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0_rst90" LOC = SLICE_X91Y42;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0_rst90" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0_clk180" LOC = SLICE_X88Y43;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0_clk180" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0_clk270" LOC = SLICE_X90Y43;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0_clk270" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0_rst270" LOC = SLICE_X90Y43;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0_rst270" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0" LOC = SLICE_X90Y43;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone0" BEL = F;

INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone1_clk270" LOC = SLICE_X87Y43;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone1_clk270" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone2_clk270" LOC = SLICE_X87Y43;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone2_clk270" BEL = FFY;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone1_clk90" LOC = SLICE_X87Y42;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone1_clk90" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone2_clk90" LOC = SLICE_X87Y42;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone2_clk90" BEL = FFY;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone1" LOC = SLICE_X87Y42;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone1" BEL = F;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone2" LOC = SLICE_X87Y42;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone2" BEL = G;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone3_clk90" LOC = SLICE_X86Y43;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone3_clk90" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone3_clk270" LOC = SLICE_X86Y42;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone3_clk270" BEL = FFX;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone3" LOC = SLICE_X86Y42;
INST "*/ddr2_top0/data_path0/data_read_controller0/ddr2_transfer_done1/xdone3" BEL = F;
#############################################################
##  constraints for bit ddr2_dq, 12
NET  "ddr2_dq(12)" LOC = U7;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/fbit0" RLOC_ORIGIN = X88Y40;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/fbit0" RLOC = X0Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/fbit0" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/fbit2" RLOC = X1Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/fbit2" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/fbit1" RLOC = X3Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/fbit1" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/fbit3" RLOC = X2Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/fbit3" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
#############################################################
##  constraints for bit ddr2_dq, 13
NET  "ddr2_dq(13)" LOC = U8;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit13/fbit0" RLOC = X0Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit13/fbit0" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit13/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit13/fbit2" RLOC = X1Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit13/fbit2" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit13/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit13/fbit1" RLOC = X3Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit13/fbit1" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit13/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit13/fbit3" RLOC = X2Y0;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit13/fbit3" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit13/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
#############################################################
##  constraints for bit ddr2_dq, 14
NET  "ddr2_dq(14)" LOC = V5;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit14/fbit0" RLOC = X0Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit14/fbit0" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit14/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit14/fbit2" RLOC = X1Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit14/fbit2" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit14/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit14/fbit1" RLOC = X3Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit14/fbit1" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit14/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit14/fbit3" RLOC = X2Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit14/fbit3" BEL = "FFY";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit14/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
#############################################################
##  constraints for bit ddr2_dq, 15
NET  "ddr2_dq(15)" LOC = V6;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit15/fbit0" RLOC = X0Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit15/fbit0" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit15/fbit0" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit15/fbit2" RLOC = X1Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit15/fbit2" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit15/fbit2" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit15/fbit1" RLOC = X3Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit15/fbit1" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit15/fbit1" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit15/fbit3" RLOC = X2Y1;
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit15/fbit3" BEL = "FFX";
INST "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit15/fbit3" U_SET = "*/ddr2_top0/data_path0/data_read0/ddr2_dqbit12/dq";

NET "pc_data_o<0>"  LOC = "AE23"  ;
NET "pc_data_o<1>"  LOC = "AH26"  ;
NET "pc_data_o<2>"  LOC = "AH27"  ;
NET "pc_data_o<3>"  LOC = "AK28"  ;
NET "pc_data_o<4>"  LOC = "AH29"  ;
NET "pc_data_o<5>"  LOC = "AH30"  ;
NET "pc_data_o<6>"  LOC = "AF24"  ;
NET "pc_data_o<7>"  LOC = "AF25"  ;
NET "pc_data_o<8>"  LOC = "AG26"  ;
NET "pc_data_o<9>"  LOC = "AF27"  ;
NET "pc_data_o<10>"  LOC = "AJ28" ;
NET "pc_data_o<11>"  LOC = "AG29" ;
NET "pc_data_o<12>"  LOC = "AF21" ;
NET "pc_data_o<13>"  LOC = "AE22" ;
NET "pc_data_o<14>"  LOC = "AF23" ;
NET "pc_data_o<15>"  LOC = "AE24" ;
NET "pc_data_o<16>"  LOC = "AD25" ;
NET "pc_data_o<17>"  LOC = "AE26" ;
NET "pc_data_o<18>"  LOC = "AG30" ;
NET "pc_data_o<19>"  LOC = "AF28" ;
NET "pc_data_o<20>"  LOC = "AE29" ;
NET "pc_data_o<21>"  LOC = "AE27" ;

NET "led_o<0>"  LOC = "AG28"  ; #D2
NET "led_o<1>"  LOC = "AF29"  ; #D3