*************************************************
*                                               *
* DRILL TAPE SUMMARY REPORT                     *
*                                               *
* F:\PT0760\PCB\FLEXPRINTS\REV 2\FRONT2VGA.MAX  *
* Wed Sep 27 12:31:06 2006                      *
*                                               *
*************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       480      2        200      100                                                                                 
